/* ============================= */
/* article 구간 */
/* ============================= */
article {
  padding-top: 7rem;
  padding-bottom: 12rem;
  background-color: var(--linkbrary-white, #ffffff);
}

/* 섹션 공통 */
section {
  display: grid;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 15.7rem;
  width: 100%;
  height: 55rem;
  padding: 5rem 0;
}

/* 홀수번째 텍스트:좌, 이미지:우 / 좌width 29.1rem, 우width 55rem */
section:nth-of-type(odd) {
  grid-template:
    ". image"
    "title image"
    "description image"
    ". image"
    /29.1rem 55rem;
}
/* 짝수번째 텍스트:우, 이미지:좌 / 우width 29.1rem, 좌width 55rem */
section:nth-of-type(even) {
  grid-template:
    "image ."
    "image title"
    "image description"
    "image ."
    /55rem 29.1rem;
}

/* 섹션 제목 */
.section-title {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
  grid-area: title;
}

/* 섹션 설명 */
.description {
  color: #6b6b6b;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; /* 2.4rem */
  grid-area: description;
}

/* 이미지 사진 */
.image-card {
  grid-area: image;
  width: 55rem;
  height: 45rem;
}

/* 섹션 제목의 그라디언트 */
.title-gradient-1 {
  background-image: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
}

.title-gradient-2 {
  background-image: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
}

.title-gradient-3 {
  background-image: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
}

.title-gradient-4 {
  background-image: var(
    --fandom-k-gra-blue-to-pink,
    linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%)
  );
}
