:root {
  --blue-1: #6D6AFE;
  --blue-2: #6AE3FE;
  --red-1: #FF5B56;
  --black-1: #111322;
  --black-2: #000000;
  --white-1: #FFFFFF;
  --gray-1: #373740;
  --gray-2: #9FA6B2;
  --gray-3: #CCD5E3;
  --gray-4: #E7EFFB;
  --gray-5: #F0F6FF;
  --gray-6: #F5F5F5;
  --gray-7: #373740;
  --gray-8: #394037;
}