@layer vars;

@layer vars.colors {
  html {
    --color-primary: #6d6afe;
    --color-red: #ff5b56;
    --color-bg: #f0f6ff;
    --color-black: #111322;
    --color-white: #ffffff;
    --color-gray-1: #f0f6ff;
    --color-gray-2: #e7effb;
    --color-gray-3: #ccd5e3;
    --color-gray-4: #9fa6b2;
    --color-gray-5: #3e3e43;
    --gradient-purple-skyblue: linear-gradient(
      135deg,
      #6d6afe 0%,
      #6ae3fe 100%
    );
    --gradient-purple-orange: linear-gradient(119deg, #6d6afe 0%, #ff9f9f 100%);
    --gradient-orange-blue: linear-gradient(
      117deg,
      #fe8a8a 2.29%,
      #a4ceff 100%
    );
    --gradient-blue-yellow: linear-gradient(304deg, #6fbaff 0%, #ffd88b 100%);
    --gradient-blue-gray: linear-gradient(133deg, #2945c7 0%, #dbe1f8 100%);
    --gradient-red-blue: linear-gradient(310deg, #fe578f 0%, #68e8f9 100%);
  }
}

@layer vars.layout {
  html {
    --scrollbar-width: 15px;
    --desktop-header-padding: 20rem;
    --safe-zone-size: 3.2rem;
  }
}

@layer base {
  * {
    box-sizing: border-box;
    font-family: "Pretendard", Arial, Helvetica, sans-serif;
  }

  html {
    font-size: 10px;
    line-height: 1.5;
    word-break: keep-all;
  }

  body {
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  input {
    outline: none;
  }

  button {
    cursor: pointer;
    background-color: inherit;
  }
}

@layer typography {
}

@layer components {
}

@layer utilities {
  .hidden {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .background-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
