@layer vars;

@layer vars.colors {
  html {
    --color-primary: #6d6afe;
    --color-red: #ff5b56;
    --color-bg: #f0f6ff;
    --color-black: #111322;
    --color-white: #ffffff;
    --gray-1: #f0f6ff;
    --gray-2: #e7effb;
    --gray-3: #ccd5e3;
    --gray-4: #9fa6b2;
    --gray-5: #3e3e43;
  }
}

@layer base {
  * {
    box-sizing: border-box;
    font-family: "Pretendard", Arial, Helvetica, sans-serif;
  }

  html {
    font-size: 10px;
    line-height: 1.5;
  }

  body {
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
  }
}

@layer typography {
}

@layer components {
}

@layer utilities {
  .hidden {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
