* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  white-space: nowrap;
}

html,
body {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  background-color: var(--gray-100);
}

:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --gray-700: #3e3e43;
  --gray-400: #9fa6b2;
  --gray-300: #ccd5e3;
  --gray-200: #e7effb;
  --gray-100: #f0f6ff;
}

.show {
  display: block;
}

.done {
  display: none;
}
