html,
body,
p,
h1 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
button {
  padding: 0;
  cursor: pointer;
}
header {
  background: #f0f6ff;
}
header .header_wrap {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  width: 100%;
  max-width: 1920px;
}
header .header_wrap h1 {
}
header .header_wrap .login_btn {
  width: 128px;
  background-image: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  border: none;
  font-size: 18px;
}
header .header_wrap .login_btn a {
  display: inline-block;
  width: 100%;
  padding: 16px 20px;
  color: #f5f5f5;
}
main .top_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 953px;
  background: #f0f6ff;
  overflow: hidden;
}
main .top_section .top_section_tit {
  margin-top: 70px;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  line-height: 80px;
}
main .top_section .top_section_tit span {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .top_section .link_add_btn {
  width: 350px;
  margin-top: 40px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  font-size: 18px;
}
main .top_section .link_add_btn a {
  color: #f5f5f5;
  display: inline-block;
  width: 100%;
  padding: 16px 20px;
}
main .top_section .top_section_img_wrap {
  position: relative;
  top: 90px;
  width: 1118px;
  height: 659px;
  background-image: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 67.68%,
      #f0f6ff 94.76%
    ),
    url("../img/index_top_section.png");
  background-position: top center;
  background-size: cover;
  border-radius: 25px;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
main .top_section .top_section_img_wrap img {
  width: 100%;
}
main .top_section .top_section_img_wrap .dim {
  position: absolute;
  width: 1118px;
  height: 659px;
  bottom: 200px;
  flex-shrink: 0;
  border-radius: 25px;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}
main section.card_section1 {
  padding-top: 120px;
}
main section.card_section4 {
  padding-bottom: 170px;
}
main .card_section {
  display: flex;
  background-color: #fff;
  gap: 157px;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
main .card_section .section_desc_wrap .section_tit {
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 700;
}
main .card_section .section_desc_wrap .section_tit span {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .card_section1 .section_desc_wrap .section_tit span {
  background-image: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
}
main .card_section2 .section_desc_wrap .section_tit span {
  background-image: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
}
main .card_section3 .section_desc_wrap .section_tit span {
  background-image: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
}
main .card_section4 .section_desc_wrap .section_tit span {
  background-image: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
}
main .card_section .section_desc_wrap .section_txt {
  font-size: 16px;
  color: #6b6b6b;
  font-weight: 500;
  line-height: 24px;
}
main .card_section .section_img_wrap {
  width: 550px;
  height: 450px;
}
main .card_section .section_img_wrap img {
  width: 100%;
}
footer {
  background-color: #111322;
}
footer .footer_wrap {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 104px 64px;
  width: 100%;
  max-width: 1920px;
  height: 160px;
}
footer .footer_wrap .corplogo_wrap {
  color: #676767;
}
footer .footer_wrap .policy_faq_wrap {
  display: flex;
  gap: 30px;
}
footer .footer_wrap .policy_faq_wrap a {
  color: #cfcfcf;
}
footer .footer_wrap .sns_wrap {
  display: flex;
  gap: 12px;
}
