header {
  position: sticky;
  top: 0;
  background-color: var(--gray-bg);
  z-index: 1;
}

header > div {
  max-width: 1584px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  margin: 0 auto;
}

main {
  position: relative;
  z-index: 0;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 64px;
  line-height: 80px;
}

h2 {
  font-size: 48px;
  letter-spacing: -0.3px;
  line-height: normal;
}

footer {
  background-color: var(--black-footer);
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  padding: 32px 104px 64px;
}

footer > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  max-width: 1920px;
  height: 64px;
  margin: 0 auto;
}

.banner {
  background-color: var(--gray-bg);
}

.banner-wrapper {
  max-width: 1264px;
  margin: 0 auto;
  padding: 70px 32px 0;
  text-align: center;
}

.logo {
  width: 133px;
}

.login {
  width: 128px;
}

.banner-gradient {
  background: linear-gradient(90deg, #6d6afe, #ff9f9f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hide-on-pc,
.show-only-tablet,
.show-only-mobile {
  display: none;
}

.add-link {
  width: 350px;
  margin: 40px auto;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 1062px;
  margin: 120px auto 170px;
  padding: 0 32px;
}

.contents section {
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents img {
  width: 550px;
}

.contents p {
  color: #6b6b6b;
  margin-top: 10px;
  font-weight: 500;
}

.link-gradient {
  background: linear-gradient(96deg, #fe8a8a, #a4ceff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.manage-gradient {
  background: linear-gradient(278deg, #6fbaff, #ffd88b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.share-gradient {
  background: linear-gradient(110deg, #6d7ccd 40%, rgba(82, 136, 133, 0.22));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-gradient {
  background: linear-gradient(270deg, #fe578f -200%, #68e8f9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.company {
  color: #676767;
}

.link {
  display: flex;
  color: #cfcfcf;
  gap: 30px;
}

.sns {
  display: flex;
  gap: 12px;
}

.sns img {
  width: 20px;
}

@media screen and (max-width: 1199px) {
  .banner-wrapper,
  .contents {
    max-width: 762px;
  }

  .banner-wrapper {
    padding-top: 39px;
  }

  .hide-on-pc,
  .show-only-tablet {
    display: inline;
  }

  .contents {
    margin: 80px auto 170px;
  }

  .contents section {
    height: 325px;
  }

  .contents img {
    width: 385px;
  }

  .hide-on-tablet {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  header > div {
    padding: 13px 32px;
  }

  .logo {
    width: 88px;
  }

  .banner-wrapper {
    padding-top: 28px;
  }

  h1 {
    font-size: 32px;
    line-height: 42px;
  }

  .btn-gradient {
    font-size: 14px;
    padding: 10px 16px;
    height: 37px;
  }

  .login {
    width: 80px;
  }

  .add-link {
    width: 200px;
    margin: 24px auto;
  }

  .contents {
    gap: 80px;
    margin: 40px 0 80px;
  }

  .contents section {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .contents img {
    width: 100%;
    order: 1;
  }

  .contents p {
    font-size: 15px;
    margin-bottom: 24px;
  }

  .hide-on-mobile,
  .show-only-tablet {
    display: none;
  }

  .show-only-mobile {
    display: inline;
  }

  h2 {
    font-size: 24px;
  }

  footer {
    padding: 32px;
  }

  footer > div {
    height: 96px;
  }
  .company {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
