header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  background-color: var(--gray-bg);
  z-index: 1;
}

main {
  position: relative;
  z-index: 0;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 64px;
  line-height: 80px;
}

h2 {
  font-size: 48px;
  letter-spacing: -0.3px;
  line-height: normal;
}

.banner {
  background-color: var(--gray-bg);
}

.banner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
}

.logo {
  width: 133px;
}

.btn-login {
  width: 128px;
}

.banner-gradient {
  background: linear-gradient(to right, #6d6afe, #ff9f9f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-link {
  width: 350px;
  margin: 40px auto;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 120px auto;
  max-width: 998px;
}

.contents section {
  height: 450px;
}
