/* Big Screen */
@media (min-width: 1920px) {
  header .container {
    width: 93.75rem;
  }

  header .container2 {
    padding: 1.25rem 0;
  }

  .headline h1 {
    margin: 0 auto;
    width: 50%;
  }

  div.posting {
    width: 70rem;
    height: 41.25rem;
  }

  .posting-card img:first-child {
    width: 20rem;
  }

  .page_container {
    width: 70rem;
  }

  .page:nth-child(2n) .page_text {
    width: 40%;
    margin-right: 100px;
  }

  .page:nth-child(2n-1) .page_text {
    width: 40%;
    margin-left: 100px;
  }

  footer .bottom {
    width: 95rem;
  }
}

/* PC */
@media (min-width: 1200px) and (max-width: 1919px) {
  .posting-card img:first-child {
    width: 20rem;
  }

  .headline h1 {
    margin: 0 auto;
    width: 50%;
  }

  div.posting {
    width: 70rem;
    height: 41.25rem;
  }

  .page:nth-child(2n) .page_text {
    width: 40%;
    margin-right: 100px;
  }

  .page:nth-child(2n-1) .page_text {
    width: 40%;
    margin-left: 100px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  header .container {
    padding: 0 2rem;
  }

  header .container2 {
    width: 48.5rem;
    padding: 1.25rem 0;
  }

  .headline h1 {
    margin: 0 auto;
    width: 55%;
  }

  div.posting {
    width: 80%;
    height: 500px;
  }

  .page_container {
    width: 50rem;
  }

  .page:nth-child(2n) .page_text {
    width: 40%;
    margin-right: 100px;
  }

  .page:nth-child(2n-1) .page_text {
    width: 40%;
    margin-left: 100px;
  }

  .page_img {
    width: 24.0625rem;
    height: 19.6875rem;
  }
}

/* Mobile */
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }

  header .container2 {
    width: 48.5rem;
    padding: 1.25rem 0;
  }

  .headline h1 {
    margin: 0 auto;
    width: 80%;
  }

  div.posting {
    width: 80%;
    height: 300px;
  }

  .page {
    height: auto;
    display: flex;
    padding: 40px 0 76px 0;
  }

  .page .page_container {
    padding: 0 32px;
  }

  .page .page_container,
  .page:nth-child(2n-1) .page_container {
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .page_img {
    width: 100%;
    height: auto;
  }

  .page_img img {
    width: 100%;
  }

  .page_text {
    width: 100%;
    margin-bottom: 20px;
  }

  .page_text .page_title {
    font-size: 24px;
    margin: 0;
  }

  .page_text .page_title span {
    font-size: 24px;
  }

  .page_text .page_body {
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    bottom: -64px;
    height: 40px;
    padding-right: 10px;
    display: inline-block;
  }

  footer .bottom li,
  footer .bottom li a {
    font-size: 12px;
  }
}
