/* Big Screen */
@media (min-width: 1920px) {
  header .container {
    width: 93.75rem;
  }

  header .container2 {
    padding: 1.25rem 0;
  }

  .headline h1 {
    margin: 0 auto;
    width: 50%;
  }

  div.posting {
    width: 70rem;
    height: 41.25rem;
  }

  .posting-card img:first-child {
    width: 20rem;
  }

  footer .bottom {
    width: 95rem;
  }
}

/* PC */
@media (min-width: 1200px) and (max-width: 1919px) {
  .posting-card img:first-child {
    width: 20rem;
  }

  .headline h1 {
    margin: 0 auto;
    width: 50%;
  }

  div.posting {
    width: 70rem;
    height: 41.25rem;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  header .container {
    padding: 0 2rem;
  }

  header .container2 {
    width: 48.5rem;
    padding: 1.25rem 0;
  }

  .headline h1 {
    margin: 0 auto;
    width: 55%;
  }

  div.posting {
    width: 80%;
    height: 500px;
  }

  .page:nth-child(2) {
    padding-top: 5rem;
  }

  .page_container {
    width: 50rem;
  }

  .page_img {
    width: 24.0625rem;
    height: 19.6875rem;
  }
}

/* Mobile */
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }

  header .container2 {
    padding: 20px 32px;
  }

  section.first {
    padding: 94px 32px 0;
  }

  .headline h1 {
    margin: 0 auto;
    width: 80%;
  }

  .headline button.signup {
    margin: 24px auto;
    margin-bottom: 0;
  }

  div.posting {
    width: 100%;
    height: 300px;
  }

  .page {
    height: auto;
    padding: 40px 0 76px 0;
  }

  .page:nth-child(2) {
    padding-top: 40px;
  }

  .page .page_container {
    margin: 0 32px;
    position: relative;
    flex-direction: column;
  }

  .page:nth-child(2n-1) .page_container {
    flex-direction: column;
  }

  .page .page_container .page_text {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .page_text .page_title {
    font-size: 24px;
    margin: 0;
  }

  .page_text .page_title span {
    font-size: 24px;
  }

  .page_text .page_body {
    font-size: 15px;
    position: absolute;
    bottom: -64px;
    height: 40px;
  }

  .page_img {
    width: 100%;
    height: auto;
  }

  footer {
    height: 160px;
  }

  footer .bottom {
    height: 100%;
    padding: 32px;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: normal;
  }

  footer .bottom .company {
    order: 3;
    align-self: self-end;
  }

  footer .bottom .guide {
    text-align: left;
  }

  footer .bottom li,
  footer .bottom li a {
    font-size: 16px;
  }
}
