* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Pretendard;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.pointer {
  cursor: pointer;
}
