.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-bg);
  min-height: 100svh;
}

.container {
  width: 464px;
  padding: 0 32px;
}

.logo {
  width: 210px;
  margin: 0 auto;
}

.redirect {
  margin-top: 16px;
  text-align: center;
}

.redirect a {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: underline;
}

.input-area {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  gap: 24px;
}

.input-area .input {
  position: relative;
}

label {
  display: block;
  font-size: 14px;
  line-height: normal;
  margin-bottom: 12px;
}

input {
  padding: 18px 15px;
  border: 1px solid var(--gray-20);
  border-radius: 8px;
  width: 100%;
  height: 60px;
}

input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.eye-icon {
  position: absolute;
  top: calc(50% - 8px);
  right: 16px;
  width: 16px;
  cursor: pointer;
}

.sns {
  margin-top: 32px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--gray-20);
  background-color: var(--gray-10);
  border-radius: 8px;
}

.sns span {
  font-size: 14px;
  line-height: normal;
  color: var(--gray-100);
}

.sns-btn {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sns-btn img {
  width: 42px;
}

@media screen and (max-width: 374px) {
  .redirect a {
    display: block;
  }

  .sns {
    justify-content: center;
  }

  .sns > span {
    display: none;
  }
}
