:root {
  --linkbrary-primary-color: #6d6afe;
  --red-color: #ff5b56;
  --black-color: #111322;
  --white-color: #ffffff;
  --dark-gray-color: #3e3e43;
  --normal-gray-color: #9fa6b2;
  --linkbrary-gray-20: #ccd5e3;
  --linkbrary-gray-10: #e7effb;
  --linkbrary-bg: #f0f6ff;

  --gra-purpleblue-to-skyblue: linear-gradient(
    91deg,
    #6d6afe 0.12%,
    #6ae3fe 101.84%
  );
}

body {
  background: var(--linkbrary-bg);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14.88rem 0 15.75rem 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.signin-box {
  gap: 1.875rem;
}

.signup-check {
  align-items: center;
  gap: 1rem;
}

img.logo {
  width: 13.16144rem;
  height: 2.375rem;
}

.signup-check > div {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

span.check-status {
  color: var(--black-color);

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

span.signup-link {
  color: var(--linkbrary-primary-color);
  font-size: 1rem;
  font-weight: 600;
}

span.signup-link > a {
  text-decoration: underline;
  text-underline-position: under;
}

form {
  gap: 1.875rem;
}

div.login-input {
  align-items: flex-start;
  gap: 1.5rem;
}

div.login-input div {
  align-items: flex-start;
  gap: 0.75rem;
  position: relative;
}

label.common_title {
  color: var(--black-color);
  font-size: 0.875rem;
  font-weight: 400;
}

.box-width,
.box-width input {
  width: 25rem;
}

.login-input input {
  padding: 1.125rem 0.9375rem;
  border-radius: 0.5rem;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--white-color);
  outline: none;
}

.login-input input:focus {
  border: 1px solid var(--linkbrary-primary-color);
}

.inputError {
  border: 1px soild #ff5b56;
}

.email_error_text,
.pw_error_text,
.signup_pw_error_text,
.signup_pw_check_error_text {
  margin-top: -0.36rem;
  color: var(--linkbrary-red, #ff5b56);
  font-size: 0.875rem;
  font-weight: 400;
}

img.eye-on-img {
  position: absolute;
  top: 3rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
}

.login-button {
  padding: 1rem 1.25rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--grey-light, #f5f5f5);
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}

div.social-login-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-gray-10);
}

div.social-icon-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.google,
.kakao {
  width: 2.625rem;
  height: 2.625rem;
}

@media (min-width: 768px) and (max-width: 1199px) {
  main {
    padding: 12.5rem 25rem 18rem 25rem;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  main {
    padding: 7.5rem 32px 14.5rem 32px;
    width: 100%;
  }
}

@media (min-width: 375px) and (max-width: 464px) {
  main .flex-column {
    width: 100%;
  }

  .box-width,
  .box-width input {
    width: 100%;
  }
}
