body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14.875rem;
  background-color: var(--linkbrary-bg);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.875rem;
  width: 25rem;
}

/* Header */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.link-to-main {
  width: 13.16rem;
  height: 2.375rem;
}

.ask-signup {
  display: flex;
  gap: 0.5rem;
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.link-to-signup {
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: underline;
  text-underline-position: under;
}

/* form */
#sign-in {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.input__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.input__label {
  color: var(--color-black);
  font-size: 0.875rem;
}

.input {
  width: 100%;
  padding: 1.125rem 0.9375rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-gray-20);
  background: var(--color-white);
  color: var(--color-gray-100);
  font-size: 1rem;
  line-height: 1.5rem;
}

.input:focus {
  border: 1px solid var(--color-primary);
}

.hide-password {
  border: none;
  background: transparent;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0.9375rem;
  bottom: 1.275rem;
}

.btn__sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--color-gray-light);
  background: var(--gra-purpleblue-to-skyblue);
}

/* footer */
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.12rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-gray-20);
  background: var(--color-gray-10);
}

.social__title {
  font-size: 0.875rem;
  color: var(--color-gray-100);
}

.social__logos {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social__logo__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.625rem;
  height: 2.625rem;
}
