

body{
    background-color: var(--gray-bg-color);
}

form{
    margin-top: 23.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main{
  width: 40rem;
   display: flex;
   flex-direction: column;
}

nav{
    margin-bottom: 3rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.logo-img{
    width: 21.058rem;
    margin-bottom: 1.6rem;
}

.signup-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}
.signup-text a{
    margin-left: 0.8rem;
    font-size: 1.6rem;
    line-height: 1.909rem;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: underline;
}
article:not(.login-sns){
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.671rem;
    margin-bottom:  1.2rem;;
}

input{
 width: 100%;
 height: 6rem;
 border-radius: 0.8rem;
 outline: none;
 border: 1px solid var(--gray-color-3);
 padding-left: 1.5rem;
}


input::placeholder {
    color: rgb(168, 168, 168);
  }

input:focus{
    border: 1px solid var(--primary-color);
}

.email{
    margin-bottom: 2.4rem;
}
.password{
    margin-bottom: 3rem;
}
.password__input-area{
    width: 100%;
    position: relative;
}

.password__input-area img{
    display: inline;
    width: 1.6rem;
    position: absolute;
    right: 1.5rem;
    top: 40%;
}

.password-check{
    margin-bottom: 5.3rem;
}
button{
    padding: 1.6rem 2rem;
    background-image: linear-gradient(90deg, rgba(109, 106, 254, 1),rgba(106, 227, 254, 1));
    border: none;
    border-radius: 0.8rem;
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.16rem;
    width: 100%;
    margin-bottom: 3.2rem;
}

.login-sns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2.4rem;
    border: 0.1rem solid var(--gray-color-3);
    border-radius: 0.8rem;
    background-color: var(--gray-color-4);
}
.login-sns__text{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.671rem;
}
.login-sns a{
    display: inline-block;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}
.login-sns a:nth-child(1){
    margin-right: 1.2rem;
    background-color:var(--white-color);
    border: 0.1rem solid var(--gray-color-3);
     padding: 1rem;
}

.login-sns a:nth-child(2){
    background-color: rgba(245, 225, 75, 1);
    padding: 1rem 0.8rem 1rem;

}


