@import url("global_styles.css");

body {
  background-color: var(--main-background-color);
}
main {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  padding: 23.8rem 0 25.2rem;
  margin: 0 auto;
}
.sign-wrap {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  width: 100%;
}
.logo-wrap {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  flex-direction: column;
}
.logo img {
  height: 3.8rem;
}
.logo-wrap > p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.logo-wrap > p > a {
  border-bottom: 1px solid var(--main-color);
  font-weight: 600;
  color: var(--main-color);
}
.sign-wrap > form {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
  width: 100%;
}
.label-input-wrap {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  position: relative;
}
.label-input-wrap > label {
  font-size: 1.4rem;
  font-weight: 400;
}
.label-input-wrap input {
  width: 100%;
  padding: 1.8rem 4rem 1.8rem 1.5rem;
  border: 1px solid var(--gray-light-color);
  border-radius: 0.8rem;
  outline: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--gray-darker-color);
}
.label-input-wrap input:focus {
  border: 1px solid var(--main-color);
}
.label-input-wrap input.alert {
  border: 1px solid var(--alert-color);
}
.input-wrap {
  position: relative;
}
.input-wrap > img {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  cursor: pointer;
  transform: translateY(-50%);
}
.input-alert {
  position: absolute;
  bottom: -0.6rem;
  font-size: 1.4rem;
  color: var(--alert-color);
  transform: translateY(100%);
}
.submit-button {
  padding: 1.6rem 2rem;
  margin-top: 0.6rem;
  border-radius: 0.8rem;
  background: linear-gradient(91deg, var(--main-color) 0.12%, #6ae3fe 101.84%);
  font-size: 1.8rem;
  color: var(--white-text-color);
}
.sns-sign-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.2rem 2.4rem;
  border: 1px solid var(--gray-light-color);
  border-radius: 0.8rem;
  background-color: var(--gray-lighter-color);
  font-size: 1.4rem;
  color: var(--gray-darker-color);
}
.sns-logo-wrap {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.sns-logo-wrap > a {
  display: flex;
  align-items: center;
}

/* Tablet size (768px ~ 1199px) */
@media (max-width: 1199px) {
  main {
    padding: 20rem 0;
  }
}

/* Mobile size (375px ~ 767px) */
@media (max-width: 767px) {
  main {
    width: 100%;
    max-width: 40rem;
    padding: 12rem 3.2rem;
  }
}
