body {
  background-color: var(--light-blue);
}

.btn {
  padding: 1.125rem 0.9375rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.signin-main {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 29rem;
  padding: 0 2rem;
}

.section {
  width: 100%;
}

.signin__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.875rem;
}

.signin__title--logo {
  padding: 0;
}

.signin__title--logo a img {
  width: 13rem;
}

.signin__title--text {
  line-height: 1.5rem;
}

.signin__title--text a {
  padding: 0;
  margin-left: 0.5rem;
  border-bottom: 1px solid var(--purple);
  border-radius: 0;
  color: var(--purple);
}

.signin__input-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.signin__input-area--form h2 {
  font-size: 0.875rem;
  color: var(--black);
  margin-bottom: 0.75rem;
}

.signin__input-area--form {
  width: 100%;
  margin-bottom: 0.75rem;
}

.signin__input-area--form-pw {
  position: relative;
}

.signin__input-area--form-pw button {
  position: absolute;
  top: 2.8125rem;
  right: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin__input-area--form input {
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--blue-gray-60);
  border-radius: 0.5rem;
  padding: 1.125rem 0.9375rem;
}

.signin__input-area--form input:focus {
  border: 1px solid var(--purple);
}

.signin__input-area--btn {
  background: linear-gradient(
    91deg,
    var(--purple) 0.12%,
    var(--sky-blue) 101.84%
  );
  color: var(--gray-20);
}

.signin__input-area--form-email {
  margin-bottom: 1.5rem;
}

.signin__input-area--social {
  display: flex;
  width: 100%;
  padding: 0.75rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--blue-gray-60);
  margin-top: 1rem;
  background-color: var(--blue-gray-40);
}

.signin__input-area--social h3 {
  font-size: 0.875rem;
  color: var(--blue-gray-100);
}

.signin__input-area--social-img {
  width: 6.25rem;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
