@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

/* header 시작 부분 */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #F0F6FF;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 192rem;
  padding: 2rem 20rem;
  position: fixed;
  background-color: #F0F6FF;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2rem;
  width: 12.8rem;
  color: #F5F5F5;
  font-family: pretendard;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.8rem;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 192rem;
  padding: 7rem 36rem 0;
  gap: 4rem;
  margin-top: 9rem;
}

.header-text {
  font-family: Pretendard;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
  width: 70.8rem;
}

.header-text-gradient {
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signup {
  display: flex;
  justify-content: center;
  width: 35rem;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  color: #F5F5F5;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* main 시작 부분 */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-section {
  width: 192rem;
  height: 62rem;
  padding: 5rem 46.1rem;
  display: flex;
  align-items: center;
  gap: 15.7rem;
}

.main-section.first {
  padding-top: 12rem;
}

.img-2,
.img-3,
.img-4,
.img-5 {
  width: 55rem;
  height: 45rem;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 29.1rem;
  gap: 1rem;
  font-family: Pretendard;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
}

.main-text-gradient-1 {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-text-explanation {
  color: #6B6B6B;
  font-family: Pretendard;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}

.main-text-gradient-2 {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
}

.main-text-gradient-3 {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-text-gradient-4 {
  background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* footer 시작 부분 */
footer {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
  width: 100%;
  background-color: #111322;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 10.4rem 6.4rem;
  width: 100%;
  max-width: 192rem;
}

.codeit {
  color: #676767;
  text-align: center;
  font-family: Arial;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.policy-faq {
  display: flex;
  gap: 3rem;
}

.policy-faq a {
  color: #CFCFCF;
  font-family: Arial;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icon {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}