/* header 헤더 */

.gnb,
.hero {
  background-color: #f0f6ff;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.gnb {
  padding: 2rem 20rem;
  width: 100%;
}
.gnb-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

.logo {
  width: 13.3rem;
  height: 2.4rem;
}

.login-box {
  display: block;
  width: 12.8rem;
  padding: 1.6rem 2rem;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  font-style: normal;
  color: var(--grey-light, #f5f5f5);
}

/* main 본문 */

.hero {
  padding: 7rem 36rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.hero h2 {
  display: block;
  white-space: nowrap;
  text-align: center;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25; /* 125% */
}

.hero h2 span {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-br {
  display: none;
}

.hero a {
  width: 35rem;
  padding: 1.6rem 2rem;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  text-align: center;
  color: var(--grey-light, #f5f5f5);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero-img-container {
  width: 120rem;
  height: 59rem;
  overflow: hidden;
  position: relative;
}

.hero-img-container .hero-imgs {
  width: 111.8rem;
  height: 65.9rem;
  border-radius: 25px;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 67.68%,
    #f0f6ff 94.76%
  );
  box-shadow: 0 0.4rem 2.5rem 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 5rem;
  left: 4rem;
  right: 4rem;
}

.container {
  padding: 12rem 0 5rem 0rem;
}

.grid-container {
  width: 99.8rem;
  margin: 0 auto;
  display: grid;
  grid-template: auto auto / auto auto;
  gap: 1rem 15.7rem;
}

.container + .container {
  padding-top: 5rem;
}

.section-title {
  display: inline-block;
  width: 29.1rem;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  align-self: end;
}

.section-descript {
  display: inline-block;
  width: 29.1rem;
  color: #6b6b6b;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 24px */
}

.imgs {
  width: 55rem;
  height: 45rem;
  border-radius: 15px;
  flex-shrink: 0;
}

.container:nth-of-type(2n + 1) .imgs {
  grid-row: 1/ 3;
}

.container:nth-of-type(2n) .imgs {
  grid-row: 1/ 3;
  grid-column: 2/3;
}

.card-img {
  background: url("../imgs/card-img.png") no-repeat center / cover;
}

.manage-img {
  background: url("../imgs/manage-img.png") no-repeat center / cover;
}

.share-img {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
  background: url("../imgs/share-img.png") no-repeat center / cover;
}

.search-img {
  background: url("../imgs/search-img.png") no-repeat center / cover;
  flex-shrink: 0;
}

.deco-linktext {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.deco-managetext {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.deco-sharetext {
  background: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.deco-searchtext {
  background: var(
    --fandom-k-gra-blue-to-pink,
    linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* footer 하단 */

footer {
  display: flex;
  height: 28rem;
  padding-top: 12rem;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.footer-container {
  height: 16rem;
  padding: 3.2rem 10.4rem 6.4rem;
  flex-shrink: 0;
  align-self: stretch;
  background: var(--the-julge-black, #111322);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.copyright {
  color: #676767;

  text-align: center;
  font-family: Arial;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.legal {
  display: flex;
  width: 18.1111rem;
  align-items: flex-start;
  gap: 3rem;

  color: #cfcfcf;

  font-family: Arial;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sns {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}

.sns svg {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 1199px) {
  .gnb {
    padding: 2rem 32px;
  }

  .gnb-inner {
    max-width: 800px;
    margin: 0 auto;
  }

  .hero {
    padding: 39px 250px 0 250px;
  }

  .title-br {
    display: inline;
  }

  .hero-img-container {
    width: 69.8rem;
    height: 34.3rem;
  }

  .hero-img-container .hero-imgs {
    width: 65.0303rem;
    height: 38.3114rem;
  }

  .container {
    padding: 8rem 0 5rem 0;
  }

  .grid-container {
    width: 69.8rem;
    gap: 5.1rem;
  }

  .imgs {
    width: 38.5rem;
    height: 31.5rem;
  }

  .section-descript {
    gap: 1rem;
    width: 28rem;
  }
}

@media (max-width: 767px) {
  .logo {
    width: 8.86rem;
    height: 1.6rem;
  }

  .login-box {
    width: 8rem;
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
  }

  .hero {
    gap: 2.4rem;
    padding: 2.8rem 3.2rem 0;
  }

  .hero h2 {
    font-size: 3.2rem;
  }

  .hero a {
    width: 20rem;
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
  }

  .hero-img-container {
    width: 32.5rem;
    height: 16rem;
  }

  .hero-img-container .hero-imgs {
    width: 30.2792rem;
    height: 17.8712rem;
    top: 1.356rem;
    left: 1.11rem;
    right: 1.11rem;
  }

  .container {
    padding: 4rem 3.2rem 4rem;
  }

  .grid-container {
    grid-template: 1fr / 1fr;
    gap: 0;
    width: 100%;
  }

  .container:nth-of-type(2n + 1) .imgs {
    grid-row: auto;
  }

  .container:nth-of-type(2n) .imgs {
    grid-row: auto;
    grid-column: auto;
  }

  .section-title {
    font-size: 2.4rem;
    width: 100%;
  }

  .section-descript {
    font-size: 1.5rem;
    width: 100%;
  }
  .section-title br,
  .section-descript br {
    display: none;
  }

  .imgs {
    width: 100%;
    margin: 2rem 0 1.6rem;
  }

  .footer {
    padding-top: 4rem;
  }

  .footer-container {
    padding: 3.2rem 3.2rem 6.4rem;
    display: grid;
    grid-template: auto auto / auto auto;
    gap: 6rem 0;
  }

  .copyright {
    grid-row: 2 / 3;
    margin: 0;
    text-align: left;
  }
}
