/* 공통구간 */
:root {
  --linkbrary-primary-color: #6d6afe;
  --linkbrary-red: ff5b56;
  --the-julge-black: #111322;
  --linkbrary-white: #ffffff;
  --linkbrary-gray-100: #3e3e43;
  --linkbrary-gray-60: #9fa6b2;
  --linkbrary-gray-20: #ccd5e3;
  --linkbrary-gray-10: #e7effb;
  --linkbrary-bg: #f0f6ff;
}

body {
  background-color: var(--linkbrary-bg, #f0f6ff);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  height: 5.4rem;
  color: var(--grey-light, #f5f5f5);
  border-radius: 0.8rem;
  background-image: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(
      91deg,
      var(--linkbrary-primary-color, #6d6afe) 0.12%,
      #6ae3fe 101.84%
    )
  );
}

.background-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
