:root {
  --size-pc-max-width: 192rem;

  --gra-title-hero: var(--gra-royalblue-to-salmon);
  --gra-title-save: var(--gra-red-to-lightskyblue);
  --gra-title-folder: var(--gra-lightskyblue-to-lightorange);
  --gra-title-share: var(--gra-cornflowerblue-to-turquoise);
  --gra-title-search: var(--gra-crimson-to-aqua);

  --gra-royalblue-to-salmon: linear-gradient(
    91deg,
    #6d6afe 17.28%,
    #ff9f9f 74.98%
  );
  --gra-red-to-lightskyblue: linear-gradient(
    96deg,
    #fe8a8a 1.72%,
    #a4ceff 74.97%
  );
  --gra-lightskyblue-to-lightorange: linear-gradient(
    277deg,
    #6fbaff 59.22%,
    #ffd88b 93.66%
  );
  --gra-cornflowerblue-to-turquoise: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  --gra-crimson-to-aqua: linear-gradient(
    271deg,
    #fe578f -9.84%,
    #68e8f9 107.18%
  );
}

/* Header 공통사항 */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-gray-light);
  background: var(--gra-purpleblue-to-skyblue);
}

/* Navigation bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--linkbrary-bg);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--size-pc-max-width);
  margin: auto;
  padding: 2rem 20rem;
}

.nav__logo {
  width: 13.3rem;
  height: 2.4rem;
}

.btn__sign-in {
  width: 12.8rem;
}

/* Header */
header {
  background-color: var(--linkbrary-bg);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
  margin: auto;
  padding-top: 16.4rem;
  max-width: var(--size-pc-max-width);
}

h1 {
  flex-shrink: 0;
  text-align: center;
  width: 70.8rem;
  height: auto;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
  word-break: keep-all;
}

.hero__title--gradient {
  background: var(--gra-title-hero);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn__sign-up {
  width: 35rem;
}

.hero__img {
  width: 120rem;
  height: 59rem;
}

/* main */
main {
  padding-top: 7rem;
  padding-bottom: 12rem;
}

/* section 공통사항 */
.content {
  display: grid;
  justify-content: center;
  gap: 1rem 15.7rem;
  grid-template-areas:
    'title img'
    'description img';
  width: 100%;
  margin: 0 auto;
  padding: 5rem 0rem;
}

.title {
  grid-area: title;
  align-self: end;
  width: 29rem;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
}

.description {
  grid-area: description;
  width: 29rem;
  color: #6b6b6b;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  word-break: keep-all;
}

.content__img {
  grid-area: img;
  width: 55rem;
  height: 45rem;
}

.content:nth-child(odd) {
  grid-template-areas:
    'title img'
    'description img';
}

.content:nth-child(even) {
  grid-template-areas:
    'img title'
    'img description';
}

/* section 제목 - 그라데이션 */
.save__title--gradient {
  background: var(--gra-title-save);
}

.folder__title--gradient {
  background: var(--gra-title-folder);
}

.share__title--gradient {
  background: var(--gra-title-share);
}

.search__title--gradient {
  background: var(--gra-title-search);
}

.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Footer */
footer {
  background: var(--color-black);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  height: 16rem;
  margin: auto;
  padding: 3.2rem 10.4rem 6.4rem 10.4rem;
  max-width: var(--size-pc-max-width);
}

.footer__copyright {
  color: #676767;
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer__links {
  display: flex;
  width: 18.1rem;
  align-items: flex-start;
  gap: 3rem;
}

.footer__link {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 1.6rem;
  font-weight: 400;
}

.footer__sns__container {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}

.footer__sns__image {
  width: 2rem;
  height: 2rem;
  color: var(--color-white);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  nav {
    padding: 0rem 3.2rem;
  }

  .nav__container {
    padding: 2rem 0rem;
    max-width: 78rem;
  }

  h1 {
    width: 50rem;
  }

  .hero__img {
    width: 70rem;
    height: 34rem;
  }

  .content {
    gap: 1rem 5rem;
  }

  .title {
    width: 26.5rem;
  }

  .description {
    width: 26.5rem;
  }

  .content__img {
    width: 38.5rem;
    height: 31.5rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .nav__container {
    padding: 1.3rem 3.2rem;
  }

  .nav__logo {
    width: 10rem;
  }

  .btn__sign-in {
    width: 10rem;
    padding: 1.2rem 1.6rem;
  }

  .hero {
    gap: 2.4rem;
    padding: 11rem 3.2rem 0rem 3.2rem;
  }

  h1 {
    width: 28rem;
    font-size: 3.6rem;
    line-height: 131.25%;
  }

  .btn__sign-up {
    width: min(35rem, 70%);
  }

  .hero__img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  main {
    padding-top: 0rem;
    padding-bottom: 4rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 3.2rem;
  }

  .title {
    width: 100%;
    font-size: 2.4rem;
  }

  .description {
    width: 100%;
    order: 2;
  }

  .content__img {
    width: 100%;
    height: auto;
  }

  .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 6rem;
    padding-right: 3.2rem;
    padding-left: 3.2rem;
  }

  .footer__coptright {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .footer__links {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .footer__sns__container {
    justify-self: end;
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
