@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

:root {
  --blue-1: #6D6AFE;
  --blue-2: #6AE3FE;
  --red-1: #FF5B56;
  --black-1: #111322;
  --black-2: #000000;
  --white-1: #FFFFFF;
  --gray-1: #373740;
  --gray-2: #9FA6B2;
  --gray-3: #CCD5E3;
  --gray-4: #E7EFFB;
  --gray-5: #F0F6FF;
  --gray-6: #F5F5F5;
  --gray-7: #373740;
  --gray-8: #394037;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--gray-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23.8rem 0 11.6rem;
  max-width: 144rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.normal-signup {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.signup-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.signup-header img {
  width: 21.0583rem;
  height: 3.8rem;
}

.signup-link {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
}

.signup-link>span {
  color: var(--black-1);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.signup-link>a {
  color: var(--blue-1);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
}

.signup {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.email,
.password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}

.password.confirm {
  margin-bottom: 3rem;
}

label {
  color: var(--black-1);
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  display: flex;
  width: 40rem;
  padding: 1.8rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray-3);
  background: var(--white-1);
  color: #394037;
  font-family: Pretendard;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

input:focus {
  outline: none;
  border: 0.2rem solid var(--blue-1);
}

.password {
  position: relative;
}

.eye-on {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  right: 2.3rem;
  bottom: 2.3rem;
}

.signup-button {
  color: var(--gray-6);
  font-family: Pretendard;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  width: 40rem;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  background: linear-gradient(91deg, var(--blue-1) 0.12%, var(--blue-2) 101.84%);
  border: 0;
}

.social-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.4rem;
  justify-content: space-between;
  width: 40rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray-3);
  background: var(--gray-4);
}

.text {
  color: var(--gray-7);
  font-family: Pretendard;
  font-size: 1.4rem;
  font-weight: 400;
}

.google-kakao {
  display: flex;
  justify-content: flex-end;
  width: 4.2rem;
  height: 4.2rem;
  gap: 1.6rem;
}