/* 그라데이션 */
.link-gradient {
  background-image: linear-gradient(90deg, #6d6afe, #6ae3fe);
  border-radius: 0.8rem;
  color: var(--white-color);
  font-weight: 600;
  font-size: 1.8rem;
}

.gradient-fill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-gradient {
  background-image: linear-gradient(90deg, rgb(109, 106, 254), rgb(255, 159, 159));
}
.save-gradient {
  background-image: linear-gradient(90deg, rgb(254, 138, 138), rgb(164, 206, 255));
}
.manage-gradient {
  background-image: linear-gradient(90deg, rgb(255, 216, 139), rgb(111, 186, 255));
}
.share-gradient {
  background-image: linear-gradient(90deg, rgb(109, 124, 205), rgba(82, 136, 133, 0.22));
}
.search-gradient {
  background-image: linear-gradient(90deg, rgb(104, 232, 249), rgb(254, 87, 143));
}
/* 줄바꿈 */
.line-break-tablet {
  display: block;
}

/* 헤더 */
header {
  background-color: var(--gray-bg-color);
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem 20rem;
}

.login-link {
  padding: 1.6rem 4.05rem;
  text-decoration: none;
}
.line-break {
  display: block;
}
.line-break-tablet {
  display: inline;
}
/* 콘텐츠 */

main {
  padding-bottom: 12rem;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-bg-color);
  margin-bottom: 7rem;
}

.banner__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-bg-color);
  padding-top: 7rem;
  width: 69.8rem;
  gap: 4rem;
}

.banner__title {
  text-align: center;
  font-size: 6.3rem;
  font-weight: 700;
  line-height: 8rem;
  word-break: keep-all;
}

#banner__login {
  padding: 1.6rem 12.6rem;
}

#banner__img {
  width: 111.8rem;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 15.7rem;
  row-gap: 1rem;
  width: 99.8rem;
  padding: 5rem 0;
}

article:nth-child(odd) {
  grid-template-areas:
    ". image"
    "title image"
    "text image"
    ". image";
}
article:nth-child(even) {
  grid-template-areas:
    "image ."
    "image title"
    "image text"
    "image .";
}

.information__title {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
  grid-area: title;
  word-break: keep-all;
}

.information__text {
  font-size: 1.6rem;
  font-weight: 500;
  color: #6b6b6b;
  line-height: 2.4rem;
  grid-area: text;
  word-break: keep-all;
}

.information__img {
  width: 55rem;
  grid-area: image;
}

footer {
  background-color: #111322;
  font-family: Arial;
  font-weight: 400;
  line-height: 1.84rem;
  font-size: 1.6rem;
  padding: 3.2rem 10.4rem 10.8rem;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: space-between;
}

#copyright {
  color: #676767;
}

#footer__link a:nth-child(1) {
  margin-right: 3rem;
}

#footer__link {
  color: #cfcfcf;
}
#footer__sns {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#footer__sns img {
  width: 2rem;
}

@media (min-width: 1200px) {
  #banner__img {
    width: 1200px;
    height: auto;
  }

  .information__img {
    width: 550px;
    height: auto;
  }
  #pc-line-break {
    display: none;
  }
}

/* Tablet*/
@media (max-width: 1200px) {
  .header__box {
    padding: 0 3.2rem;
    margin: 2rem 0;
    width: 79.9rem;
  }

  .banner {
    margin-bottom: 3rem;
  }

  .banner__box {
    padding-top: 3.9rem;
  }

  #banner__img {
    width: 698px;
  }
  article {
    width: 69.8rem;
    column-gap: 5.1rem;
  }
  .information__img {
    width: 385px;
    height: auto;
  }
}

/* Mobile*/
@media (max-width: 768px) {
  .mobile-line-break {
    display: none;
  }

  .header__box {
    width: 100%;
    padding: 0 3.2rem;
    margin: 2rem 0;
  }
  .login-link {
    padding: 1rem 2.15rem;
    font-size: 1.4rem;
  }
  .header__logo-img {
    width: 8.9rem;
  }
  main {
    padding-bottom: 4rem;
  }

  .banner {
    margin-bottom: 0px;
  }

  .banner__box {
    width: 100%;
    padding: 2.8rem 3.2rem 0;
    gap: 2.4rem;
  }
  #banner__img {
    width: 100%;
  }

  .banner__title {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  #banner__login {
    font-size: 1.4rem;
    padding: 1rem 6.2rem;
  }

  article {
    width: 100%;
    row-gap: 0;
    padding: 4rem 3.2rem;
  }

  article:nth-child(odd) {
    grid-template-areas:
      "title"
      "image"
      "text";
  }
  article:nth-child(even) {
    grid-template-areas:
      "title"
      "image"
      "text";
  }

  .information__title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  .information__img {
    width: 100%;
    margin-bottom: 1.6rem;
  }

  .information__text {
    font-size: 1.5rem;
  }
  footer {
    position: relative;
    padding: 3.2rem 3.2rem 10.8rem;
  }

  #copyright {
    position: absolute;
    top: 11rem;
  }
}
