/* Global */
:root {
  --size-max-width: 120rem;
}

/* Header 공통사항 */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--color-gray-light);
  background: var(--gra-purpleblue-to-skyblue);
}

/* Navigation bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--linkbrary-bg);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--size-max-width);
  margin: auto;
  padding: 1.25rem 12.5rem;
}

.btn__sign-in {
  width: 8rem;
}

/* Header */
header {
  background-color: var(--linkbrary-bg);
}

.introduce {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
  margin: auto;
  padding: 10.5rem 22.5rem 0rem 22.5rem;
  max-width: var(--size-max-width);
}

h1 {
  flex-shrink: 0;
  text-align: center;
  width: 44.25rem;
  height: 10rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
}

.introduce__title--gradient {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn__sign-up {
  width: 21.875rem;
}

.introduce__img {
  width: 69.875rem;
  height: 41.1875rem;
}

/* main */
main {
  padding-top: 4.5rem;
  padding-bottom: 7.5rem;
}

/* section 공통사항 */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9.8125rem;
  padding: 3.125rem 28.8125rem;
}

.description-box {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 18.1875rem;
  flex-shrink: 0;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.01875rem;
}

.description {
  color: #6b6b6b;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
}

.content__img {
  width: 34.375rem;
  height: 28.125rem;
}

.content:nth-child(even) .description-box {
  order: 1;
}

/* section 제목 - 그라데이션 */
.save__title--gradient {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
}

.folder__title--gradient {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
}

.share__title--gradient {
  background: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
}

.search__title--gradient {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
}

.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
