:root {
  --primary-color: #6d6afe;
  --black-color: #111322;
  --white-color: #ffffff;
  --focus-alert: #ff5b56;
  /* gray-color */
  --gray-darkest: #3e3e43;
  --gray-darker: #9fa6b2;
  --gray-lighter: #ccd5e3;
  --gray-lightest: #e7effb;
  --gray-bg-color: #f0f6ff;
}
