.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  padding: 32px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 15px;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-white, #fff);
  z-index: 150;
}

.modal-container .modal-header {
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.modal-container .modal-header .title {
  color: #373740;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.modal-container .modal-header .folder-name,
.modal-container .modal-header .link-url {
  color: #9fa6b2;
  font-size: 14px;
  line-height: 22px;
}
.modal-container .modal-body .modal-input {
  display: flex;
  width: 280px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #6d6afe;
  background: #fff;
}

.modal-container .modal-body .tabList {
  display: flex;
  padding: 8px;
  gap: 8px;
  width: 264px;
  align-items: center;
}
.modal-container .modal-body .tabList.show {
  border-radius: 8px;
  background-image: url('/public/images/check.png');
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-color: #f0f6ff;
}

.modal-container .modal-body .tabList .tabName {
  color: #373740;
  font-size: 16px;
  line-height: 24px;
}

.modal-container .modal-body .tabList .tabCount {
  color: #9fa6b2;
  font-size: 14px;
  line-height: normal;
}

.modal-container .modal-body .sns-area {
  display: flex;
  gap: 32px;
}
.modal-container .modal-body .sns-area .kakao,
.modal-container .modal-body .sns-area .facebook,
.modal-container .modal-body .sns-area .link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.modal-container .modal-body .sns-area .kakao .share-btn {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 37.333px;
  background: #fee500;
}

.modal-container .modal-body .sns-area .facebook .share-btn {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 37.333px;
  background: #1877f2;
}

.modal-container .modal-body .sns-area .link .share-btn {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 37.333px;
  background: rgba(157, 157, 157, 0.04);
}

.modal-container .modal-body .sns-area .text {
  color: #373740;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
}

.modal-container .modal-footer .action-btn .remove-btn {
  display: flex;
  width: 280px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: #f5f5f5;
  font-size: 16px;
  background-color: #ff5b56;
}

.modal-container .modal-footer .action-btn .add-btn {
  display: flex;
  width: 280px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%));
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 600;
}

.modal-container .close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.4;
  z-index: 100;
}
