.filter-content {
  margin-top: 40px;

  &-header {
    @include flexbox(between, center);

    height: 29px;
    margin: 24px 0;

    h3 {
      @include text-style(24);
    }
  }

  .filter-options {
    button:not(:last-child) {
      margin-right: 8px;
    }
  }

  @include responsive(M) {
    &-header {
      display: block;
      height: auto;
      margin: 16px 0 20px;

      h3 {
        @include text-style(20);
        line-height: 1.1;
      }
    }

    .filter-options {
      margin: 12px 0 0 0;
    }
  }
}
