.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $light-blue;
  z-index: $overlay-level;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-box {
  @include column-flexbox(center, center);
}

.loading-text {
  color: $primary;
  margin-top: 12px;
}
