.folder-banner {
  width: 100%;
  padding: 113px 0 60px;
  text-align: center;
  background-color: $light-blue;

  &-title {
    @include text-style(40);
  }

  .folder-symbol {
    @include column-flexbox();

    &-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;

      background-image: url('../assets/images/folder-avatar-default.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    &-avatar-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    span {
      @include text-style(16);
      margin-top: 12px;
      display: block;
    }

    margin-bottom: 20px;
  }
}

@include responsive(M) {
  .folder-banner {
    padding: 73px 0 40px;

    &-title {
      @include text-style(32);
    }

    .folder-symbol {
      &-avatar {
        width: 40px;
        height: 40px;
      }

      span {
        @include text-style(14);
        margin-top: 6px;
        display: block;
      }

      margin-bottom: 10px;
    }
  }
}
