* {

    padding: 0;
    text-decoration: none;
    margin: 0 auto;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #F0F6FF;
    display: flex;
}

.all-div {
    width: 1440px;
 
    display: flex;
    flex-direction: column;
    height: 982px;
    padding: 238px 0 252px 0;

}

input:focus {
    background-color: #f0f0f0;
    border: 2px solid #0078d4;
    outline: none;
}

.header div:nth-child(1) {
    margin-bottom: 16px;
}

.header img {
    width: 210px;

    height: 38px;
}

.logo-div {
    margin-bottom: 16px;
}

.font {
    color: var(--black, #000);

    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.font a {
    font-weight: 600;
    line-height: normal;
    color: var(--linkbrary-primary-color, #6D6AFE);
}

.signupA {
    color: #6D6AFE;

    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: underline;

    text-underline-offset: 3px;
    margin-left: 8px;
}

.input-div {
    width: 400px;
    padding: 18px 15px;
    border-radius: 8px;
    border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
    background: var(--linkbrary-white, #FFF);
    margin: 12px 0;
    position: relative;
}

.input {
    width: 100%;
    color: var(--black, #000);
    border: none;

}

form {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

.input-div.div1 {
    margin-bottom: 24px;
}

.div2-img {
    width: 16px;
    height: 16px;
    background: url(/Images/eye-off.png);
    background-size: 16px 16px;


}
.div2-img:hover{cursor: pointer;}
.input-div.div2 {
    display: flex;
    align-items: center;
}

.input:focus {
    border: none;
    background: #FFF;

}

.input-div:focus {
    border-radius: 8px;
    border: 1px solid var(--linkbrary-primary-color, #6D6AFE);
    background: var(--linkbrary-white, #FFF)
}

input:focus::placeholder {
    color: transparent;
}

#password::placeholder {
    font-size: 7px;

    position: absolute;
    top: 35%;
}

#password:focus #password::placeholder {
    color: transparent;
}

.login-button {
    color: var(--grey-light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 16px 20px;
    width: 400px;
    border-radius: 8px;
    border: none;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    margin-bottom: 32px;
}

.login-button:hover {
    cursor: pointer;
}

.social-login {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    align-items: center;
    width: 400px;
    border-radius: 8px;
    border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
    background: var(--linkbrary-gray-10, #E7EFFB);
}

.social-login-subject {
    color: var(--linkbrary-gray-100, #373740);
    margin: 0;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
}

.social-img {
    display: flex;
    gap: 16px;
    margin: 0;
}

.google {
    background: url(/Images/google.png);
    background-size: 42px 42px;
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google img {
    width: 22px;
    height: 22px;

    flex-shrink: 0;
}

.talk {
    background: url(/Images/facebook.png);
    background-size: 42px 42px;
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.talk img {
    width: 22px;
    height: 22px;

    flex-shrink: 0;
}