.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0 6rem;
  background: var(--main-background-color);
}
.owner-image {
  width: 6rem;
  margin-bottom: 1.2rem;
}
.owner-name {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.folder-name {
  font-size: 4rem;
  font-weight: 600;
}

@media (max-width: 767px) {
  .container {
    padding: 1rem 0 4rem;
  }
  .owner-image {
    width: 4rem;
    margin-bottom: 0.6rem;
  }
  .owner-name {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  .folder-name {
    font-size: 3.2rem;
  }
}
