.card-item {
  height: 334px;
  border-radius: 15px;
  box-shadow: $drop-shadow;

  position: relative;

  > button {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: $fix-button;
  }

  &-img {
    display: block;
    height: 200px;
    border-radius: 15px 15px 0 0;
    background-image: url('../assets/images/empty-card-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform ease-in-out 0.4s;
    }
  }

  &-textBox {
    height: 135px;
    padding: 15px 20px;
    .textBox-timestamp {
      @include text-style(13, $gray-80);
    }
    transition: background ease-in-out 0.3s;

    position: relative;

    > div {
      @include flexbox(between, center);
    }

    > button {
      position: absolute;
      top: 15px;
      right: 20px;
      z-index: $fix-button;
    }

    p {
      @include text-style(16);
      display: -webkit-box;
      word-wrap: break-word;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 10px 0;
      height: 49px;
    }

    .textBox-date {
      @include text-style(14, $gray-90);
    }
  }

  &:hover {
    .card-item-img {
      img {
        transform: scale(130%);
      }
    }
    .card-item-textBox {
      background-color: $light-blue;
    }
  }

  &-menu {
    position: relative;

    .select-menu {
      opacity: 0;
      visibility: hidden;
      transition: all ease-in-out 0.2s;

      position: absolute;
      top: 16px;
      left: 0;
      z-index: $fix-button;

      background-color: $white;

      &.is-active {
        opacity: 1;
        visibility: visible;
      }

      &-item {
        margin-bottom: 2px;
        background-color: $white;

        button {
          @include text-style(14);

          width: 100px;
          padding: 7px 0;
          color: $gray-90;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:nth-child(2n) {
          background-color: $light-blue;

          button {
            color: $primary;
          }
        }
      }
      box-shadow: $select-menu-shadow;
    }
  }
}

@include responsive(T) {
  .card-item {
    &-menu {
      .select-menu {
        left: -80px;
      }
    }
  }
}

@include responsive(M) {
  .card-item {
    height: 327px;

    &-img {
      height: 192px;
    }

    &:hover {
      .card-item-img {
        img {
          transform: scale(1);
        }
      }

      .card-item-textBox {
        background-color: $white;
      }
    }
  }
}
