.share-list {
  @include flexbox();
  gap: 32px;

  &-item {
    @include column-flexbox(column);
    cursor: pointer;

    &-icon {
      @include flexbox();
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 50%;
      background: rgba(157, 157, 157, 0.04);
    }

    p {
      font-size: 13px;
      color: $blue-gray-100;
      margin-top: 10px;
      white-space: nowrap;
    }
  }
}
