.contentBox {
  box-sizing: content-box;
  width: 340px;
  height: 334px;
  display: block;
  position: relative;
  border-radius: 15px;
  font-family: 'Pretendard';
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border: 2px solid transparent;
}

.contentBox:hover {
  border: 2px solid var(--linkbrary-primary-color, #6d6afe);
  border-radius: 17px;
}

.imgContainer {
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  width: 100%;
  height: 180px;
}

.contentImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* 호버시 이미지 확대 애니메이션 */
.contentImage:hover {
  display: block;
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
}

/* 이미지 url이 없는 경우  */
.EmptyCard {
  overflow: hidden;
  width: 340px;
  height: 180px;
  flex-shrink: 0;
  background: #dddfff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
}

.logoInCard {
  display: block;
  width: 133px;
  height: 24px;
  flex-shrink: 0;
  opacity: 0.2;
}

.contentText {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 0 0 15px 15px;
}
.contentNav {
  display: flex;
  justify-content: space-between;
}
.moreInfoCebap {
  width: 21px;
  height: 17px;
}
.timeCreated {
  color: #666;
  font-size: 13px;
}
.description {
  overflow: hidden;
  color: #000;
  font-size: 16px;
  line-height: 24px; /* 150% */
}
.dateCreated {
  overflow: hidden;
  color: #333;
  font-size: 14px;
}

.Cards {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin-top: 40px;
  row-gap: 25px;
  column-gap: 20px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 340px);
    row-gap: 25px;
    column-gap: 24px;
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 325px);
    row-gap: 20px;
  }
}
