/* = */
.background {
  width: 40rem;
  margin: 0 auto;
  margin-top: 24rem;
}
.header {
  text-align: center;
}

.header a img {
  margin-bottom: 1.6rem;
  width: 21rem;
}
.header p {
  font-size: 1.6rem;
  font-family: "Pretendard Variable", system-ui;
  font-weight: 600;
}

.header p > a {
  color: var(--primary);
}

.login_form {
  margin-top: 3rem;
}

.login_form form {
  display: flex;
  flex-direction: column;
}

.login_form form label {
  font-family: "Pretendard Variable";
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.email_container {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.password_container {
  display: inline-flex;
  flex-direction: column;
}

.password_check_label {
  margin-top: 2.4rem;
}

.login_form form input[type="text"],
.login_form form input[type="password"] {
  width: 100%;
  padding: 1.8rem 1.5rem;
  border-radius: 8px;
  border: solid 1px var(--gray-300);
  font-size: 1.6rem;
  line-height: 24px;
}

.password_eyes_container {
  position: relative;
}

.password_eyes {
  position: absolute;
  width: 1.6rem;
  right: 1.5rem;
  top: 50%;
  cursor: pointer;
  transform: translate(0, -50%);
}

.login_button {
  margin: 3rem 0 3.2rem;
  width: 100%;
  padding: 1.6rem 2rem;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border: none;
  color: var(--white);
  font-family: "Pretendard Variable", system-ui;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}

.another_login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2.4rem;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  background: var(--gray-200);
}

.another_login p {
  font-family: "Pretendard Variable";
  font-size: 1.4rem;
  font-weight: 400;
}

.img_container {
  display: flex;
  gap: 1.6rem;
}

.another_login img {
  width: 4.2rem;
}

/* focus_event */
.login_form form input:focus {
  outline: none;
  border-color: var(--primary);
}

/* js error event */
.errorMsg_style {
  margin: 0.6rem 0;
  color: var(--red);
  font-size: 1.4rem;
  font-weight: 400;
}

.errorInput_style {
  border: 1px solid var(--red) !important;
}
