.footer-container {
  background-color: #111322;
  padding: 3.2rem 10.4rem 6.4rem;
}

.footer-item-container {
  background-color: #111322;
  max-width: 192rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-src,
.footer-guide a {
  color: #676767;
  font-family: Arial;
  font-size: 1.6rem;
}

.footer-guide {
  display: flex;
  gap: 3rem;
}

.footer-icon {
  display: flex;
  gap: 1.2rem;
}

@media all and (max-width: 768px) {
  .footer-container {
    padding: 3.2rem;
  }

  .footer-item-container {
    display: grid;
    grid-template-areas:
      "guide  icon"
      "codeit  . ";
    grid-template-columns: 50% 30%;
    gap: 6rem 0;
  }

  .footer-src {
    grid-area: codeit;
  }
  .footer-icon {
    grid-area: icon;
    justify-content: space-between;
  }
  .footer-guide {
    grid-area: guide;
    justify-content: space-between;
  }
}
