* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  background-color: #F0F6FF;
}

body {
  display: block;
  max-width: 1920px;
  margin: 0;
}

nav {
  position: sticky;
  display: flex;
  width: 100%;
  height: 94px;
  padding: 20px 200px;
  top: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.nav {
  display: flex;
  width: 100%;
  height: 54px;
  padding: 0 12.5rem;
  align-items: center;
  justify-content: space-between;
}

.nav>a>img:hover,
.nav>a>span:hover {
  cursor: pointer;
}

.nav>a {
  text-decoration: none;
}

.login_bt {
  display: flex;
  width: 128px;
  height: 54px;
  padding: 16px 20px;
  margin-left: auto;
  color: #F5F5F5;
  border: none;
  border-radius: 8px;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  width: 1920px;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}

header>h1 {
  width: 1200px;
  height: fit-content;
  color: #000000;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 5rem;
  text-align: center;
}

header>h1>span {
  color: transparent;
  background-image: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
}

header>a {
  display: flex;
  width: 350px;
  height: 54px;
  padding: 16px 20px;
  color: #f5f5f5;
  border: none;
  border-radius: 8px;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header>a:hover {
  cursor: pointer;
}

.header_img {
  width: 1200px;
  height: 590px;
  padding-top: 50px;
  overflow: hidden;
  justify-content: center;
}

.header_img>img {
  width: 1118px;
  border-radius: 25px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #f0f6ff 94.76%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.00);
  flex-shrink: 0;
  object-fit: cover;
}

main {
  justify-content: center;
}

section {
  display: flex;
  width: 1920px;
  height: 620px;
  padding: 120px 461px 50px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.section_contents {
  display: flex;
  width: 998px;
  height: 450px;
  align-items: center;
  flex-direction: row;
  gap: 157px;
}

.section_text {
  display: flex;
  width: 315px;
  flex-direction: column;
  gap: 10px;
}


.section_text>h2 {
  margin: 0;
  color: #000000;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.section_text>h2>span {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.section_text>p {
  margin: 0;
  color: #6b6b6b;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.section_contents > div > img {
  width: 500px;
}
.title1_gradient {
  background-image: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
}

.title2_gradient {
  background-image: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
}

.title3_gradient {
  background-image: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
}

.title4_gradient {
  background-image: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
}

footer {
  display: flex;
  width: 1920px;
  height: 280px;
  background-color: #ffffff;
  align-items: center;
  align-self: stretch;
}

.foot {
  display: flex;
  width: 1920px;
  height: 160px;
  margin-top: 120px;
  padding: 32px 104px 64px;
  background-color: #111322;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.footer_contents {
  display: flex;
  width: 1712px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.company {
  color: #676767;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;

}

.foot_link {
  display: flex;
  width: 181.111px;
  gap: 30px;
}

.foot_link>a {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.mobile {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  * {
    max-width: 1199px;
  }

  body {
    max-width: 1199px;
  }

  nav {
    padding: 20px 32px;
    margin: 0;
  }

  .nav {
    margin: 0;
    padding: 0;
  }

  .nav a {
    margin: 0;
  }

  .nav > a > img {
    width: 133px;
    height: 24px;
  }

  .login_bt {
    width: 128px;
    padding: 16px 20px;
    gap: 10px;
  }

  header {
    display: flex;
    width: 1199px;
    padding: 100px 250px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  header > h1 {
    height: fit-content;
    margin: 0;
    font-size: 56px;
    text-align: center;
  }

  header > a {
    display: flex;
    width: 350px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header_img {
    width: 698px;
    height: 390px;
    justify-content: center;
  }
  
  .header_img > img {
    width: 698px;
  }

  section {
    height: 440px;
    padding: 80px 250px 50px;
  }
  
  .section_contents {
    width: 698px;
    height: 315px;
    gap: 51px;
  }
  
  .section_text {
    width: 262px;
  }
  
  
  .section_text>h2 {
    font-size: 2.5rem;
  }
  
  .section_text>p {
    font-size: 13.5px;
  }
  
  .section_contents > div > img {
    width: 385px;
  }
  
  .footer_contents {
    width: 991px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  * {
    max-width: 767px;
  }

  nav {
    padding: 13px 32px;
  }

  .nav {
    padding: 0;
  }

  .login_bt {
    width: 80px;
    height: 20px;
    margin: 0;
    font-size: 12px;
  }

  .nav > a > img {
    width: 89px;
    margin: 0;
  }

  .nav a {
    margin: 0;
  }

  header {
    width: 767px;
    padding: 28px 32px 0px;
    gap: 24px;
  }

  header > h1 {
    height: fit-content;
    margin: 100px 0 0 0;
    font-size: 36px;
    line-height: 42px;
  }

  header > a {
    width: 200px;
    height: 40px;
    padding: 10px 16px;
    font-size: 15px;
  }

  .header_img {
    height: 340px;
    padding: 0;
  }
  
  .header_img > img {
    width: 700px;
    margin: 0 32px;
  }

  section {
    width: 767px;
    height: fit-content;
    padding: 40px 0 36px;
    justify-content: center;
  }
  
  .section_contents {
    width: 767px;
    height: fit-content;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }
  
  .reverse {
    flex-direction: column-reverse;
  }

  .section_text {
    width: 400px;
    align-items: center;
    gap: 10px;
  }
  
  .section_text>h2 {
    font-size: 30px;
  }
  
  .section_text>p {
    width: 400px;
    font-size: 15.5px;
  }

  .section_contents > div {
    width: 767px;
  }
  
  .section_contents > div > img {
    width: calc(100% - 64px);
    height: auto;
    margin: 0 32px;
  }

  footer {
    height: 280px;
  }
  
  .foot {
    padding: 40px 32px 0;
  }

  .footer_contents {
    display: grid;
    padding: 0 50px 0 0;
    grid-template-areas: 
    "foot_link . sns"
    "company . .";
    grid-row-gap: 55px;
  }

  .company {
    text-align: left;
    grid-area: company;
  }

  .foot_link {
    grid-area: foot_link;
  }

  .sns {
    grid-area: sns;
  }
}