.account--main {
  background: var(--linkbrary-bg);

  min-height: 100vh;

  padding-top: 238px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.account--container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logo--container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.account--logo {
  width: 211px;
  height: 38px;
}

.account--description {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.user-check {
  color: var(--black, #000);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.account--link {
  color: var(--linkbrary-primary-color);

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
}

.account--form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.account--form label, .social-login p {
  color: var(--black, #000);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.account--form input {
  width: 400px;

  padding: 18px 15px;

  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-white);
}

.signin--form input:focus {
  outline: none;
  border: 1px solid var(--linkbrary-primary-color);
}

.account--form .input--error {
  border: 1px solid var(--linkbrary-red);
}

.error-message {
  color: var(--linkbrary-red);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -6px;
}

.form--box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.email-password {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.password--box, .password-check--box {
  position: relative;
}

.eye {
  width: 16px;
  height: 16px;

  position: absolute;
  right: 15px;
  top: 47px;
}

.social-login {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-gray-10);
}

.account--btn {
  border: none;
}

.social--icons {
  display: flex;
  gap: 16px;
}

.icon--container {
  width: 42px;
  height: 42px;
  background-color: white;
  border-radius: 50%;
  
  padding: 10px;
}

.kakao {
  background-color: #F5E14B;
  padding: 10px 8px 8px;
}

.google--icon {
  width: 22px;
  height: 22px;
}

.kakao--icon {
  width: 26px;
  height: 24px;
}
