%btn-base {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  border-radius: 8px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

%tab-base {
  @include inline-flexbox;
  font-weight: 400;
  border-radius: 5px;
}

/* --------- Btn style --------- */
.btn-primary {
  @extend %btn-base;
  color: $white;
  padding: 16px 0;

  background: $gradation;
  background-size: 200%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: 200% center;
  }
}

.tab-outlined {
  @extend %tab-base;
  color: $black;
  border: 1px solid $primary;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $blue-gray-40;
  }

  &.is-active {
    color: $white;
    background-color: $primary;
  }
}

.tab-lg {
  padding: 8px 12px;
}

.tab-sm {
  padding: 6px 14px;
}
