%btn-base {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  border-radius: 8px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

%tab-base {
  @include inline-flexbox;
  font-weight: 400;
  border-radius: 5px;
}

%ic-button-base {
  @include inline-flexbox;
  @include text-style(16);
}

%mix-button-base {
  @include inline-flexbox;
  @include text-style(18);
}

/* --------- Btn style --------- */
// [default]기본 버튼
.btn-primary {
  @extend %btn-base;
  color: $white;
  padding: 16px 0;

  background: $gradation;
  background-size: 200%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: 200% center;
  }
}

// [아이콘 단일 버튼]
.ic-btn {
  @extend %ic-button-base;

  &--size {
    &-16 {
      @include text-style(16);
    }
    &-18 {
      @include text-style(18);
    }
    &-24 {
      @include text-style(24);
    }
    &-34 {
      @include text-style(34);
    }
  }

  &--color {
    &-primary {
      color: $primary;
    }
  }
}

// [혼합형]아이콘+텍스트
.mx-btn {
  @extend %mix-button-base;

  &--size {
    &-16 {
      @include text-style(16);
    }
    &-18 {
      @include text-style(18);
    }
    &-24 {
      @include text-style(24);
    }
  }

  &--color {
    &-primary {
      color: $primary;
    }
    &-gray-80 {
      color: $blue-gray-80;
    }
    &-white {
      color: $white;
    }
  }

  &-text {
    margin: 0 4px;

    &--size {
      &-14 {
        @include text-style(14);
      }
      &-16 {
        @include text-style(16);
      }
      &-18 {
        @include text-style(18);
      }
      &-24 {
        @include text-style(24);
      }
    }

    &--color {
      &-primary {
        color: $primary;
      }
      &-gray-80 {
        color: $blue-gray-80;
      }
      &-white {
        color: $white;
      }
    }
  }
}

/* --------- Filter style --------- */
.filter-outlined {
  @extend %tab-base;
  @include text-style(16);

  color: $black;
  border: 1px solid $primary;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $blue-gray-40;
  }

  &.is-active {
    color: $white;
    background-color: $primary;

    &:not(:disabled):hover {
      background-color: #504cff;
    }
  }

  @include responsive(M) {
    &:not(:disabled):hover {
      background-color: $white;
    }

    &.is-active {
      &:not(:disabled):hover {
        background-color: $primary;
      }
    }
  }
}

.filter-lg {
  padding: 8px 12px;
}

.filter-sm {
  padding: 6px 14px;
}
