%input-base {
  @include text-style(16, $blue-gray-100);

  width: 100%;
  border-radius: 8px;
  border: 1px solid $blue-gray-60;
  background-color: $white;
  padding: 18px 15px;

  &::placeholder {
    color: $blue-gray-80;
  }

  &:focus {
    border-color: $primary;
  }
}
