body{
  background-color: #F0F6FF;


}

header{
  background-color: #F0F6FF;
}

main p{
  color: #6B6B6B;
}

footer{
  background-color:#111322;
}


.button{
  border-radius: 8px;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  color: var(--grey-light, #F5F5F5);
}

.main-content {
  background-color: #F0F6FF;
}

.sub-content{
  background-color: #FFFFFF;
}
.sub-content .content-box{
  background: #F0F6FF;
}

.contents-01 h1 span{
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-02 h2 span{
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-03 h2 span{
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-04 h2 span{
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contents-05 h2 span{
  background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card{
  background-color: #FFFFFF;
  ;
}
.card.select{
  border: 2px solid #6D6AFE
}

footer .more-information{
  color: #CFCFCF;
}

footer img{
  /** img 태그를 감싸는 a 태그 height가 더 클 때 **/
  display: block;
}

footer a{
  color: #CFCFCF;
}

#company-title{
  color: #676767;
}
