*{
  margin: 0;
  box-sizing: border-box;
  /** 기본 18인듯 **/
  font-size: 100%;
}

*::-webkit-scrollbar{
  display: none;
}


nav.gnb{
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* 세로 가로 마진 수정 필요 */
  padding: 20px 200px;

  position: sticky;
  top: 0;

  z-index: 9999;
}

footer.footer{
  display: flex;
  justify-content: space-between;

  padding: 32px 104px 64px;
}

.button{
  padding: 16px 20px;
}

.content{
  width: 1920px;
  margin: 0 auto;
}

.main-content .content{
  padding: 0 360px  0px;
}

.sub-content .content{
  padding: 50px 461px;
}

.main-content{
  padding-top: 70px;
}

.main-content .content-box{
  width: 1200px;
  height: 590px;
  overflow: hidden;
}

.sub-content .content-text{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}

.sub-content .content-box{
  width: 550px;
  height: 450px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  position: relative;
}

.contents-01{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  overflow: hidden;
}

.sub-content .contents-02{
  padding-top: 120px;
}

.sub-content .contents-05{
  padding-bottom: 120px;
}
.sub-content .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 157px;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card{
  width: 244px;
  height: 239px;

  border-radius: 11px;

  position: relative;
}

.card .download{
  width: 46px;
  height: 46px;

  position: absolute;
  bottom: 0;
  right: 0;
}

.SNS-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.add-link-button{
  width: 350px; 
}

.login-button{
  width: 128px;
}


footer .more-information{
  display: flex;
  align-items: center;
  gap: 30px;
}