/* PC */
html::-webkit-scrollbar{
    display: none;
}

.action-button {
    padding: 16px 20px;

    color: #F5F5F5;
    border-radius: 8px;

    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.action-button_nav_add-link {
    width: 350px;

}

.action-button_nav_signin {
    width: 128px;
}

.action-button_grad_blue-sky {
    background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}

.feature-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 157px;

    width: fit-content;
    max-width: 998px;
}

.feature-descriptions {
    display: flex;
    flex-direction: column;
    gap: 100px;

    padding: 120px 0 170px;

    background-color: #FFFFFF;
}

.feature-description__detail-text {
    color: #6B6B6B;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.feature-description__embrace-text {
    -webkit-background-clip: text;
    color: transparent;
}

.feature-description__embrace-text_grad_blue-gray {
    background-image: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
}

.feature-description__embrace-text_grad_blue-pink {
    background-image: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
}

.feature-description__embrace-text_grad_pink-blue {
    background-image: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
}

.feature-description__embrace-text_grad_yellow_blue {
    background-image: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
}

.feature-description__sample-image-background {
    flex-shrink: 0;

    width: 550px;
    height: 450px;

    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    border-radius: 15px;
}

.feature-description__sample-image-background_img_manage-folder{
    background-image: url(./image/index/manage-folder.png);
}

.feature-description__sample-image-background_img_save-link{
    background-image: url(./image/index/save-link.png);
}

.feature-description__sample-image-background_img_search-link{
    background-image: url(./image/index/search-link.png);
}

.feature-description__sample-image-background_img_share-link{
    background-image: url(./image/index/share-link.png);
}
.feature-description__text-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.feature-description__title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.3px;
}

.feature-description_reverse {
    flex-direction: row-reverse;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px 104px 64px;
    background-color: #111322;
}

.footer__company-info {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;

    color: #676767;
    text-align: center;
}

.footer__policy-faq {
    display: flex;
    align-items: center;
    gap: 30px;

    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
}

.footer__policy {
    color: #CFCFCF;
    text-decoration: none;
}

.footer__faq {
    color: #CFCFCF;
    text-decoration: none;
}

.footer__sns-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footer__sns-icon {
    width: 20px;
    height: 20px;
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #F0F6FF;
}

.main {
    background-color: #F0F6FF;
}

.service-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 70px;
    gap: 40px;
    overflow: hidden;
}

.service-description__embrace-text {
    -webkit-background-clip: text;
    color: transparent;
}

.service-description__embrace-text_grad_blue-red {
    background-image: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
}

.service-description__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 125%;
    text-align: center;
}

.service-description__sample-image-background_img_landing {
    background-image: url(./image/index/landing.png);

}

.service-description__sample-image-background {
    width: 1200px;
    height: 590px;

    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}


/* Tablet */
@media all and (max-width:1199px) {

    .feature-description {
        width: unset;
        max-width: 698px;
        gap: 51px;
    }

    .feature-descriptions {
        padding: 80px 0 170px;
    }

    .feature-description__sample-image-background {
        width: 385px;
        height: 315px;
    }


    .header{
        padding: 20px max(calc(100% - 999px),32px);
    }

    .service-description {
        width: unset;
    }

    .service-description__sample-image-background {
        width: 698px;
        height: 343px;
    }

}

/* Mobile */
@media all and (min-width:375px) and (max-width:767px) {

    .action-button {
        padding: 10px 16px;

        font-size: 14px;
            font-weight: 600;
        }

    .action-button_nav_add-link {
        width: 200px;
    }

    .action-button_nav_signin {
        width: 80px;
    }

    .feature-description {
        flex-direction: column;
        gap: 24px;

        width: unset;
        width: 100%;
    }

    .feature-descriptions {
        padding: 40px 0 80px;
        gap: 80px;
    }


    .feature-description__detail-text {
        font-size: 15px;
            font-weight: 500;
        line-height: 150%;
        /* 22.5px */
    }

    .feature-description__sample-image-background {
        width: calc(100% - 64px); /* 좌우 여백을 제외한 너비 설정 */
        height: unset;
        padding-top: calc((100% - 64px)*265.909/325); /* 높이는 자동으로 설정하여 비율 유지 */
    }

    .feature-description__text-box{
        width: 325px;
    }
    .feature-description__title {
        font-size: 24px;
            font-weight: 700;
            letter-spacing: -0.3px;
    }

    .footer{
        position: relative;

        height: 160px;
        padding: 32px 32px 64px;
    }

    .footer__company-info{
        position:absolute;
        top: 108px;
    }

    .header{
        padding: 13px 32px;
    }

    .service-description {
        gap:24px;

        width: unset;
    }

    .service-description__sample-image-background {
        width: calc(100% - 64px); /* 좌우 여백을 제외한 너비 설정 */
        height: unset;
        padding-top: calc((100% - 64px) * 590/1200); /* 높이는 자동으로 설정하여 비율 유지 */
    }

    .service-description__title {
        font-size: 32px;
            font-weight: 700;
        line-height: 42px;
    }
}