:root {
  --linkbrary-primary: #6D6AFE;
  --linkbrary-red: #FF5B56;
  --linkbrary-black: #111322;
  --linkbrary-white: #ffffff;
  --linkbrary-gray-100: #3E3E43;
  --linkbrary-gray-60: #9FA6B2;
  --linkbrary-gray-20: #CCD5E3;
  --linkbrary-gray-10: #E7EFFB;
  --linkbrary-bg: #F0F6FF;
  --linkbrary-gradation: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  --fandom-k-gra-blue-to-pink: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);
  --black: #000
}

* {
  box-sizing: border-box;
}

/* input {
  outline: none; 
  border: none; 
  background-color: none;
} */

html {
  font-family: Pretendard, sans-serif;
  word-break: keep-all;
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--linkbrary-bg);
}

.wrap {
  margin: 238px auto;
  width: 400px;
}

.logo-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}

.logo-btn {
  margin: 0;
  height: 38px;
}

.logo-sign p {
  margin: 0;
  text-align: center;
}

.sign-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.sign-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.sign-btn a{
  text-decoration: none;
  font-weight: 600;
  line-height: normal;
  color: var(--linkbrary-primary);
}

.underline {
  width: 100%;
  height: 1px;
  background-color: var(--linkbrary-primary);
}

.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.label {
  font-size: 14px;
  line-height: normal;
}

.box {
  padding: 18px 15px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; 
  background-color: var(--linkbrary-white);
}

.box:focus{
  outline: none;
  border: 1px solid var(--linkbrary-primary);
}

.show-hide-icon {
  position: absolute;
  bottom: 22px;
  right: 15px;
  width: 16px;
  height: 16px;
}

.login-btn {  
  width: 100%;
  height: 60px;
}

.bnt-cta.large {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 30px 0 32px;
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #f5f5f5;
  background-image: var(--linkbrary-gradation);
  cursor: pointer;
}

.sns-login-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 400px;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-gray-10);
  cursor: pointer;
}

.sns-login-btn p {
  flex-grow: 1;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--linkbrary-gray-100, #373740);
}

.sns-btn {
  margin: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.sns-btn img {
  width: 100%;
}