/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-purple);

  /* Colors */
  --color-purple: #6d6afe;
  --color-red: #ff5b56;
  --color-black: #111322;
  --color-white: #ffffff;
  --color-gray: #373740;
  --color-gray2: #ccd5e3;
  /* backgroun color */
  --home-bg: #f0f6ff;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  font-family: Pretendard;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--home-bg);
}

a {
  color: inherit;
}

.wrap {
  padding: 0 32px;
  max-width: 46.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--black);
}

.main {
  width: 100%;
}

.wrap h1 {
  text-align: center;
}

.wrap h1 img {
  width: 21rem;
  height: 3.8rem;
  margin-bottom: 1.6rem;
}

.wrap form {
  display: flex;
  flex-direction: column;
}

.wrap h4 {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-black);
}

.wrap h4 a {
  font-size: 1.6rem;
  font-weight: 400;
  position: relative;
  font-weight: 600;
  color: var(--color-primary);
}

.form__wrap {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form__wrap label {
  color: var(--color-black);
  font-weight: 400;
  font-size: 1.4rem;
}

.form__wrap input {
  width: 100%;
  color: var(--color-gray);
  padding: 1.8rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 8px;
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-gray2);
}

.form__wrap input:focus {
  border: 0.1rem solid var(--color-purple);
}

.password {
  position: relative;
  width: 100%;
}

.password img {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  width: 1.6rem;
}

.social__wrap {
  width: 100%;
}

.login__btn {
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: var(--color-white);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.6rem 2rem;
  border: none;
}

.social__wrap {
  width: 100%;
  padding: 1.2rem 2.4rem;
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--linkbrary-gray-20, --color-gray2);
  background: var(--linkbrary-gray-10, #e7effb);
}

.social__wrap p {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-black);
}
.contact__links {
  display: flex;
  gap: 1.6rem;
}

ul {
  list-style: none;
}

li img {
  width: 42px;
  height: 42px;
}
