* {
    box-sizing: border-box;
}
html {
    --primary: #6d6afe;
    --red: #ff5b56;
    --black: #111322;
    --white: #ffffff;
    --gray0: #f0f6ff;
    --gray1: #e7effb;
    --gray2: #ccd5e3;
    --gray3: #9fa6b2;
    --gray4: #3e3e43;
}
body {
  font-family: Pretendard;
}
main {
    display: flex;
    width: 90rem;
    padding: 14.875rem 0rem 15.75rem 0rem;
    justify-content: center;
    align-items: center;
    background-color: var(--gray0);
}
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.primaryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}
.secondaryContainer {
    display: flex;
    width: 25rem;
    padding: 0.75rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid var(--gray2);
    background: var(--gray1);
    color: var(--gray4, #373740);
    font-size: 0.875rem;
    font-weight: 400;
}
.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;    
}

#logo {
    width: 13.16144rem;
    height: 2.375rem;
}
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}
.textContainer {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}
input {
  display: flex;
  width: 25rem;
  padding: 1.125rem 0.9375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  background: var(--white);
  outline: none;
}
.linkContainer {
    display: flex;
    flex-direction: column;
    font-family: Pretendard;
    font-size: 1rem;
    font-weight: 600;
}
.linkContainer >a {
	color: var(--primary);
}
.inputFieldContainer {
  position: relative;
}
.inputFieldContainer >img {
    position: absolute;
    right: 1rem;
    bottom: 1.1rem;
    width: 1rem;
    height: 1rem;
}
input:focus { 
  border: 1px solid var(--gray2);
}
input:hover {
    cursor: pointer;
}
a {
    text-decoration: none;
}

.emptyContainer {
    height: 0.0625rem;
    align-self: stretch;
    background: var(--primary);
}
button {
  display: flex;
  width: 25rem;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  color: var(--gray0);
  font-size: 1.125rem;
  font-weight: 600;
  border: 0;
}

.socialLoginContainer >a {
  display:flex;
}
.socialLoginContainer img {
  flex: 1 0 2.625rem;
}
.socialLoginContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}