* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
}

body {
  display: flex;
  padding: 238px 0px 252px 0px;
  justify-content: center;
  align-items: center;
  background: var(--linkbrary-bg, #f0f6ff);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 210.583px;
  height: 38px;
  text-align: center;
}

.logoImg {
  width: 100%;
}

.signinBox {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.ask {
  color: var(--black, #000);

  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.toSignin {
  color: var(--linkbrary-primary-color, #6d6afe);

  /* Linkbrary/body 1-semibold */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 8px;
}

.emailInput {
  width: 400px;
  height: 60px;
  padding: 18px 15px;
  display: flex;
  align-items: center;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-primary-color, #ccd5e3);
  background: var(--linkbrary-white, #fff);
}

/* 커서 올리면 #6d6afe*/

.emailInput:focus {
  border: 1px solid var(--linkbrary-primary-color, #6d6afe);
}

.pw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.pwInput {
  width: 400px;
  height: 60px;
  padding: 18px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #ccd5e3);
  background: var(--linkbrary-white, #fff);
}

.pwInput:focus {
  border: 1px solid var(--linkbrary-primary-color, #6d6afe);
}

.checkPw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.checkPw:focus {
  border: 1px solid var(--linkbrary-primary-color, #6d6afe);
}

.signupBtn {
  border: #ffffff;
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
}

.signupBtnLabel {
  color: var(--grey-light, #f5f5f5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.socialLoginBox {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #ccd5e3);
  background: var(--linkbrary-gray-10, #e7effb);
}

.siteLogo {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.toGoogle {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  background-color: #ffffff;
  border-radius: 50%;
}

.googleImg {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

.toKakao {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  background-color: yellow;
  border-radius: 50%;
}

.kakaoImg {
  width: 26px;
  height: 24px;
  background-color: yellow;
}
