* {
  box-sizing: border-box;
}
html {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --gray0: #f0f6ff;
  --gray1: #e7effb;
  --gray2: #ccd5e3;
  --gray3: #9fa6b2;
  --gray4: #3e3e43;
}
body {
  font-family: Pretendard;
  margin: 0;
}
.mainContainer {
  display: flex;
  padding: 14.875rem 0rem 15.75rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--gray0);
}
.primaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
label {
  color: var(--black);
  font-size: 0.875rem;
  font-weight: 400;
}

.headerContainer img {
  width: 13.16144rem;
  height: 2.375rem;
}
.textContainer {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.textContainer > span {
  color: var(--black);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.linkContainer > a {
  text-decoration: none;
  color: var(--primary);
  font-size: 1rem;
  font-weight: 600;
}
.emptyContainer {
  height: 0.0625rem;
  align-self: stretch;
  background: var(--primary);
}
.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  position: relative;
}
input {
  display: flex;
  width: 25rem;
  padding: 1.125rem 0.9375rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--gray2);
  background: var(--white);
  position: relative;
  outline: none;
}

input:focus {
  border: 1px solid var(--primary);
}
button {
  display: flex;
  width: 25rem;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  color: var(--gray0);
  border: 0;
  font-size: 1.125rem;
  font-weight: 600;
}
button:hover {
  cursor: pointer;
}
img.eyeIcon {
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 1rem;
  bottom: 1rem;
}
.secondaryContainer {
  display: flex;
  width: 25rem;
  padding: 0.75rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--gray2);
  background: var(--gray1);
}
.socialLoginContainer {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  color: var(--gray4);
  font-size: 0.875rem;
  font-weight: 400;
}
a.socialLoginLink > img {
  width: 2.625rem;
  height: 2.625rem;
}
.socialLoginLink {
  display: flex;
}
@media (max-width: 1199px) {
  .mainContainer {
    padding: 200px 0 290px 0;
    margin: 0 auto;
  }
  @media (max-width: 767px) {
    .mainContainer {
      width: 100%;
      margin: 0 auto;
      padding-left: 32px;
      padding-right: 32px;
    }
    .primaryContainer {
      width: 100%;
      max-width: 400px;
    }
    .formContainer {
      width: 100%;
    }
    .inputGroup {
      width: 100%;
    }
    input {
      width: 100%;
    }
    button {
      width: 100%;
    }
    .secondaryContainer {
      width: 100%;
      max-width: 400px;
    }
    .inputField {
      width: 100%;
    }
  }
}
