@charset "utf-8";

.sign-wrap{
  display: flex;
  padding: 14.875rem 0rem 7.25rem 0rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* sign-top */
.sign-top{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.sign-top-logo{
  display: block;
  width: 13.16144rem;
  height: 2.375rem;
}

.sign-top-question{
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.sign-question p{
  color: var(--black, #000);
}
.sign-question-join{
  color: var(--linkbrary-primary-color, #6D6AFE);
  text-decoration-style : solid;
}

.sign-question-join::after{
  content: "";
  display: block;
  width: 100%;
  height: 0.01rem;
  background-color: var(--linkbrary-primary-color, #6D6AFE);
}


/* sign-middle */
input{
  width: 25rem;
  padding: 1.125rem 0.9375rem;
  border-radius: 0.5rem;
  border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
  background: var(--linkbrary-white, #FFF);
}

input:focus{
  border: 1px solid var(--linkbrary-primary-color, #6D6AFE);
}

label{
  display: block;
  margin-bottom: 0.75rem;
  color: var(--black, #000);
  font-size: 0.875rem;
}

.eye-off{
  background: url(imgs/sign/eye-off.svg) no-repeat;
  background-position: center right 0.95rem;
}

.eye-on{
  background: url(imgs/sign/eye-on.png) no-repeat;
  background-position: center right 0.95rem;
  background-size: 1rem;
}
.sign-userinfo{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  padding:1.88rem 0;
}

.password-err{
  color: var(--linkbrary-red, #FF5B56);
  font-size: 0.875rem;
  margin-top: 0.38rem;
}

.sign-middle .btn{
  width: 25rem;
  margin-bottom: 2rem;
}

/* sing-bottom */
.sign-bottom{
  display: flex;
  width: 25rem;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
  background: var(--linkbrary-gray-10, #E7EFFB);
}
.sign-bottom-tit{
  color: var(--linkbrary-gray-100, #373740);
  font-size: 0.875rem;
}

.sign-sns{
  display: inline-block;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%; 
  border: var(--linkbrary-gray-20, #CCD5E3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.375rem;
  text-indent : -9999px;
}

.google{
  background-color: var(--linkbrary-white, #FFF);
  background-image: url(imgs/sign/sign_google.png);
}

.kakao{
  background-color: var(--linkbrary-yellow, #F5E14B);
  background-image: url(imgs/sign/sign_kakao.png);
}