* {
  box-sizing: border-box;
}

/* 전체 페이지 스타일링 */
body {
  font-family: Pretendard, Arial, sans-serif;
  background-color: #EDF7FF;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

label {
  color: #2c2c2c;
  display: block;
  margin: 0 0 8px;
}

input {
  border-radius: 8px;
  border: 1px solid var(--linkbrary-primary-color, #d4d4d4);
  background: var(--linkbrary-white, #FFF);
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  outline: none;
}

input:focus {
  border-color: blue;
}

/* 헤더 스타일링 */
header {
  position: fixed;
  width: 100%;
  background-color: #EDF7FF;
  padding: 20px;
}

.header-contents {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  margin: 0 auto;
}

.loginButton {
  display: flex;
  width: 128px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border-style: none;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  color: var(--grey-light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: none;
}

.logoimage {
  width: 133px;
  height: 24px;
}

/* 본문 탑 스타일링 */
.top-contents {
  background-color: #EDF7FF;
  padding: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  margin: auto;
}

.top-heading {
  text-align: center;
  padding: 10px  ;
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}

.top-title {      
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-button {
  display: flex;
  width: 350px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border-style: none;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  color: var(--grey-light, #F5F5F5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: none;
}

/* 본문 텍스트 스타일링 */
.big-text {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.small-text {
  color: #6B6B6B;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

/* 본문 중간 링크 저장 스타일링 */
.middle-save {
  display: flex;
  padding: 120px 0 50px 0;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.save-text {
  display: flex;
  width: 291px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.save-contents {
  display: flex;
  align-items: center;
  gap: 157px;
}

.save-image {
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #F0F6FF;
}

.save-big-color {
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* 본문 중간 폴더 관리 스타일링 */
.middle-manage {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.manage-contents {
  display: flex;
  align-items: center;
  gap: 157px;
}

.manage-text {
  display: flex;
  width: 291px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.manage-image {
  width: 550px;
  height: 450px;
}

.manage-big-color {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* 본문 중간 링크 공유 스타일링 */
.middle-share {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.share-text {
  display: flex;
  width: 291px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.share-contents {
  display: flex;
  align-items: center;
  gap: 157px;
}

.share-image {
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #F0F6FF;
}

.share-big-color {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* 본문 중간 링크 검색 스타일링 */
.middle-search {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.search-contents {
  display: flex;
  align-items: center;
  gap: 157px;
}

.search-text {
  display: flex;
  width: 291px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.search-image {
  width: 550px;
  height: 450px;
}

.search-big-color {
  background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* 푸터 스타일링 */
footer {
  display: flex;
  height: 280px;
  padding-top: 120px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background-color: #FFFFFF;
}

.footer-bottom {
  display: flex;
  height: 160px;
  padding: 32px 104px 64px 104px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  background: var(--the-julge-black, #111322);
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.codeit-info {
  color: #676767;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.policy {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 181.111px;
  align-items: flex-start;
  gap: 30px;
}

.policy a:link {
  color: #CFCFCF;
}

.social-info {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

/* 로그인과 회원가입 부분 */
/* 페이지 전체 */
.signin {
  display: flex;
  padding: 238px 0px 252px 0px;
  justify-content: center;
  align-items: center;
}

.signincontents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* 로고 이미지와 텍스트 */
.signheader {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signlogoimage {
  width: 100%;
}

.signheadertext {
  color: var(--black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.signheaderlink {
  text-decoration: underline;
}

/* 로그인과 회원가입 버튼 */
.signloginButton {
  border: none;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--grey-light, #F5F5F5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* 소셜 부분 */
.sociallogin {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
  background: var(--linkbrary-gray-10, #E7EFFB);
  color: var(--linkbrary-gray-100, #373740);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.socialloginicons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.socialicon {
  position: relative;
  width: 42px;
  height: 42px;
}

.socialiconinner {
  position: absolute;
  top: 25%;
  left: 25%;
}

.socialiconinner-kakao {
  position: absolute;
  top: 23%;
  left: 22%;
}

@media (min-width: 1200px) {
  .br-none {
    display: none;
  }
}

/* Tablet 사이즈 스타일 적용 */
@media (max-width: 1199px) {
  .header-contents {
    padding: 0 32px;
    /* 좌우 여백 조절 */
    max-width: 800px;
    /* 간격 유지하고 좌우 여백 줄어드는 부분. 사이즈에 대한 내용은 따로 없어서 임의로 정함 */
  }

  .logoimage {
    margin-left: 32px;
    /* "Linkbrary" 로고 왼쪽 여백 */
  }

  .loginButton {
    margin-right: 32px;
    /* "로그인" 버튼 오른쪽 여백 */
  }

  .top-image {
    width: 650px;
  }

  .save-image {
    width: 385px;
    height: 315px;
  }

  .manage-image {
    width: 385px;
    height: 315px;
  }

  .share-image {
    width: 385px;
    height: 315px;
  }

  .search-image {
    width: 385px;
    height: 315px;
  }

  .middle-save {
    padding: 80px 0 50px 0;
  }

  .save-contents {
    gap: 51px;
    margin: auto;
  }

  .manage-contents,
  .share-contents,
  .search-contents {
    gap: 51px;
  }
}

/* Mobile 사이즈 스타일 적용 */
@media (max-width: 767px) {
  .top-contents {
    gap: 24px;
    padding: 80px 32px 0px 32px;
  }

  .top-heading {
    font-size: 32px;    
    line-height: 40px;
  }

  .save-contents,
  .manage-contents,
  .share-contents,
  .search-contents {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    gap: 24px; 
    padding: 32px;
    margin: auto;
  }

  .top-image,
  .save-image,
  .manage-image,
  .share-image,
  .search-image {
    width: 100%; /* 좌우 여백 32px을 제외한 너비 설정 */
    height: auto; /* 가로가 커지는 비율에 맞춰 세로도 커지도록 설정 */
  }

  .save-text,
  .manage-text,
  .share-text,
  .search-text {
    width: 100%;
  }

  .manage-contents,
  .search-contents {
    flex-direction: column-reverse;
  }
}