* {
  box-sizing: border-box;
}

body {
  background: var(--linkbrary-bg, #f0f6ff);
  font-family: "Pretendard", sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

a {
  cursor: pointer;
}

header,
main {
  max-width: 120rem;
  margin: 0 auto;
}

header {
  padding: 1.25rem 12.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-logo-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login {
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  text-decoration: none;
  color: var(--grey-light, #f5f5f5);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
}

main {
  display: flex;
  padding-top: 4.375rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}

.title {
  text-align: center;
  color: #000;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
}

.info-title {
  font-size: 4rem;
  text-align: center;
}

.info-title-accent {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.signup {
  width: 21.875rem;
  padding: 1rem 1.25rem;
  text-align: center;
  border-radius: 0.5rem;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  text-decoration: none;
  color: var(--grey-light, #f5f5f5);
  font-size: 1.125rem;
  font-weight: 600;
}

.image-box {
  width: 75rem;
  height: 36.875rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image-box > img {
  width: 69.875rem;
  height: 41.1875rem;
  flex-shrink: 0;
  border-radius: 1.5625rem;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 67.68%,
    #f0f6ff 94.76%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

#first-section {
  padding: 7.5rem 28.8125rem 3.125rem 28.8125rem;
  background-color: #fff;
  margin: 0 auto;
}

section {
  display: flex;
  padding: 3.125rem 28.8125rem;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  gap: 9.8125rem;
}

.section-text-container {
  width: 18.1875rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  color: #6b6b6b;
}

.section-text {
  width: 18.1875rem;
  letter-spacing: -0.01875rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: normal;
}

.section-text > h2 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: normal;
  display: inline;
}

.mobile-display-option {
  color: #6b6b6b;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 1.5rem */
}

.display-none-mobile {
  display: none;
}

.text-accent1 {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-accent2 {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-accent3 {
  background: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-accent4 {
  background: var(
    --fandom-k-gra-blue-to-pink,
    linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-box {
  width: 34.375rem;
  height: 28.125rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.9375rem;
  background: #f0f6ff;
  display: inline-flex;
  align-items: center;
}

#image-select {
  width: 15.25rem;
  height: 14.9375rem;
  border-radius: 0.6875rem;
  border: 2px solid var(--linkbrary-primary-color, #6d6afe);
  overflow: hidden;
}

.img-container {
  position: relative;
  display: inline-flex;
  gap: 10px;
}

#group {
  position: absolute;
  right: 15rem;
  bottom: -1rem;
}

.img {
  width: 15.25rem;
  height: 14.9375rem;
}

.revers {
  flex-direction: row-reverse;
}

.supimage {
  width: 26rem;
  height: 16.9375rem;
  position: relative;
  top: 1.5rem;
}

.img-box-container {
  width: 35.625rem;
  height: 29.3125rem;
}

.supimage-background {
  width: 35.625rem;
  height: 29.3125rem;
  border-radius: 1.5625rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/image\ 25.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.screenshot {
  border-radius: 0.9375rem;
  position: relative;
  left: 1rem;
  bottom: -1rem;
}

footer {
  background: var(--the-julge-black, #111322);
  margin: 0 auto;
}

.left-box {
  color: #676767;
  text-align: center;
  font-family: Arial;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.center-box {
  display: flex;
  width: 11.31944rem;
  align-items: flex-start;
  gap: 1.875rem;
}

.center-box > a {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.right-box {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.footer-max {
  max-width: 120rem;
  display: flex;
  height: 10rem;
  padding: 2rem 6.5rem 4rem 6.5rem;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  header {
    width: 799px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }

  main {
    width: 698px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  .image-box {
    width: 698px;
    height: 343px;
  }

  .image-box > img {
    width: 650.303px;
    height: 383.114px;
  }

  section,
  #first-section {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
    gap: 41px;
  }

  .img-box {
    width: 385px;
    height: 315px;
  }

  .md-background1 {
    background: url("./images/_img\ 1.png") center / cover no-repeat;
  }

  .md-background2 {
    background: url("./images/img\ 4.png") center / cover no-repeat;
  }

  .md-background3 {
    background: url("./images/img3\ 1.png") center / cover no-repeat;
  }

  .md-background4 {
    background: url("./images/_img4\ 1.png") center / cover no-repeat;
  }

  .visibility * {
    /* display: none; */
    visibility: hidden;
  }
}
@media (max-width: 839px) {
  header {
    width: 100%;
  }
}
@media (max-width: 768px) {
  header {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  main {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }

  #first-section {
    width: 100%;
    padding: 0 32px;
  }

  .container {
    flex-direction: column;
    width: 100%;
    padding-top: 7.5rem;
    padding-bottom: 3.125rem;
    gap: 16px;
  }

  .img-box {
    background-size: cover;
    margin-right: 32px;
    margin-left: 32px;
    width: 100%;
    height: 100%;
    padding-bottom: 80%;
  }

  .visibility * {
    /* visibility: hidden; */
    display: none;
  }

  .mobile-display-option {
    display: none;
  }

  .section-text {
    width: 100%;
    margin-bottom: 4px;
  }

  .section-text-container {
    width: 100%;
  }

  .display-none-mobile {
    display: inline;
    color: #6b6b6b;
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    width: 100%;
    /* 1.5rem */
  }

  section {
    width: 100%;
    padding: 0 32px;
  }
  .footer-margin {
    margin-bottom: 40px;
  }
  .footer-max {
    display: grid;
    grid-template-areas:
      "privacy-faq logo-link"
      "codeit .";
    row-gap: 30px;
    column-gap: 30px;
    justify-items: left;
  }
  .left-box {
    grid-area: codeit;
  }
  .center-box {
    grid-area: privacy-faq;
  }
  .right-box {
    grid-area: logo-link;
  }
}
