* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: var(--grey-light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.header {
    position: sticky;
    top: 0px;
    display: flex;
    padding: 20px 200px;

    justify-content: space-between;
    align-items: center;
    background: #F0F6FF;
    gap: 8px;
    z-index: 999;
}

.header-img-div {
    width: 133px;
    height: 24px;
    background: url(Images/logo.png) no-repeat center;
}

.login-button {
    color: var(--grey-light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 128px;
    border-radius: 8px;
    padding: 16px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

.button {
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

.section1.num1 {
    display: flex;
    padding: 70px 360px 0px 360px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #F0F6FF;
    overflow: hidden;
}

.section-num1-imgdiv {
    width: 1118px;
    height: 659px;
}

.subject {
    color: #000000;
    margin: 0;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    width: 708px;
    height: 160px;
    min-width: max-content;
}

.num1-span {
    background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-button {
    width: 350px;
    padding: 16px 20px;
    text-align: center;
    border-radius: 8px;
}

.section-num1-imgdiv {
    width: 1200px;
    height: 590px;
    padding: 50px 41px 0;
    overflow: hidden;
    position: relative;
}

.num1-imgdiv {
    width: 1118px;
    height: 659px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    background: #F0F6FF;
}

.gradient-div {
    position: absolute;
    width: 1118px;
    height: 230px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%);
    opacity: 0.2;
    width: 1118px;
    height: 230px;
    bottom: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);

}

.section {
    height: 620px;

    padding: 50px 461px;
    display: flex;
    gap: 120px;
    align-items: center;
}

.num2 {
    padding: 120px 461px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 157px;
}

.font2 {
    clear: both;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
}

.font2 span {
    background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.num2-subject {
    width: 291px;
    min-width: max-content;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.num2-imgdiv {
    width: 550px;
    height: 450px;
    background-color: #F0F6FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 15px;
}

.num2-imgdiv>div {
    display: flex;
    justify-content: space-between;
}

.num2-img.img1 {
    background: url(Images/3.png) no-repeat center;
    width: 279px;
    height: 275px;
    background-size: cover;
}

.num2-img.img2 {
    background: url(Images/4.png) no-repeat center;
    background-size: 279px 275px;
    width: 279px;
    height: 275px;
    position: relative;
    margin: 0 -14px;
}

.num2-img.img3 {
    background: url(Images/2.png) no-repeat center;
    width: 279px;
    height: 275px;
    background-size: cover;
    z-index: 1;
}

.num2-border {
    position: absolute;
    top: 13px;
    left: 17px;
    width: 245px;
    height: 242px;
    border-radius: 11px;
    border: 2px solid var(--linkbrary-primary-color, #6D6AFE);
}

.absolute-icon {
    right: 0;
    bottom: 0;
    width: 46px;
    height: 46px;
    z-index: -1;
    position: absolute;
    z-index: 2;
    border-radius: 22px;
}

#foldername {
    width: 414px;
    height: 270px;

    flex-shrink: 0;
    background: url(Images/moresearch.png);
    background-size: 414px 270px;
}

#linkspan {
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.num2-imgdiv.num2-backgroundimg1 {
    background: url(Images/image423.png) no-repeat center;
    border-radius: 25px;
    background-size: 550px 450px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
}

.num2-imgdiv.num2-backgroundimg1 {
    width: 570px;
    height: 469px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.num2-background-opacity {
    position: absolute;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.num2-imgdiv.num2-backgroundimg {
    background: url(Images/image423.png) no-repeat center;

    background-size: 160% 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
}

.num2-imgdiv.num2-backgroundimg1 img {

    width: 416px;
    height: 271px;
    margin-top: 60px;
    z-index: 10;
}

#sharedspan {
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section.num2.last{margin-bottom: 120px;}
.codeit {
    width: 619px;
    height: 584px;
    position: absolute;
    top: 55px;
    left: 60px;
    border-radius: 15px;
    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 48.72%, #000 128.17%);
    background-size: 619px 584px;*/
}

.num2-imgdiv.last {
    position: relative;
}

#searchspan {
    background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer {
    height: 160px;
    width: 100%;
    color: #676767;
    padding: 32px 104px 64px 104px;
    background: var(--the-julge-black, #111322);
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: baseline;
}
.footer1{flex-shrink: 0;} 
.footer1.logo {
    display: flex;
    justify-content: center;
}


.footer1.logo a {
    margin-right: 12px;
}

.footer1.logo a:last-child {
    margin: 0;
}

.pre-footer {
    margin-bottom: 120px;
}

.policy {
    color: #CFCFCF;

    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
                 line-height: normal;
    gap: 30px;
}

.policy a:last-child {
    margin-left: 30px;
}


@media (min-width: 768px) and (max-width:1199px){
 
    .subject {

width: 67.5%;
    }
}
@media (min-width:375px) and(max-width:767px){}