html{
  font-size: 62.5%;
}
.frame{
  padding-top: 23.8rem;
  padding-bottom: 25.2rem;
  display: flex;

  align-items: center;
  flex-direction: column;
  text-align: center;
  
}
body{
  background: var(--linkbrary-bg, #F0F6FF);
}

.logo{
width: 210.583rem;
height: 3.8rem;
margin-bottom: 1.6rem;
}

.join{
color: var(--black, #000);
font-family: Pretendard;
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 2.4rem; 
width: 90%;
}
.join_go{
  color: var(--linkbrary-primary-color, #6D6AFE);
 font-family: Pretendard;
 font-weight: 600;
 line-height: normal;
 }
 .email,.password{
margin-top: 3.0rem;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 1.2rem;
  }
  .email>input, .password>input{
display: flex;
width: 40.0rem;
padding: 1.8rem 1.5rem;
justify-content: center;
align-items: center;
border-radius: 0.8rem;
border: 1rem solid gray;
background: var(--linkbrary-white, #FFF);
  }
  
.password>img{
  position: relative;
  top: -45rem;
  left: 40.0rem;
}
button{
  border-color:#f5f5f5;
  color: #f5f5f5;;
  margin-top: 3.0rem;
  display: flex;
  width: 44.1rem;
  padding: 1.6rem 2.0rem;
  justify-content: center;
  align-items: center;
  gap: 1.0rem;
  border-radius: 0.8rem;
background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}
.social_login{
  margin-top: 3.0rem;
display: flex;
width: 40.0rem;
padding: 1.2rem 2.4rem;
justify-content: space-between;
align-items: center;
border-radius: 0.8rem;
border: 0.1rem solid var(--linkbrary-gray-20, #CCD5E3);
background: var(--linkbrary-gray-10, #E7EFFB);
}
.email>input:focus {
  border: 0.1rem solid blue;
}