:root {
  --primary-color: #6d6afe;
  --red-color: #ff5b56;
  --black-color: #111322;
  --white-color: #ffffff;
  --gray-100-color: #3e3e43;
  --gray-60-color: #9fa6b2;
  --gray-20-color: #ccd5e3;
  --gray-10-color: #e7effb;
  --gray-bg-color: #f0f6ff;
}