/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  nav {
    padding: 2rem 0;
  }

  .nav {
    max-width: 80rem;
  }

  .nav a:nth-child(1) {
    padding-left: 3.2rem;
  }
  .nav a:nth-child(2) {
    padding-right: 3.2rem;
  }
}

/* Mobile */
@media (min-width: 375px) and (max-width: 767px) {
  nav {
    padding: 2rem 3.2rem;
  }

  br {
    display: none;
  }

  .hero {
    padding: 0 3.2rem;
  }

  h1 {
    width: 100%;
  }

  .hero-image {
    width: 100%;
    height: auto;
    padding: 0 3.2rem;
  }

  .content {
    padding: 4rem 3.2rem;
  }
  
  .content:nth-of-type(odd) { 
    grid-template:
      "title"
      "image"
      "description";
  }
  .content:nth-of-type(even) {
    grid-template:
      "title"
      "image"
      "description";
  }

  .image {
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 1.6rem;
  }

  .codeit {grid-area: codeit;}
  .policy {grid-area: policy;}
  .sns {grid-area: sns;}

  .info {
    display: grid;
    row-gap: 6rem;
    grid-template: 
      "policy sns"
      "codeit .";
    }
}
