* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

html {
  font-family: Pretendard, Arial, sans-serif;
  font-size: 62.5%;
  background-color: var(--gray-bg-color, #edf7ff);
}

br {
  display: block;
}

section {
  background-color: var(--white-color, #ffffff);
  padding-top: 7rem;
  padding-bottom: 12rem;
}

nav {
  background-color: var(--gray-bg-color, #edf7ff);
  padding: 2rem 20rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 192rem;
  margin: 0 auto;
}

.button {
  background-image: linear-gradient(90deg, #6d6afe, #6ae3fe);
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  color: var(--white-color, #ffffff);
  font-weight: 600;
  border-radius: 0.8rem;
  border: none;
  padding: 1.6rem 2.0rem;
  cursor: pointer
}

.login {
  width: 12.8rem;
}

header {
  padding-top: 7rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

h1 {
  text-align: center;
  font-size: 6.4rem;
  line-height: 125%;
  width: 70.8rem
}

.background-clip-text {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.title-gradation-1 {background-image: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);}
.title-gradation-2 {background-image: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);}
.title-gradation-3 {background-image: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);}
.title-gradation-4 {background-image: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);}
.title-gradation-5 {background-image: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%);}

.linkadd {
  width: 35rem;
}

.hero-image {
  width: 120rem;
  height: 59rem;
}

.title {
  font-size: 4.8rem;
  text-align: left;
  grid-area: title;
}

.description {
  font-size: 1.6rem;
  color: #6b6b6b;
  font-weight: 500;
  line-height: 150%;
  grid-area: description;
}

.image {
  width: 55rem;
  height: 45rem;
  grid-area: image;
}

.content {
  background-color: var(--white-color, #ffffff);
  padding: 5rem 46.1rem;
  display: grid;
  justify-content: center;
  column-gap: 15.7rem;
  row-gap: 1rem;
  width: 100%;
}

.content:nth-of-type(odd) {
  grid-template:
  ". image"
  "title image"
  "description image"
  ". image" /291px 55rem;
}

.content:nth-of-type(even) {
  grid-template:
  "image ."
  "image title"
  "image description"
  "image ." /550px 29.1rem;
}

footer {
  background-color: var(--black-color, #111322);
  padding: 3.2rem 10.4rem 6.4rem 10.4rem;
  font-size: 1.6rem;
}

.info {
  display: flex;
  justify-content: space-between;
  height: 6.4rem;
  width: 100%
}

.codeit {
  color: #676767;
}

.policy {
  display: flex;
  gap: 3rem;
}

.policy a {
  color: #CFCFCF;
  text-decoration: none;
  text-align: center;
}

.sns {
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
}