body {
  padding-top: 23.8rem;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem
}

.sign {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #373740;
}

.sign a {
  color: var(--primary-color, #6d6afe);
  text-decoration: underline;
}

.email-container,
.password-container,
.password-check {
  display: flex;
  flex-direction: column;
  gap: 1.2rem
}

label {
  font-size: 1.4rem;
  font-weight: 400;
}

input {
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray-20-color, #CCD5E3);
  width: 100%;
  font-size: 1.6rem;
}

input:focus {
  outline: 0.1rem solid var(--primary-color, #6d6afe);
}

.password {
  position: relative;
}

.eye {
  position: absolute;
  top: 2em;
  right: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
}

button {
  border: none;
}

.button {
  background-image: linear-gradient(90deg, #6d6afe, #6ae3fe);
  font-size: 1.8rem;
  text-align: center;
  color: var(--white-color, #ffffff);
  font-weight: 600;
  border-radius: 0.8rem;
  padding: 1.6rem 2rem;
  cursor: pointer;
  width: 100%;
}

.sns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray-20-color, #CCD5E3);
  background: var(--gray-10-color, #E7EFFB);
}

.sns-title {
  flex: 1 1 auto;
  font-size: 1.4rem;
  color: #373740;
}

.sns-button {
  position: relative;
  cursor: pointer;
}

.sns-background {
  width: 4.2rem;
}

.sns-button .google {
  position: absolute;
  inset: 1rem;
}

.sns-button .kakaotalk {
  position: absolute;
  top: 1rem;
  left: 0.8rem;
}