* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #f0f6ff;
  font-family: Pretendard, Arial, sans-serif;
  color: #373740;
  font-size: 62.5%;
}

body {
  padding : 23.8rem 0 11.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem
}

.signup {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.email-container,
.password,
.password-check {
  display: flex;
  flex-direction: column;
  gap: 1.2rem
}

label {
  font-size: 1.4rem;
  font-weight: 400;
}

input {
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #CCD5E3;
  width: 40rem;
  font-size: 1.6rem;
}

input:focus {
  outline: 0.1rem solid #6d6afe;
}

.password-container {
  position: relative;
}

.eye {
  position:absolute;
  top: 2em;
  right: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap:2.4rem
}

.button {
  background-image: linear-gradient( 90deg,#6d6afe, #6ae3fe);
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 0.8rem;
  padding: 1.6rem 2rem;
  cursor: pointer;
  width: 40rem;
}

.sns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.6rem;
  width: 40rem;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--linkbrary-gray-20, #CCD5E3);
  background: var(--linkbrary-gray-10, #E7EFFB);
}

.sns-title {
  flex: 1 1 auto;
  font-size: 1.4rem;
}

.sns-button {
  position: relative;
  cursor: pointer;
}

.sns-background {
  width: 4.2rem;
}

.sns-button .google {
  position: absolute;
  inset: 1rem;
}

.sns-button .kakaotalk {
  position: absolute;
  top: 1rem;
  left: 0.8rem;
}