.CardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 20px;
  width: 100%;
  list-style-type: none;
}

.card {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-wrap: wrap;
  height: 20.9rem;
  align-items: flex-start;
  border-radius: 15px;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.cardImgBox {
  width: 100%;
  height: 60%;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.cardImg {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: all 0.3s;
}

.card .cardText {
  text-decoration: none;
  font-size: 14px;
  padding: 1rem 1.25rem;
  margin: 0;
  height: 9rem;
  display: block;
  color: #333;
}

.cardDescription {
  font-size: 1rem;
  margin: 10px 0;
  display: -webkit-box;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  align-items: center;
}

.timeAgo {
  color: #666;
  font-size: 0.8125rem;
  font-weight: 400;
}

.makeDate {
  position: absolute;
  bottom: 0.94rem;
  color: #333;
  font-size: 0.875rem;
  font-weight: 400;
}

.card:hover .cardImg {
  transform: scale(1.3);
}

.star {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.kebab {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 65%;
}

@media (max-width: 1124px) {
  .CardList {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .CardList {
    display: block;
  }

  .card {
    margin-bottom: 1.25rem;
  }
}
