.CardList {
  list-style-type: none;
  padding: 0;
  margin: 2.5rem 0;
}

.card {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-wrap: wrap;
  width: 21.25rem;
  padding: 1rem 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}

.cardImg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -1.25rem;
  top: -1.2rem;
}

.card:hover.cardImg {
  size: 130%;
}

@media (max-width: 1124px) {
  .CardList {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .card {
    width: 100%;
    height: auto;
  }
}
