.buttonLine {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.list {
  margin: 0;
  list-style-type: none;
  display: inline-flex;
  gap: 0.75rem;
}

button {
  padding: 0.5rem 0.75rem;

  border-radius: 5px;
  border: 1px solid var(--linkbrary-primary-color, #6d6afe);
  background: #fff;
  margin: 0;
}

button:hover {
  outline: 1px solid var(--linkbrary-primary-color, #6d6afe);
  background: var(--linkbrary-gray-10, #e7effb);
}

img {
  margin: 0;
}

.littleTitle {
  margin: 0;
}
