.memHeader {
  background-color: var(--linkbrary-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-bottom: 3.75rem;
}

.headerImg {
  height: 60px;
  justify-content: center;
  align-items: center;
}

.siteName {
  position: relative;
  right: 1.4rem;
  font-size: 2.5rem;
}
