.header-container {
  width: 100%;
  background-color: #f0f6ff;
}

.nav-bar {
  max-width: 192rem;
  padding: 3.2rem 20rem;
  margin: 0 auto;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item-logo {
  width: 13rem;
}

.nav-item-profile {
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-item-profile-img {
  width: 2.8rem;
  border-radius: 50%;
}

.nav-item-profile-email {
  font-size: 14px;
}

.nav-login-btn {
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border: none;
  color: white;
  padding: 1.6rem 2rem;
  width: 12.8rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 6rem;
}

.header-section-ownerImg {
  border-radius: 50%;
  width: 6rem;
  background-color: #dddddd;
  margin-bottom: 1.2rem;
}

.header-section-ownerName {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.header-section-folderName {
  font-size: 4rem;
  font-weight: 600;
}

@media all and (min-width: 768px) and (max-width: 1124px) {
  .nav-bar {
    padding: 3.2rem 0;
  }

  .nav-item {
    max-width: 710px;
    padding: 0 3.2rem;
    margin: 0 auto;
  }
}
@media all and (max-width: 768px) {
  .nav-bar {
    padding: 1.8rem 0;
  }

  .nav-item {
    padding: 0 3.2rem;
    margin: 0 auto;
  }
}
