.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 20px;
  width: 100%;
  list-style-type: none;
  padding: 10px 90px; 
}

.card {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  height: 20.9rem;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  margin: 0;
}

.card-image-box {
  width: 100%;
  height: 60%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: all 0.3s;
}

.time-age{
  font-size: 1rem;
  margin: 0
}


.card .card-text {
  font-size: 1rem;
  padding: 1rem 1.25rem;
  margin: 0;
  height: 9rem;
  display: block;
  color: #333;
}

.card-description {
  font-size: 1rem;
  font-weight: normal;
  margin: 0.5rem 0;
  height: 3rem;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
}

.card:hover .card-image {
  transform: scale(1.1);
}

.time-createdAt{
  margin: 0
}

.kebab-display{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.kebab-icon{
  border: none;
}
