.Card {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  row-gap: 40px;
  column-gap: 40px;
  margin-top: 20px;
  list-style: none;
}
.Card li div {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}
.CardSize {
  height: 254px;
  width: 340px;
}
.CardDiscription {
  width: 340px;
  height: 49px;

  /*white-space: nowrap; /* 줄 바꿈 방지 */
  overflow: hidden; /* 넘치는 부분 감춤 */
  text-overflow: ellipsis; /* 넘치는 부분에 ... 추가 */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 표시할 줄 수 */
  -webkit-box-orient: vertical; /* 상하로 나열 */
}
.CardDate {
  width: 100%;
  height: 19px;
}
.Section {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 9.9rem;
  row-gap: 1rem;
  width: 100%;
  padding: 3rem 29rem;
  margin-top: 40px;
  flex-direction: column;
}

.Input {
  display: flex;
  width: 1060px;
  padding: 15px 16px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  background: #f5f5f5;
  margin-top: 40px;
}
.InputContainer {
  position: relative;
}
.SearchIcon {
  position: absolute;
  top: 53px;
  left: 5px;
}
@media (max-width: 1124px) {
  .Card {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    row-gap: 25px;
    column-gap: 24px;
    margin-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
  }

  section {
    gap: 3rem;
    padding: 3rem 15rem;
    margin: 40px;
  }
}

@media (max-width: 780px) {
  .Card {
    grid-template-columns: repeat(1, 1fr);
    display: grid;

    column-gap: 20px;
    margin-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  section {
    gap: 3rem;
    padding: 3rem 15rem;
    margin: 20px;
  }
}
