.button {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-self: end;
}
.button-text {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--main-color);
}
.icon {
  fill: var(--main-color);
}

@media (max-width: 767px) {
  .button {
    position: fixed;
    bottom: 10rem;
    left: 50%;
    z-index: 99;
    padding: 0.8rem 2.4rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    background-color: var(--main-color);
    transform: translateX(-50%);
  }
  .button-text {
    color: var(--gray-lighter-color);
  }
  .icon {
    fill: var(--gray-lighter-color);
  }
}
