* {
    box-sizing: border-box;
  }

/* 전체 페이지 스타일링 */
body {
    font-family: Pretendard, Arial, sans-serif;
    background-color: #EDF7FF;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

label {
    color: #2c2c2c;
    display: block;
    margin: 0 0 8px;
}

input {
    border-radius: 8px;
    border: 1px solid var(--linkbrary-primary-color, #d4d4d4);
    background: var(--linkbrary-white, #FFF); 
    display: flex;
    width: 100%;
    padding: 18px 15px;
    justify-content: center;
    align-items: center; 
    outline : none;
}

input:focus {
    border-color: blue;
}  

/* 페이지 전체 */
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;  
  margin: 0 auto;
  margin-top: 200px;
  gap: 30px; 
}

/* 회원가입 부분 전체 */
.signup-contents {
    display: flex;        
    flex-direction: column;
    width: 100%;  

    gap: 30px; 
}

/* 로고 이미지와 텍스트 */
.sign-header {
    display: flex;
    flex-direction: column;    
    gap: 16px;
}

.sign-logo-image {
    width: 100%;
    height: 38px;   
}

.sign-header-text {
    color: var(--black, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: center;
}

.sign-header-link {
    text-decoration: underline;
}

/* 회원가입 버튼 */
.signup-button {
    border: none;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    display: flex;

    width: 100%;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    color: var(--grey-light, #F5F5F5);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
}

/* 소셜 부분 */
.social-login {
    display: flex;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center; 
    border-radius: 8px;
    border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
    background: var(--linkbrary-gray-10, #E7EFFB); 
    color: var(--linkbrary-gray-100, #373740);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    width: 100%;
}

.social-login-icons {
    display: flex;
    align-items: flex-start;
    gap: 16px; 
}

.social-icon {
    position: relative;
    width: 42px;
    height: 42px;    
}

.social-icon-inner {
    position: absolute;
    top: 25%;
    left: 25%;
}

.social-icon-inner-kakao {
    position: absolute;
    top: 23%;
    left: 22%;
}

/* Mobile 사이즈 스타일 적용 */
@media (max-width: 767px) {
  .signup {
    width: 100%;
    max-width: 400px;        
    padding: 0 32px;
  }
}