@import "./global.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.nav-container {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #edf7ff;
  z-index: 1;
}
.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 63px;
  padding: 0 32px;

  @media (min-width: 768px) {
    height: 94px;
    max-width: 863px;
  }

  @media (min-width: 1200px) {
    height: 94px;
    max-width: 1920px;
    padding: 0 200px;
  }
}

.logo {
  height: 16px;

  @media (min-width: 768px) {
    height: 24px;
  }
}

.UserContainer {
  width: 158px;
  height: 28px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.UserImg {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  border-radius: 50%;
}

.UserEmail {
  color: var(--gray100);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.HeaderContainer {
  display: flex;
  width: 1440px;
  padding: 20px 624px 60px 624px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: var(--linkbrary-bg);
}
.HeaderBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.ImgHeader {
  display: flex;
  height: 100px;
  padding: 16px 17px 0px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 47px;
}

.HeaderText {
  color: var(--text-color-light-mode);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.HeaderDescription {
  color: #000;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Main {
  padding: 40px 0px;
}

.MainSearchBarContainer {
  position: relative;
  padding-bottom: 40px;
}

.MainSearchBar {
  display: flex;
  width: 1040px;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  border-style: none;
  background: #f5f5f5;
}

.SearchBtn {
  position: absolute;
  top: 15px;
  left: 10px;
  bottom: 100%;
}

.CardBoxContainer {
  width: 1060px;
}

.CardBox {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: calc(33.33% - 20px);
  display: inline-block;
  margin-right: 20px;
  column-gap: 10px;
}

.CardImg {
  width: 100%;
  height: 150px;
  transform: scale(1.0);
  transition: transform 0.3s ease-in-out;
}

.CardImg:hover {
  transform: scale(1.3);
  align-items: center;
  padding-bottom: 15px;
}

.CardUpLoadTime {
  color: #666;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

.CardTextDescription {
  height: 49px;
  align-self: stretch;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.CardTextYears {
  height: 19px;
  align-self: stretch;
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
  background-image: linear-gradient(135deg, #6d6afe 0%, #6ae3fe 100%);
  border-radius: 8px;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 600;

  @media (min-width: 768px) {
    height: 54px;
    border-radius: 8px;
    font-size: 18px;
  }
}

.cta-short {
  width: 80px;

  @media (min-width: 768px) {
    width: 128px;
  }
}


.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 160px;
  background-color: var(--black);
}

.footer-box {
  display: grid;
  justify-content: space-between;
  grid-template:
    "footer-links sns"
    ". ." 1fr
    "copyright .";
  width: 100%;
  padding: 32px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    grid-template: "copyright footer-links sns";
    height: fit-content;
    max-width: 1920px;
    padding: 32px 104px 0;
  }
}

.copyright {
  grid-area: copyright;
  color: #676767;
  font-family: Arial;
  font-size: 16px;
}

.footer-links {
  grid-area: footer-links;
  display: flex;
  column-gap: 30px;
  padding-right: 18px;
}

.footer-link {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 16px;
}

.sns {
  grid-area: sns;
  display: flex;
  column-gap: 12px;
  height: 20px;
}
