.main .btn-option {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.main .btn-option.active {
  display: block;
}

.main .btn-option button {
  position: relative;
  padding: 0 0 0 2.2rem;
  border: none;
  background-color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6rem;
  color: var(--color-middle-gray);
}

.main .btn-option button + button {
  margin: 0 0 0 1.2rem;
}

.main .btn-option button::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.8rem;
  height: 1.8rem;
}

.main .btn-option .btn-shared::before {
  background: url('../../assets/btn-share.png') no-repeat center;
}

.main .btn-option .btn-change-name::before {
  background: url('../../assets/btn-pen.png') no-repeat center;
}

.main .btn-option .btn-delete::before {
  background: url('../../assets/btn-delete.png') no-repeat center;
}

@media screen and (min-width:375px) and (max-width:768px) {
  .main .btn-option {
    position: static;
    margin: 0 0 2rem 0;
  }

  .main .btn-add-folder {
    position: fixed;
    left: 50%;
    bottom: 10.1rem;
    transform: translateX(-50%);
    z-index: 1;
    border: none;
    width: 13.5rem;
    height: 3.6rem;
    border-radius:2rem;
    border: 1px solid var(--color-white);
    cursor: pointer;
    background-color: var(--color-blue);
  }

  .main .btn-add-folder::after {
    content: '';
    display: block;
    position: absolute;
    top: 1rem;
    right: 2.4rem;
    border: none;
    width: 1.6rem;
    height: 1.6rem;
    background: url('../../assets/btn-add-folder.png') no-repeat;
  }
}
