$font-main: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont,
  system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
  'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;

/* $browser-font-size = 16px * 62.5% = 10px */
$browser-font-size: 62.5%;

$font-size-13: 1.3rem;
$font-size-14: 1.4rem;
$font-size-15: 1.5rem;

$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-24: 2.4rem;
$font-size-32: 3.2rem;
$font-size-34: 3.4rem;

$font-size-40: 4rem;
$font-size-48: 4.8rem;
$font-size-64: 6.4rem;
