* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
  word-break: keep-all;
  list-style-type: none;
}

.folderBody {
  margin: 1.25rem 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;

  @media (min-width: 724px) {
    margin: 2.5rem 2rem;
    gap: 2.5rem;
  }

  @media (min-width: 1125px) {
    margin: 2.5rem 12.5rem;
    gap: 2.5rem;
  }
}

.folderParents {
  /* width: 21.25rem;
  height: 20.875rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  width: 21.25rem;
  height: 20.875rem;
  height: same-as-width;
  overflow: hidden;
  border-radius: 0.92rem;
}

.folderDescription {
  display: flex;
  flex-direction: column;
  padding: 0.94rem 1.25rem;
  gap: 0.62rem;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.folder-img {
  width: 100%;
  height: 55%;
  object-fit: cover;
}

.timeStamp {
  color: #666;
  font-family: Pretendard;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.folderDescriptionMore {
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3rem;
}

.postTime {
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

button {
  border: none;
  padding: unset;
  background-color: unset;
  cursor: pointer;
}

.grids {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(9, 1fr);
  justify-content: center;
  align-items: center;

  @media (min-width: 724px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @media (min-width: 1125px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.search {
  display: flex;
  position: relative;
  width: 100%;
}

.searchInput {
  width: 100%;
  max-width: 106rem;
  height: 4.3rem;
  padding-left: 3.8rem;
  padding-right: 1.6rem;
  border-radius: 1rem;
  background-color: #f5f5f5;
  font-size: 1.4rem;

  @media (min-width: 768px) {
    height: 5.4rem;
    padding-left: 4.2rem;
    font-size: 1.6rem;
    line-height: 150%;
  }
}
.searchInput::placeholder {
  color: #666666;
}

.searchInput:focus {
  outline: none;
  border: none;
}
.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.6rem;
}
