* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
  word-break: keep-all;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

button {
  border: none;
  padding: unset;
  background-color: unset;
  cursor: pointer;
}

.eMail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eMailIcon {
  position: absolute;
  inset: 0.56rem;
  width: 0.625rem;
  height: 0.625rem;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  cursor: pointer;
  background-image: linear-gradient(135deg, #6d6afe 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1.4rem;
  font-weight: 600;

  @media (min-width: 768px) {
    width: 8rem;
    border-radius: 0.8rem;
    font-size: 1.8rem;
  }
}

.cta-short {
  width: 8rem;

  @media (min-width: 768px) {
    width: 12.8rem;
  }
}

.purpleBackground {
  background-color: #8f00ff;
  display: flex;
  position: relative;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 2rem;
}

.nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #edf7ff;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem 2rem;

  @media (min-width: 768px) {
    max-width: 86.3rem;
  }

  @media (min-width: 1200px) {
    height: 9.4rem;
    max-width: 192rem;
    padding: 2rem 12.5rem;
  }
}

.logo {
  height: 1.6rem;

  @media (min-width: 768px) {
    height: 2.4rem;
  }
}

.profile {
  width: 100%;
  padding: 0.62rem 2rem 0.62rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f0f6ff;

  @media (min-width: 768px) {
    padding: 1.25rem 3.75rem 1.25rem;
  }

  @media (min-width: 1200px) {
    max-width: 192rem;
    padding: 1.25rem 39rem 3.75rem;
  }
}

.profilePicture {
  background-color: #8f00ff;
  height: 3.75rem;
  border-radius: 2.9375rem;
  margin-bottom: 0.75rem;
}

.profileName {
  color: var(--text-color-light-mode, #000);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
}

.folderName {
  color: #000;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
