form {
  position: relative;
  width: 100%;
}
.search-icon {
  position: absolute;
  top: 50%;
  margin-left: 1.6rem;
  transform: translateY(-50%);
}
.search-input {
  width: 100%;
  padding: 1.5rem 4.2rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  background-color: var(--gray-light-color);
  font-size: 1.6rem;
}
