.add-link--form {
  background: var(--linkbrary-bg);
  width: 100%;
  padding: 60px 200px 90px;
}

.add-link--container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.add-link--input {
  display: flex;
  width: 800px;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: 0 auto;

  border-radius: 15px;
  border: 1px solid var(--linkbrary-primary-color, #6D6AFE);
  background: var(--linkbrary-white, #FFF);
  background-image: url('../assets/link.svg');
  background-repeat: no-repeat;
  background-position: 20px 16px;
  text-indent: 32px;
}

.add-link--btn {
  position: absolute;
  top: 11px;
  right: 20px;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--grey-light, #F5F5F5);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 1123px) {
  .add-link--form{
    padding: 60px 32px 90px;
  }

  .add-link--input {
    width: calc(100vw - 96px);
    min-width: 325px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .add-link--form{
    padding: 24px 32px 40px;
  }
}
