.main {
  margin: 0 auto;
  padding: 4rem 0 10rem;
  max-width: 106rem;
}

@media screen and (max-width: 1124px) {
  .main {
    padding: 4rem 3.2rem 10rem;
    max-width: 76.8rem;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 2rem 3.2rem 6rem;
  }
}


