.card-list {
  display: flex;
  gap: 2.4rem 2rem;
  flex-wrap: wrap;
}

.card-item {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  position: relative;
  width: 34rem;
  border-radius: 1.5rem;
}

.card-link {
  cursor: pointer;
}

.card-image {
  overflow: hidden;
  width: 34rem;
  height: 20rem;
  border-radius: 1.5rem 1.5rem 0 0;
}

.card-image:hover img {
  transform: scale(1.3);
}

.card-image img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform .2s ease-in-out;
  object-fit: cover;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  overflow: hidden;
  position: relative;
  row-gap: 1rem;
}

.card-text .created {
  font-size: 1.3rem;
  color: #666;
}

.card-text .description {
  display: -webkit-box;
  overflow: hidden;
  font-size: 1.6rem;
  color: var(--black-color);
  white-space: normal;
  word-break: keep-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-text .date {
  font-size: 1.4rem;
  color: #333;
}

.button-kebab {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  width: 2.1rem;
  height: 1.7rem;
  background: url('../images/icon_kebab.png') no-repeat center/ 2.1rem 1.7rem;
  cursor: pointer;
}

.button-bookmark {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3.4rem;
  height: 3.4rem;
  background: url('../images/icon_bookmark.png') no-repeat center/ 3.4rem 3.4rem;
  cursor: pointer;
}

.button-bookmark.filled {
  background: url('../images/icon_bookmark_filled.png') no-repeat center/ 3.4rem 3.4rem;
}

@media screen and (max-width: 768px) {
  .card-list {
    flex-direction: column;
    row-gap: 2rem;
  }

  .card-item {
    width: 100%;
  }

  .card-image {
    padding-bottom: 59.07692307692308%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
  }

  .card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .button-bookmark {
    top: 1.3rem;
    right: 1.3rem;
  }

  .button-bookmark,
  .button-bookmark.filled {
    background-size: 3rem 3rem;
  }

}