.card {
  display: block;
  
  width: 340px;
  height: 334px;
  flex-shrink: 0;

  border-radius: 15px;

  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);

  position: relative;
}

.star--icon {
  position: absolute;
  right: 15px;
  top: 15px;
}

.link-image--container {
  overflow: hidden;
  width: 340px;
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.link-image {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.link-image:hover {
  transform: scale(1.3);
}

.link-detail--container {
  width: 340px;
  padding: 15px 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.link-created-ago--container{
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.link-created-ago {
  color: #666;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.kebab--icon {
  display: block;

  width: 21px;
  height: 17px;
}

.link-description {
  height: 49px;
  align-self: stretch;

  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.link-created-at {
  height: 19px;
  align-self: stretch;

  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .card {
    display: block;
    
    width: 325px;
    height: 327px;
  }
  
  .link-detail--container {
    width: 325px;
  }

  .link-image--container {
    width: 325px;
  }
}
