.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 auto;
}
/* Pc*/
@media (max-width: 1200px) {
  .cardList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet*/
@media (max-width: 768px) {
  .cardList {
    grid-template-columns: repeat(1, 1fr);
  }
}
