.card {
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34rem;
  margin: 0 auto;
}

.cardImageBox {
  width: 34rem;
  height: 33.4rem;
}

.cardImage {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.cardImage.hover {
  transform: scale(1.3);
}

.noImage.hover {
  transform: scale(1.3);
}

.noImage {
  width: 100%;
  background-image: url("../../public/images/noImage.svg");
}

.cardDescription {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 2rem 1.5rem;
  position: absolute;
  top: 20rem;
  z-index: 1;
}

.cardDescription.hover {
  background-color: rgba(240, 246, 255, 1);
}

.timeBox {
  display: flex;
  justify-content: space-between;
}

.timeBox img {
  width: 2.1rem;
  height: 1.7rem;
}

.time {
  font-size: 1.3rem;
  color: rgba(102, 102, 102, 1);
  margin-bottom: 1rem;
}

.text {
  width: 30rem;
  font-size: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}

.date {
  font-size: 1.4rem;
}

@media (max-width: 1px) {
}

/* Tablet*/
@media (max-width: 768px) {
  .cardList {
    width: 70.4rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.4rem;
  }
}

/* Mobile*/
@media (max-width: 390px) {
  .cardList {
    width: 32.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.4rem;
  }
  .card {
    width: 100%;
  }

  .cardImageBox {
    width: 100%;
  }
}
