.contentFlax {
  display: flex;
  justify-content: center;
}

.contentBox {
  padding: 4rem 3.2rem 0;
}

.linksNull {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.1rem 0 3.5rem;
}
