.contentFlax {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* gap: 4rem; gap이 안먹혀요..*/
}

.contentBox {
  max-width: 106rem;
  padding: 4rem 3.2rem 0;
}

.linksNull {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.1rem 0 3.5rem;
}
