@import './global.css';

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #edf7ff;
}

.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  padding-top: 7rem;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.4rem;
  cursor: pointer;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
}

.cta-short {
  width: 12.8rem;
}

.cta-long {
  width: 35rem;
}

.slogan {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
}

.slogan-gradient {
  background-image: linear-gradient(119deg, var(--primary) 0%, #ff9f9f 100%);
}

.background-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-image {
  width: 120rem;
  height: 59rem;
}

@media only screen and (max-width: 1199px) {
  header .hero-header .hero-image {
    width: 650px;
    height: auto;
  }

  header .hero-header .slogan .add_br {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  header .hero-header {
    width: 100%;
    padding: 28px 32px 0;
  }

  header .hero-header a.cta {
    width: 200px;
    height: 37px;
    font-size: 14px;
  }

  header .hero-header .slogan {
    font-size: 32px;
    line-height: 4rem;
  }

  header .hero-header .hero-image {
    width: 300px;
  }
}

article {
  padding-top: 7rem;
  padding-bottom: 12rem;
}

section {
  display: grid;
  justify-content: center;
  column-gap: 15.7rem;
  row-gap: 1rem;
  width: 100%;
  height: 55rem;
  padding: 50px 0;
}

section:nth-of-type(odd) {
  grid-template:
    '. image'
    'title image'
    'description image'
    '. image'
    /291px 55rem;
}

section:nth-of-type(even) {
  grid-template:
    'image .'
    'image title'
    'image description'
    'image .'
    /550px 29.1rem;
}

.title {
  grid-area: title;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
  letter-spacing: -0.03rem;
}

.title-1-gradient {
  background-image: linear-gradient(117deg, #fe8a8a 2.29%, #a4ceff 100%);
}
.title-2-gradient {
  background-image: linear-gradient(304deg, #6fbaff 0%, #ffd88b 100%);
}
.title-3-gradient {
  background-image: linear-gradient(133deg, #2945c7 0%, #dbe1f8 100%);
}
.title-4-gradient {
  background-image: linear-gradient(310deg, #fe578f 0%, #68e8f9 100%);
}

.description {
  grid-area: description;
  font-size: 1.6rem;
  font-weight: 500;
  color: #6b6b6b;
  line-height: 150%;
}

.content-image {
  grid-area: image;
  width: 55rem;
  height: 45rem;
}

@media only screen and (max-width: 1199px) {
  section br {
    display: none;
  }

  section:nth-of-type(odd) {
    grid-template:
      '. image'
      'title image'
      'description image'
      '. image'
      /300px 39rem;

    column-gap: 0;
    height: auto;
  }

  section:nth-of-type(even) {
    grid-template:
      'image .'
      'image title'
      'image description'
      'image .'
      /420px 28rem;

    column-gap: 0;
    height: auto;
  }

  section:first-child .description {
    width: 26rem;
  }

  section:nth-child(2) .description,
  section:nth-child(3) .description {
    width: 22rem;
  }

  section:last-child .description {
    width: 20rem;
  }

  section .content-image {
    width: 384px;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  article {
    width: 100%;
    padding: 0;
  }

  section:nth-of-type(odd),
  section:nth-of-type(even) {
    padding: 40px 32px 36px 32px;
    display: grid;
    row-gap: 0;
    grid-template:
      'title'
      'image'
      'description' /300px;
  }

  section .title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
  }

  section .description {
    width: 100% !important;
    font-size: 15px;
  }

  section .content-image {
    width: 100%;
    margin-bottom: 16px;
  }
}
