@import './global.css';

ul,
li {
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #edf7ff;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 9.4rem;
  max-width: 192rem;
  padding: 0 20rem;
}

.gnb .profile {
  display: flex;
  align-items: center;
  gap: 6px;
}

.gnb .profile img {
  width: 28px;
  height: 28px;
}

.gnb .profile span {
  color: #373740;
  font-size: 14px;
  line-height: normal;
}

.folder-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0 60px 0;
  gap: 20px;
  background-color: #edf7ff;
}

.folder-header .folder-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.folder-header .folder-info .img {
  width: 60px;
  height: 60px;
}

.folder-header .folder-info span.name {
  font-size: 16px;
  line-height: 24px;
}

.folder-header p.favorite {
  font-size: 36px;
}

.folder-body {
  margin: 40px 0;
  padding: 0 20rem;
}

.folder-body .search-area {
  display: flex;
  margin-bottom: 40px;
  padding: 15px 16px;
  align-items: center;
  border-radius: 10px;
  background: #f5f5f5;
}

.folder-body .search-area .link-search {
  margin-left: 10px;
  width: 100%;
  border: none;
  background-color: #f5f5f5;
}

.folder-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  background-color: #f5f5f5;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.folder-card .link-card {
  margin-bottom: 25px;
  width: calc(33% - 20px);
  box-sizing: border-box;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.folder-card .link-card:last-child {
  margin-bottom: 0;
}

.folder-card .link-card:hover img {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.folder-card .link-card img {
  width: 100%;
  height: 250px;
  flex-shrink: 0;
}

.folder-card .link-card .info-area {
  display: flex;
  width: 100%;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 0px 0px 15px 15px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.folder-card .link-card .info-area .time-ago {
  color: #666;
}

.folder-card .link-card .info-area .title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
}

.folder-card .link-card .info-area .date {
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #edf7ff;
}

.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  padding-top: 7rem;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.4rem;
  cursor: pointer;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
}

.cta-short {
  width: 12.8rem;
}

.cta-long {
  width: 35rem;
}

.slogan {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
}

.slogan-gradient {
  background-image: linear-gradient(119deg, var(--primary) 0%, #ff9f9f 100%);
}

.background-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-image {
  width: 120rem;
  height: 59rem;
}

@media only screen and (max-width: 1199px) {
  nav .gnb {
    padding: 0 32px;
    width: 799px;
  }

  header .hero-header .hero-image {
    width: 650px;
    height: auto;
  }

  header .hero-header .slogan .add_br {
    display: block;
  }
}

@media only screen and (max-width: 1124px) {
  .folder-body {
    padding: 0 32px;
  }

  .folder-card .link-card {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 767px) {
  nav .gnb {
    padding: 0 32px;
    width: 326px;
  }

  nav .gnb img {
    width: 88px;
  }

  nav .gnb a.cta-short {
    width: 80px;
    height: auto;
    padding: 10px 16px;
  }

  nav .gnb a.cta-short span {
    font-size: 14px;
  }

  header .hero-header {
    width: 100%;
    padding: 28px 32px 0;
  }

  header .hero-header a.cta {
    width: 200px;
    height: 37px;
    font-size: 14px;
  }

  header .hero-header .slogan {
    font-size: 32px;
    line-height: 4rem;
  }

  header .hero-header .hero-image {
    width: 300px;
  }

  .folder-body {
    padding: 0 32px;
  }
  .folder-card .link-card {
    width: 100%;
  }
}

article {
  padding-top: 7rem;
  padding-bottom: 12rem;
}

section {
  display: grid;
  justify-content: center;
  column-gap: 15.7rem;
  row-gap: 1rem;
  width: 100%;
  height: 55rem;
  padding: 50px 0;
}

section:nth-of-type(odd) {
  grid-template:
    '. image'
    'title image'
    'description image'
    '. image'
    /291px 55rem;
}

section:nth-of-type(even) {
  grid-template:
    'image .'
    'image title'
    'image description'
    'image .'
    /550px 29.1rem;
}

.title {
  grid-area: title;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
  letter-spacing: -0.03rem;
}

.title-1-gradient {
  background-image: linear-gradient(117deg, #fe8a8a 2.29%, #a4ceff 100%);
}
.title-2-gradient {
  background-image: linear-gradient(304deg, #6fbaff 0%, #ffd88b 100%);
}
.title-3-gradient {
  background-image: linear-gradient(133deg, #2945c7 0%, #dbe1f8 100%);
}
.title-4-gradient {
  background-image: linear-gradient(310deg, #fe578f 0%, #68e8f9 100%);
}

.description {
  grid-area: description;
  font-size: 1.6rem;
  font-weight: 500;
  color: #6b6b6b;
  line-height: 150%;
}

.content-image {
  grid-area: image;
  width: 55rem;
  height: 45rem;
}

@media only screen and (max-width: 1199px) {
  section br {
    display: none;
  }

  section:nth-of-type(odd) {
    grid-template:
      '. image'
      'title image'
      'description image'
      '. image'
      /300px 39rem;

    column-gap: 0;
    height: auto;
  }

  section:nth-of-type(even) {
    grid-template:
      'image .'
      'image title'
      'image description'
      'image .'
      /420px 28rem;

    column-gap: 0;
    height: auto;
  }

  section:first-child .description {
    width: 26rem;
  }

  section:nth-child(2) .description,
  section:nth-child(3) .description {
    width: 22rem;
  }

  section:last-child .description {
    width: 20rem;
  }

  section .content-image {
    width: 384px;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  article {
    width: 100%;
    padding: 0;
  }

  section:nth-of-type(odd),
  section:nth-of-type(even) {
    padding: 40px 32px 36px 32px;
    display: grid;
    row-gap: 0;
    grid-template:
      'title'
      'image'
      'description' /300px;
  }

  section .title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
  }

  section .description {
    width: 100% !important;
    font-size: 15px;
  }

  section .content-image {
    width: 100%;
    margin-bottom: 16px;
  }
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16rem;
  padding-top: 3.2rem;
  background-color: var(--black);
}

.footer-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 192rem;
  height: fit-content;
  padding: 0 10.4rem;
}

.copyright {
  color: #676767;
  font-family: Arial;
  font-size: 1.6rem;
}

.footer-links {
  display: flex;
  column-gap: 3rem;
  padding-right: 1.8rem;
}

.footer-link {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 1.6rem;
}

.sns {
  display: flex;
  column-gap: 1.2rem;
  height: 2rem;
}

@media only screen and (max-width: 767px) {
  footer {
    display: block;
    margin-top: 40px;
    padding: 0;
  }

  footer .footer-box {
    position: relative;
    padding: 32px 32px 64px 32px;
    height: 100%;
  }

  footer .footer-links {
    gap: 40px;
  }

  footer .footer-box .copyright {
    position: absolute;
    bottom: 30px;
  }
}
