.landing--header {
  background: var(--linkbrary-bg);
  position: sticky;
  top: 0;
  z-index: 1;
}

.no-fixed {
  position: static;
  z-index: 0;
}

.header-bar {
  padding: 20px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}

.landing--logo {
  width: 133px;
  height: 24px;
}

.btn {
  padding: 16px 20px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  text-decoration: none;

  color: var(--grey-light, #F5F5F5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.profile--box {
  display: flex;
  align-items: center;
  gap: 6px;
}

.profile-image {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  background-color: var(--linkbrary-primary-color, #6D6AFE);
  border-radius: 50%;
}

.profile-email {
  color: var(--linkbrary-gray-100, #373740);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 768px) and (max-width: 1123px) {
  .header-bar {
    width: 100%;
    padding: 32px 32px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .header-bar {
    width: 100%;
    padding: 13px 32px;
    margin: 0 auto;
  }
  
  .landing--logo {
    width: 88.667px;
    height: 16px;
  }
  
  .landing--logo img{
    width: 100%;
  }
  
  .login--btn {
    width: 80px;
    font-size: 14px;
  }

  .profile-email {
    display: none;
  }
}
