.search {
  margin-bottom: 4rem;
  position: relative;
  width: 100%;
  height: 5.4rem;
}

.search::before {
  position: absolute;
  top: 50%;
  left: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  background: url('../images/icon_search.png') no-repeat center/ 1.6rem 1.6rem;
  content: '';
  transform: translateY(-50%);
}

.search input {
  padding: 1.8rem 1.6rem 1.5rem 4.2rem;
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  border-radius: 1rem;
}

.search input::placeholder {
  font-size: 1.6rem;
  color: #666;
}

@media screen and (max-width: 768px) {
  .search {
    margin-bottom: 3.2rem;
  }
  
  .search input::placeholder {
    font-size: 1.4rem;
  }
}