:root {
    --linkbrary-purple: #6D6AFE;
    --linkbrary-gray: #CCD5E3;
    --linkbrary-white: #FFFFFF; 
    --linkbrary-light-gray: #F5F5F5;
    --linkbrary-red: #FF5B56;
    --linkbrary-background-gray: #E7EFFB;
    --linkbrary-background: #F0F6FF;
    --gra-purpleblue-to-skyblue: linear-gradient(90.99deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
    --common-text: #000000;
    --darkgray-text: #333333;
    --gray-text: #373740;
    --lightgray-text: #666666;


}