nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #edf7ff;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.3rem;
  padding: 0 3.2rem;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    height: 9.4rem;
    max-width: 86.3rem;
  }
}

.logo {
  height: 1.6rem;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    height: 2.4rem;
  }
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.7rem;
  cursor: pointer;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1.4rem;
  font-weight: 600;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    height: 5.4rem;
    border-radius: 0.8rem;
    font-size: 1.8rem;
  }
}

.cta-short {
  width: 8rem;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    width: 12.8rem;
  }
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 6px;
}

.user-profile-img {
  width: 28px;
  height: 28px;
  border-radius: 70%;
}

.user-profile-email {
  color: var(--linkbrary-gray-100, #373740);
  font-size: 14px;
  font-weight: 400;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    display: none;
  }
}
