.search-bar-input {
  /* width: 66.25rem; */
  width: 100%;
  height: 3.375rem;
  background: #f5f5f5;
  background-image: url("../../assets/Search.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 1rem;
  padding-left: 2.62rem;
  border-style: none;

  border-radius: 0.625rem;
  margin-bottom: 2.5rem;
}

input::placeholder {
  color: var(--Text, #666);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}
