.contentBox {
  width: 340px;
  border-radius: 15px;
  font-family: 'Pretendard';
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}
.contentImg {
  position: relative;
  width: 100%;
  height: 180px;
  background-image: url('../Cards/images/card-img.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.starIcon {
  height: 34px;
  width: 34px;
  background-image: url('../Cards/images/star.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  right: 15px;
}
.contentText {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 0 0 15px 15px;
}
.contentNav {
  display: flex;
  justify-content: space-between;
}
.moreInfoCebap {
  background-image: url(../Cards/images/kebab.png);
  width: 21px;
  height: 17px;
}
.timeCreated {
  color: #666;
  font-size: 13px;
}
.description {
  overflow: hidden;
  color: #000;
  font-size: 16px;
  line-height: 24px; /* 150% */
}
.dateCreated {
  overflow: hidden;
  color: #333;
  font-size: 14px;
}
