.CardItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentBox {
  display: block;
  position: relative;
  width: 340px;
  height: 334px;
  border-radius: 15px;
  font-family: 'Pretendard';
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}
.imgContainer {
  display: flex;
  justify-content: center;
  width: 340px;
  height: 180px;
}
.contentImg {
  height: 100%;

  /* background-image: url('../Cards/images/card-img.png'); */
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.starIcon {
  height: 34px;
  width: 34px;
  background-image: url('../Cards/images/star.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  right: 15px;
}
.contentText {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 0 0 15px 15px;
}
.contentNav {
  display: flex;
  justify-content: space-between;
}
.moreInfoCebap {
  background-image: url(../Cards/images/kebab.png);
  width: 21px;
  height: 17px;
}
.timeCreated {
  color: #666;
  font-size: 13px;
}
.description {
  overflow: hidden;
  color: #000;
  font-size: 16px;
  line-height: 24px; /* 150% */
}
.dateCreated {
  overflow: hidden;
  color: #333;
  font-size: 14px;
}

.Cards {
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(3, 334px);
  grid-template-columns: repeat(3, 340px);
  margin-top: 40px;
  row-gap: 25px;
  column-gap: 20px;
}
@media (max-width: 1200px) {
  .Cards {
    grid-template-rows: repeat(4, 334px);
    grid-template-columns: repeat(2, 340px);
    row-gap: 25px;
    column-gap: 24px;
  }
}
@media (max-width: 768px) {
  .Cards {
    grid-template-rows: repeat(9, 327px);
    grid-template-columns: repeat(1, 325px);
    row-gap: 20px;
  }
}
