:root {
    --primary-background-color: #3498db;
--linkbarary-black : #000000;
    --linkbrary-white: #FFF;
    --linkbrary-primary-color: #6D6AFE;
    --linkbrary-red: #FF5B56;
    --the-julge-black: #111322;

    --linkbrary-gray-100: #373740;
    --linkbrary-gray-60: #9FA6B2;
    --linkbrary-gray-20: #CCD5E3;
    --linkbrary-gray-10: #E7EFFB;
    --linkbrary-bg: #F0F6FF;
}



* {
    margin: 0 ;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html{    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;}

.class {
    width: 100px;
    height: 100px;
}

.boxsize {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerboxsize {
    width: 54px;
    height: 17px;
    color: var(--linkbrary-white);
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.textdiv {
    color: var(--linkbarary-black);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.primary {
    background-color: var(--linkbrary-primary-color);
}

.red {
    background-color: var(--linkbrary-red);
}

.black {
    background-color: var(--the-julge-black);
}

.white {
    background-color: var(--linkbrary-white);
    border: 1px solid var(--linkbrary-gray-20);

}

.gray1 {
    background-color: var(--linkbrary-gray-100);
}

.gray2 {
    background-color: var(--linkbrary-gray-60);
}

.gray3 {
    background-color: var(--linkbrary-gray-20);
}

.gray4 {
    background-color: var(--linkbrary-gray-10);
}

.gray5 {
    background-color: var(--linkbrary-bg);
}
.flexalign1{display: flex;gap:2px;}
.boxsize.white>div {    color: var(--linkbarary-black);}
.alignbox{
    display:flex;
    flex-direction: column;
gap: 20px;}
.innerboxsize.textblack{color: var(--the-julge-black);}