.cardContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 1fr);
  gap: 25px;
  width: 1060px;
  margin: 0 auto;
}

.cardListItem {
  height: 334px;
  width: 340px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.imageContainer {
  width: 340px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.cardImage {
  width: 100%;
  height: 253px;
  /* object-fit: cover; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.textContainer {
  padding: 20px;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 49px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
