.account {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.account__img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.account__email {
  color: var(--color-gray6);
  font-size: 1.4rem;
}

@media only screen and (min-width: 1200px) {
  .account {
    margin-right: 200px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
  .account {
    margin-right: 32px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 375px) {
  .account__email {
    display: none;
  }
}
