@mixin responsive($screen) {
  @if ($screen == 'T') {
    @media screen and (max-width: $md-breakpoint) {
      @content;
    }
  }

  @if ($screen == 'M') {
    @media screen and (max-width: $sm-breakpoint) {
      @content;
    }
  }
}
