.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1123px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 24px;
  }
}

@media only screen and (max-width: 767px) {
  .card-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
