.card {
  width: 34rem;
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0rem 0.5rem 2.5rem 0rem rgba(0, 0, 0, 0.08);
}

.imageContainer {
  overflow: hidden;
}

.img {
  width: 34rem;
  height: 25.4rem;
  object-fit: cover;
}

.img:hover {
  transform: scale(1.3);
  transition-duration: 0.5s;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  gap: 10px;
}

.ago {
  color: #666;
  font-size: 1.3rem;
}

.desc {
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.createdAt {
  color: #333;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Mobile */
@media only screen and (max-width: 767px) and (min-width: 375px) {
  .card {
    width: 32.5rem;
  }

  .imageContainer {
    width: 32.5rem;
    height: 24.36rem;
  }
}
