footer {
  margin-top: 120px;
  background-color: $dark-blue;

  .footer-container {
    @include flexbox(between);
    max-width: 192rem;
    margin: 0 auto;
    padding: 32px 104px 108px;
  }

  .corporate {
    @include text-style(16, $gray-70);
  }

  .corporate-list {
    @include flexbox;

    &-item {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        a {
          color: $white;
        }
      }

      a {
        @include text-style(16, $gray-40);
        transition: color 200ms ease-in-out;
      }
    }
  }

  .social {
    &-list {
      @include flexbox;

      &-item {
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }

        a {
          i {
            font-size: 20px;
            &::before {
              transition: color 200ms ease-in-out;
            }
          }

          &:hover {
            i::before {
              color: $blue-gray-80;
            }
          }
        }
      }
    }
  }

  @include responsive(M) {
    height: 160px;
    margin-top: 40px;

    position: relative;

    .footer-container {
      padding: 32px 32px 0 32px;
      flex-wrap: wrap;
    }

    .corporate {
      position: absolute;
      left: 32px;
      bottom: 32px;
    }
  }
}
