body{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 238px 520px 252px;
    width: 400px;
    background-color: #f0f6ff;

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
.logo{
    width: 210.583px;
    height: 38px;
}
.text-flex{
    display: flex;
}
.signuptext{
    color:
     #6D6AFE;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}

.signup{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    color: 
     #000;
    font-size: 16px;
    font-weight: 400;
}
header{
    gap: 16px;
    width: 218px;
    height: 78px;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin: 30px 0;
    color: #000;
    /* Linkbrary/body2-regular */
    font-size: 14px;
    font-weight: 400;
}

input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 18px 15px;
    margin: 12px 0;
    background-color:  #FFF;
    border-radius: 8px;
    border: 1px solid  #6D6AFE;
}
input:focus{
    border: 1px solid blue;

}
.password{
    position: relative;
}
.eyes{
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 1;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 16px 20px;
    gap: 10px;
    color:  #F5F5F5;
    background:
    linear-gradient(91deg, #6D6AFE , #6AE3FE);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-top: 32px;
    padding: 12px 24px;
    background-color:  #E7EFFB;
    border: 1px solid  #CCD5E3;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
}
.social{
    color: 
     #373740;
}
.icons{
    display: flex;
    gap: 16px;
}
