
header{
    display: flex;
    flex-direction: column;
    background-color: #f0f6ff ;
}
nav{/*상단의 로고와 로그인 버튼 부분*/
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #f0f6ff;
    align-self: stretch;
    width: 100%;
    align-items: center;
    padding: 20px 200px;
    max-width: 192rem;
    height: 9.4rerm;
}
main{/*4개의 블록이 있는 흰 부분 전체*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 12rem;
}
.head-content{/*상단의 제목과 링크 추가하기 버튼을 묶어놓음*/
    display: flex;
    align-items: center;
    margin-top: 70px;
    flex-direction: column;
}
.button{/*로그인하기, 링크 추가하기 버튼*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 5.4rem;
    border-radius: 0.8rem;
    background-image: 
    linear-gradient(135deg, #6D6AFE, #6AE3FE );
    color: #F5F5F5;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.login{/*로그인버튼의 넓이*/
    width: 12.8rem;
}
.link{/*링크추가하기 버튼의 넓이와 마진*/
    margin: 40px 0 40px;
    width: 35rem;
}
.head-gradient{/*상단 제목의 그래디언트*/
    background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.head-title{/*상단 제목*/
    text-align: center;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 125% */
    color: #000;
    margin-top:70px;
}
.background-clip-text{/*제목들의 그래디언트 공통 기능*/
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.img{/*이미지들의 크기*/
    width: 550px;
    height: 450px;
}

section{/*흰 메인 부분을 4개로 나눈 섹션*/
    display: flex;
    align-items: center;
    gap: 157px;
    justify-content: center;
    column-gap: 15.7rem;
    row-gap: 1rem;
    width: 100%;
    height: 55rem;
    padding: 50px 0;
}
section:nth-child(odd){/*홀수 번째의 섹션은 정상적으로 row로 방향설정*/
    flex-direction: row;
}
section:nth-child(even){/*짝수 번째의 섹션은 이미지가 먼저 오도록 반전시킴*/
    flex-direction: row-reverse;
}

  

h2{/*흰 부분의 제목들 기본 설정*/
    color: #000;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}
.content-title1{/* 첫 번째 단의 그래디언트*/
    background: linear-gradient(96deg, #FE8A8A, #A4CEFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content-title2{/*두 번째 단의 그래디언트*/
    background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}
.content-title3{/* 세 번째 단의 그래디언트*/
    background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.content-title4{/* 네 번째 단의 그래디언트*/
    background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.description{/* 각 단의 조그만한 내용*/
    display: flex;
    color: #6B6B6B;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
footer{/* 푸터 부분의 전체 기본 설정*/
    display: flex;
    justify-content: center;
    width: 100%;
    height: 160px;
    padding: 3.2rem;
    background:  #111322;
}
.footer-box{/* copyright, footer-links, footer-icon을 가로로 펼치기 위함*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 192rem;
    height: fit-content;
    padding: 0 10.4rem;
}
.copyright{
    color: #676767;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-links{/*링크들의 모음*/
    display: flex;
    column-gap: 3rem;
}
.footer-link{
    color: #CFCFCF;
    font-family: Arial;
    font-size: 1.6rem;
    
}
.footer-icon{/*아이콘들의 모음*/
    display: flex;
    column-gap: 1.2rem;
    height: 2rem;
}