.wrapper {
  padding: 40px 32px 260px;
}

.container {
  margin: 0 auto;
  max-width: 1060px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.message {
  padding: 40px 0;
  text-align: center;
}
