* {
  box-sizing: border-box;
}

:root {
  --linkbrary-primary-color: #6D6AFE;
  --linkbrary-white: #FFF;
  --linkbrary-gray-10: #E7EFFB;
  --linkbrary-gray-20: #CCD5E3;
  --linkbrary-bg: #F0F6FF;
  --gra-purpleblue-to-skyblue: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
}

body {
  white-space: nowrap;
  font-family: "Pretendard GOV Variable", "Pretendard GOV";
  margin: 0 auto;
  cursor: default;
}

.fixsed_always {
  background-color: #F0F6FF;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 10.42vw;
  width: 100%;
  z-index: 5;
}

#logo {
  cursor: pointer;
  padding: 0;
}

.use_site {
  text-align: center;
  padding: 1rem 1.25rem;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  cursor: pointer;
  color: #f5f5f5;
  text-decoration: none;
  margin: 0;
}

#signin {
  width: 8rem;
}

header article {
  background-color: var(--linkbrary-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
  overflow: hidden;
  margin-bottom: 7.5rem;
}

.title {
  background-image: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
  margin: 0 auto;
  padding-top: 10.25rem;
  
}

#sigup {
  position: relative;
  margin-bottom: 3.125rem;
  width: 21.875rem;
}

.search_page_box {
  width: 70rem;
  height: 41.1875rem;
  border-radius: 25px 25px 0 0;
  background-image: 
    linear-gradient(180deg, rgba(196, 196, 196, 0.00) 67.68%, #F0F6FF 94.76%),
    url('img/tittle.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 120%;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08); 
  
} 

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9.8125rem;
  margin: 6.25rem auto;
  padding: 0 28.8125rem;
}

.information img {
  width: 34.375rem;
  height: 28.125rem;
  flex-shrink: 0;
}

.little_title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.3px;
  margin-bottom: 0.625rem;
}

.chapt1 .little_title {
  background-image: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #000000;
}

.chapt2 .little_title {
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #000000;
}

.chapt3 .little_title {
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #000000;
}

.chapt4 .little_title {
  background: linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%); 
  background-clip: text;
  -webkit-background-clip: text;
  color: #000000;
}

.point {
  color: transparent;
}

.information p {
  line-height: 150%; /* 24px */
  font-weight: 500;
  color: #6b6b6b;
}

.side {
flex-direction: row-reverse;
} 

footer {
  height: 7.75rem;
  margin-top: 7.5rem;
  background: #111322;
  align-self: stretch;
  padding-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
#underbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  margin: 0 104px 4rem;
}

#small_logo {
  color: #676767;
  text-align: center; 
  }

.next_site  {
  color: #CFCFCF;
  text-decoration: none;
  cursor: pointer;
  margin-left: 30px;
}

.sns {
  margin-left: 0.75rem;
}