* {
  box-sizing: border-box;
}

:root {
  --linkbrary-primary-color:#6d6afe;
  --linkbrary-white: #fff;
  --linkbrary-gray-10: #E7EFFB;
  --linkbrary-gray-20: #CCD5E3;
  --linkbrary-bg: #F0F6FF;
  --grey-light: #f5f5f5;
  --gra-purpleblue-to-skyblue: linear-gradient(91deg, var(--linkbrary-primary-color) 0.12%, #6AE3FE 101.84%);
  --linkbrary-gray-100: #373740;
  --red: #ff5B56;
  --black: #111322;
  --gray-80: #3e3e43;
  --gray-70: #9fa6b2;
  --gray-50: #ccD5e3;
  --gray-40: #e7effb;
  --gray-20: #f0f6ff;

}

body {
  text-align: center;
  font-family: "Pretendard GOV Variable", "Pretendard GOV";  
  background-color: var(--linkbrary-bg);
  white-space: nowrap;
  line-height: 150%;
}

.signin_box {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 25rem;
}

.question {
  margin: 0.3rem 0 1.875rem ;
}

p a {
  font-weight: 600;
  color:var(--linkbrary-primary-color);
}

#join {
  position: relative;
  text-align: left;
  margin:1.875rem 0;
  font-size: 0.875rem;
}

label {
  margin: 1.5rem 0 0;
}

input {
  margin: 0.75rem auto 0;
  padding: 1.125rem 15px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--linkbrary-gray-20);
  background:var(--linkbrary-white);
  color: var(--linkbrary-gray-100);
  margin-bottom: 1.5rem;
}

input:focus {
  outline: 1px solid var(--linkbrary-primary-color);
  border: none;
}

.eye {
  position: absolute;
  cursor: pointer;
  bottom: 14rem;
  right: 0.9375rem;
}

.eye2 {
  position: absolute;
  bottom: 7rem;
}

.err_eye {
  bottom: 15.56rem;
}

.err_eye2 {
  bottom: 9.66rem;
}

button {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background-image: linear-gradient(91deg, var(--linkbrary-primary-color) 0.12%, #6AE3FE 101.84%);
  font-size: 1.125rem;
  color: var(--grey-light);
  font-weight: 400;
  border: none;
  font-family:"Pretendard GOV Variable";
  cursor: pointer;
  margin-top: 1rem;
} 
 

footer {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background:var(--linkbrary-gray-10);
  font-size: 0.875rem;
 }

 footer p {
  margin: 0.75rem 0;
 }

.sns_login {
  height: 2.625rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.sns {
  display: flex;
  align-items: center;
}

.err {
  outline: 1px solid var(--red);
  border: none;
}

.errText{
  position: relative;
  bottom: 1.3rem;
  color: var(--red);
  margin: 0 0 -3rem;
}

@media (max-width: 767px) {

  .signin_box {
    width: 100%;
    max-width: 25rem;
    padding: 2rem;
  }

  footer {
    width: 100%;
    max-width: 25rem;
  }

}