* {
  box-sizing: border-box;
}

:root {
  --linkbrary-primary-color: #6D6AFE;
  --linkbrary-white: #FFF;
  --linkbrary-gray-10: #E7EFFB;
  --linkbrary-gray-20: #CCD5E3;
  --linkbrary-bg: #F0F6FF;
  --grey-light: #f5f5f5;
  --gra-purpleblue-to-skyblue: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  --linkbrary-gray-100: #373740;
}

body {
  text-align: center;
  font-family: "Pretendard GOV Variable", "Pretendard GOV";  
  background-color: var(--linkbrary-bg);
  white-space: nowrap;
  font-weight: 400;
  line-height: 150%;
}

a {
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.sigup_box {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 25rem;
}

.question {
  margin: 1rem 0 1.875rem ;
}

p a {
  font-weight: 600;
  color:var(--linkbrary-primary-color);
}

form {
  position: relative;
  text-align: left;
  margin:1.875rem 0;
  font-size: 0.875rem;
}


input {
  margin: 0.75rem auto 1.25rem;
  padding: 1.125rem 15px;
  border-radius: 8px;
  width: 25rem;
  border: 1px solid var(--linkbrary-gray-20);
  background:var(--linkbrary-white);
  color: var(--linkbrary-gray-100);
}

input:focus {
  outline: none;
  border: 1px solid var(--linkbrary-primary-color);
}

button {
  width: 25rem;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background-image: linear-gradient(91deg, var(--linkbrary-primary-color) 0.12%, #6AE3FE 101.84%);
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--grey-light);
  border: none;
  cursor: pointer;
  font-family:"Pretendard GOV Variable"
} 


#join img {
  position: absolute;
  right: 0.9375rem;
  transform: translate(0, 1.9rem);
}

footer {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background:var(--linkbrary-gray-10);
  font-size: 0.875rem;
 }

 footer p {
  margin: 0.75rem 0;
 }

.sns_login {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.sns {
  display: flex;
  align-items: center;
}
