.modal {
  padding: 3.2rem 4rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.closeButton {
  background: center / contain no-repeat url(/public/images/icons/close.svg);
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
}
