.modal {
  padding: 3.2rem 4rem;
  border: none;
  border-radius: 1.5rem;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.closeButton {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  background: center / contain no-repeat url(/public/images/icons/close.svg);
  cursor: pointer;
}
