.container {
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.title {
  color: var(--color-gray6);
  font-size: 2rem;
  font-weight: 700;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.button {
  cursor: pointer;
}
