.searchBar {
  display: flex;
  position: relative;
  padding: 1.5rem;
  border-radius: 1rem;
  background: #f5f5f5;
  color: #666;
  font-size: 1.6rem;
  line-height: 2.4rem; /* 150% */
}

.icon {
  width: 1.6rem;
  background: center / contain no-repeat url('/images/icons/search.svg');
}

.input {
  width: 100%;
  margin-left: 1rem;
}

.closeButton {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  background: center / contain no-repeat url(/public/images/icons/close.svg);
  cursor: pointer;
}

@media only screen and (max-width: 767px) and (min-width: 375px) {
  .searchBar {
    font-size: 1.4rem;
  }
}
