.card-list {
  display: grid;
  gap: 2.5rem 2rem;
  justify-content: center;
  width: 100%;
  max-width: 106rem;
  grid-template-columns: repeat(auto-fill, 34rem);
}
.card-list-item {
  border-radius: 1.5rem;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1124px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
