.navContainer {
  height: 94px;
  background-color: #edf7ff;
  padding-inline: 32px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  height: 94px;
  background-color: #edf7ff;
}
