header {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--main-background-color);
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 192rem;
  height: 9.4rem;
  padding: 0 20rem;
  margin: 0 auto;
}
.logo > img {
  width: 133px;
}
.profile-wrap {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.profile-wrap img {
  width: 2.8rem;
  border-radius: 50%;
}
.profile-wrap span {
  font-size: 1.4rem;
}
.login-button {
  display: inline-block;
  width: 12.8rem;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  background-image: linear-gradient(
    91deg,
    var(--main-color) 0.12%,
    #6ae3fe 101.84%
  );
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--gray-light-color);
  text-align: center;
}

@media (max-width: 1199px) {
  .header-wrap {
    max-width: 80rem;
    padding: 0 3.2rem;
  }
}

@media (max-width: 767px) {
  .header-wrap {
    height: 6.3rem;
  }
  .logo > img {
    width: auto;
    height: 16px;
  }
  .profile-wrap span {
    display: none;
  }
  .login-button {
    width: 8rem;
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
  }
}
