/* font-color */
:root {
  /* Purple */
  --Purple-light-1: #6d6afe;

  /* Red */
  --Red-normal-1: #ff5b56;

  /* Black */
  --Black-normal-1: #111322;

  /* White */

  --White-normal-1: #ffffff;
  --White-normal-2: #edf7ff;
  --White-normal-3: #f5f5f5;

  /* Gray */
  --Gray-light-1: #f0f6ff;
  --Gray-light-2: #e7effb;
  --Gray-light-3: #ccd5e3;
  --Gray-normal-1: #9fa6b2;
  --Gray-dark-1: #3e3e43;
  --Gray-dark-2: #373740;
  --Gray-dark-3: #666666;
  --Gray-dark-4: #333333;
}

/* font-size */
.font14-we4 {
  font-size: 1.4rem;
  font-weight: 400;
}

/* gradation */
.background-clip-text {
  -webkit-background-clip: text;
  color: transparent;
}

.gradation1 {
  background-image: linear-gradient(135deg, #6d6afe 0%, #6ae3fe 100%);
}
.gradation2 {
  background-image: linear-gradient(119deg, #6d6afe 0%, #ff9f9f 100%);
}

.gradation3 {
  background-image: linear-gradient(119deg, #6fbaff 0%, #ffd88b 100%);
}

.gradation4 {
  background-image: linear-gradient(119deg, #6d7ccd 0%, #52888538 100%);
}
.gradation5 {
  background-image: linear-gradient(119deg, #fe5785 0%, #68e8f9 100%);
}
.gradation6 {
  background-image: linear-gradient(119deg, #fe578f 0%, #68e8f9 100%);
}

/* block */
.block-change {
  display: block;
}
.inline-change {
  display: inline;
}
