.floating-add-btn {
  display: none;
}

@media only screen and (max-width: 767px) {
  .floating-add-btn {
    display: flex;
    padding: 8px 24px;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    left: 94.5px;
    top: 261px;
    border-radius: 20px;
    border: 1px solid var(--linkbrary-white, #fff);
    background: var(--linkbrary-primary-color, #6d6afe);
    z-index: 9999;
  }

  .floating-add-btn span {
    color: #fff;
    font-size: 14px;
  }
}
