.folder-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.folder-header h2 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.2px;
}

h2 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.2px;
}

@media only screen and (max-width: 767px) {
  .folder-header {
    gap: 12px;
    align-items: flex-start;
    flex-direction: column;
  }
}
