.folder-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

.folder-card .link-card {
  position: relative;
  margin-bottom: 25px;
  width: 340px;
  box-sizing: border-box;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem 1.5rem 0 0;
  overflow: hidden;
}

.folder-card .link-card:hover .card-img {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.folder-card .link-card .card-img {
  width: 100%;
  min-height: 19.2rem;
  height: 19.2rem;
}

.folder-card .link-card .info-area {
  position: relative;
  display: flex;
  width: 100%;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 0px 0px 15px 15px;
  background-color: #fff;
  position: relative;
}

.folder-card .link-card .info-area .time-ago-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.folder-card .link-card .info-area .time-ago-area .time-ago {
  color: #666;
}

.folder-card .link-card .info-area .time-ago-area .kebab-btn {
  width: 21px;
  height: 17px;
}

.folder-card .link-card .info-area .kebab-menu-list {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.folder-card .link-card .info-area .kebab-menu-list .btn {
  padding: 10px 18px;
  width: 100%;
  font-size: 14px;
}
.folder-card .link-card .info-area .kebab-menu-list .btn:hover {
  color: #6d6afe;
  background-color: #e7effb;
}

.folder-card .link-card .info-area .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

.folder-card .link-card .info-area .date {
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

.folder-card .link-card .star-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.folder-card .link-card .star-btn {
  width: 34px;
  height: 34px;
}

@media only screen and (max-width: 1124px) {
  .folder-card .link-card {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 767px) {
  .folder-card {
    width: 100%;
  }

  .folder-card .link-card {
    width: 100%;
    white-space: unset;
  }

  .folder-card .link-card .info-area .title {
    white-space: unset;
  }
}
