.header {
  padding: 0 20rem; 
  background-color: var(--color-sky-blue);
}

.header .logo a {
  display: block;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.4rem;
}

.header .profile a {
  display: flex;
  align-items: center;
}

.header .profile img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;
}

.header .profile .text {
  padding: 0 0 0 0.6rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: var(--color-black);
}

.header .profile .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.8rem;
  height: 5.4rem;
  cursor: pointer;
  background-image: linear-gradient(135deg, #6d6afe 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: var(--color-very-light-gray);
  font-size: 2.8rem;
  font-weight: 600;
}

.header .add-link {
  position: relative;
  width: 80rem;
  margin: 0 auto;
}

.header .add-link-wrap {
  padding: 6rem 0 9rem 0;
}

.header .add-link::before {
  content: '';
  display: block;
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url('../assets/ico-link.png') no-repeat;
}

.header .add-link input {
  width: 80rem;
  padding: 2.2rem 5.2rem;
  border-radius: 15px;
  border: 1px solid var(--color-blue);
  color: var(--color-middle-gray);
  font-size: 1.6rem;
  outline: none;
}

.header .add-link .cta {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 8rem;
  height: 3.7rem;
  cursor: pointer;
  background-image: linear-gradient(135deg, #6d6afe 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: var(--color-very-light-gray);
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width:1124px) {
  .header {
    padding: 0 3.2rem;
  }

  .header .add-link,
  .header .add-link input {
    width: 100%;
  }
}

@media screen and (min-width:375px) and (max-width:768px) {
  .mobile-hide { 
    display: none;
  }

  .header .logo img {
    width: 8.8rem;
  }

  .header nav {
    padding: 0 3.2rem; 
    height: 6.3rem;
  }

  .header .profile .cta {
    width: 8rem;
    height: 3.7rem;
    font-size: 2.4rem;
  }

  .header .add-link-wrap {
    padding: 2.4rem 0 4rem 0;
  }

  .header .add-link input {
    font-size: 1.4rem; 
  }
}
