* {
  font-family: Pretendard;
}
.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin: auto;
}

.card-content ul {
  display: flex;
  padding: 0;
  width: 100%;
  max-width: 1415px;
  margin: 0 auto 100px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 21.25rem;
  height: 20.875rem;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  list-style: none;
}

.card a {
  width: 20.625rem;
}

.card img {
  width: 100%;
  height: 12.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex-shrink: 0;
}

a {
  text-decoration: none;
}

p {
  margin-left: 20px;
}

.timeDiff {
  color: #666;
  font-size: 13px;
  font-weight: 400;
}

.title {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
}

.date {
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
