.button {
  display: flex;
  width: 8rem;
  padding: 1rem 1.6rem;
  justify-content: center;
  align-items: center;
  background-color: var(--gra-purpleblue-to-skyblue);
  color: var(--color-white);
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  .button {
    width: 12.8rem;
    padding: 1.6rem 2rem;
  }
}
