.button {
  display: flex;
  width: 8rem;
  padding: 1rem 1.6rem;
  justify-content: center;
  align-items: center;
  background: var(--gra-purpleblue-to-skyblue);
  color: var(--color-white);
  font-size: 1.4rem;
  border-radius: 0.5rem;
  text-wrap: nowrap;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button {
    width: 12.8rem;
    padding: 1.6rem 2rem;
    font-size: 1.8rem;
  }
}
