@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');

@font-face {
  font-family: 'linkbrary';
  src: url('./assets/fonts/linkbrary.eot');
  src: url('./assets/fonts/linkbrary.eot#iefix') format('embedded-opentype'),
    url('./assets/fonts/linkbrary.ttf') format('truetype'),
    url('./assets/fonts/linkbrary.woff') format('woff'),
    url('./assets/fonts/linkbrary.svg#linkbrary') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'linkbrary' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-add:before {
  content: '\e900';
  color: #6d6afe;
}
.ic-close:before {
  content: '\e902';
  color: #9fa6b2;
}
.ic-codeit .path1:before {
  content: '\e903';
  color: rgb(143, 0, 255);
}
.ic-codeit .path2:before {
  content: '\e904';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ic-delete:before {
  content: '\e905';
  color: #9fa6b2;
}
.ic-eye-off:before {
  content: '\e906';
}
.ic-eye-on:before {
  content: '\e907';
}
.ic-facebook-1:before {
  content: '\e908';
  color: #fff;
}
.ic-facebook .path1:before {
  content: '\e909';
  color: rgb(24, 119, 242);
}
.ic-facebook .path2:before {
  content: '\e90a';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ic-google .path1:before {
  content: '\e90b';
  color: rgb(255, 255, 255);
}
.ic-google .path2:before {
  content: '\e90c';
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.ic-instagram:before {
  content: '\e90d';
  color: #fff;
}
.ic-kakao .path1:before {
  content: '\e90e';
  color: rgb(245, 225, 75);
}
.ic-kakao .path2:before {
  content: '\e90f';
  margin-left: -1em;
  color: rgb(51, 29, 30);
}
.ic-kakao .path3:before {
  content: '\e910';
  margin-left: -1em;
  color: rgb(51, 29, 30);
}
.ic-link:before {
  content: '\e911';
  color: #6d6afe;
}
.ic-more:before {
  content: '\e912';
}
.ic-pen:before {
  content: '\e913';
  color: #9fa6b2;
}
.ic-profile .path1:before {
  content: '\e914';
  color: rgb(109, 106, 254);
}
.ic-profile .path2:before {
  content: '\e915';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ic-search:before {
  content: '\e916';
  color: #666;
}
.ic-share:before {
  content: '\e917';
  color: #9fa6b2;
}
.ic-star-default:before {
  content: '\e918';
}
.ic-star-fill:before {
  content: '\e919';
  color: #6d6afe;
}
.ic-twitter:before {
  content: '\e91a';
  color: #fff;
}
.ic-youtube:before {
  content: '\e91b';
  color: #fff;
}
