.main {
  margin: 4rem 0 10rem 0;
  padding: 0 19rem;
}

.main .btn-add {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
  border: none;
  cursor: pointer;
  background: url('../../assets/btn-add.png') no-repeat;
}

.main .main-wrap {
  position: relative;
}

.main .main-title {
  margin: 2.4rem 0;
  padding: 0;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.8rem;
  letter-spacing: -0.02rem;
}

.main .no-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6rem;
}

@media screen and (max-width:1124px) {
  .main {
    padding: 0 3.2rem;
  }
}




