* {
  box-sizing: border-box;
  font-family: Pretendard;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  background-color: #f0f6ff;
}

.content {
  display: flex;
  padding: 238px 0px 252px 0px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  color: #000000;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.head>a>img {
  width: 210.583px;
  height: 38px;
}

.if_not {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.if_not>a {
  color: #6d6afe;
  font-weight: 600;
  text-decoration: underline;
}

.if_not>a:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.inputbox {
  display: flex;
  width: 400px;
  height: 89px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.inputbox>label {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.inputbox>input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  border: 1px solid #373740;
  border-radius: 8px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.inputbox>input:focus {
  border-color: #6d6afe;
  outline: none;
}

input::placeholder {
  color: #373740;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.inputbox > input.inputError {
  border: 1px solid #ff5b56;
}

.errorMsg {
  margin: 0;
  color: #ff5b56;
  font-size: 1rem;
}

.pw {
  position: relative;
  margin-top: 20px;
}

.pw>img {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 370px;
  top: 50px;
}

.pw>img:hover {
  cursor: pointer;
}

.button {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  margin-top: 20px;
  border: none;
  color: #f5f5f5;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.foot {
  display: flex;
  width: 400px;
  margin-top: 32px;
  padding: 12px 24px;
  border: 1px solid #ccd5e3;
  border-radius: 8px;
  background-color: #e7effb;
  justify-content: space-between;
  align-items: center;
}

.foot_text {
  color: #373740;
  font-size: 14px;
  font-weight: 400;
}

.icon_box {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.bg {
  position: relative;
  width: 42px;
  height: 42px;
}

.icon {
  position: absolute;
  width: 22px;
  height: 22px;
  margin-left: -32px;
  margin-top: 10px;
  z-index: 1;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  body {
    justify-content: center;
    align-items: center;
  }
  .content {
    width: 100%;
    padding: 120px 0;
  }

  .main {
    width: 100%;
    max-width: 464px;
    height: auto;
   }

   .inputbox {
    height: auto;
    margin: 0 32px;
   }

   .inputbox > input {
    width: 100%;
   }

   .pw > img {
    left: 340px;
   }

   .button {
    width: calc(100% - 64px);
    height: 56px;
    padding: 0 32px;
    margin: 20px 32px 0;
   }

   .foot {
    width: calc(100% - 48px);
    max-width: 400px;
    height: 56px;
    justify-content: end;
    position: relative;
   }

   .foot_text {
    position: absolute;
    left: 24px;
   }
}