.AddLink {
  margin: 0 auto;
  background-color: var(--linkbrary-bg);
  padding: 60px 320px 90px 320px;
}
.AddLinkForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 15px;
  border: 1px solid var(--linkbrary-primary-color, #6d6afe);
  background: var(--linkbrary-white, #fff);
  padding: 16px 20px;
}
.AddLinkFormLabel {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
}
.AddLinkFormLabel input {
  border: none;
  width: 100%;
}
.AddLinkForm button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 37px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  color: var(--grey-light);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  border: none;
}
.AddLinkFormLabel img {
  width: 20px;
  height: 20px;
}
@media (max-width: 1140px) {
  .AddLink {
    padding: 60px 32px 90px 32px;
  }
}

@media (max-width: 767px) {
  .AddLink {
    padding: 24px 32px 40px 32px;
  }
  .AddLinkForm {
    padding: 8px 10px;
  }
  .AddLinkFormLabel img {
    width: 16px;
    height: 16px;
  }
  .AddLinkFormLabel {
    gap: 8px;
  }
}
