* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: Pretendard;
  background-color: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f6ff;
}

.App-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #ffffff;
}
