.first-page {
  width: 100%;
  background-color: var(--light-blue);
  overflow: hidden;
  padding: 100px 0 60px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-page__logo {
  width: 45px;
  padding-bottom: 12px;
}

.first-page__tag {
  font-size: 16px;
}

.first-page__fav {
  display: flex;
  padding-top: 20px;
  font-size: 40px;
  font-weight: 600;
}

.first-page__fav img {
  width: 40px;
  margin-right: 10px;
}
