footer {
  display: flex;
  background-color: var(--black);
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  justify-content: space-between;
  padding: 32px 104px 64px;
  height: 160px;
  margin-top: 100px;
}

.footerGap {
  display: flex;
  gap: 30px;
}
.FooterLink {
  grid-area: link;
}
.codeit {
  grid-area: codeit;
  color: #676767;
}
.FAQ {
  display: flex;
  grid-area: FAQ;
  gap: 30px;
}

@media (max-width: 768px) {
  footer {
    display: grid;
    grid-template-areas:
      "FAQ link"
      "codeit .";
    row-gap: 60px;
  }
}
