.footer {
  background-color: var(--dark-blue);
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  margin-top: 7.5rem;
}

.footer-info {
  list-style: none;
  width: 100%;
  height: 4rem;
  margin: 0 6.5rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer-info__company {
  color: var(--gary-70);
}

.footer-info__guide {
  text-align: center;
}

.footer-info__guide a {
  color: var(--gray-40);
  margin: 0 0.5rem;
}

.footer-info__icons {
  color: var(--gray-40);
  text-align: right;
}

.footer-info__icons a {
  margin-left: 0.75rem;
}
