header {
  background-color: #edf7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 320px 90px;
}
.linkInput {
  display: flex;
  width: 800px;
  padding: 16px 20px;

  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 15px;
  border: 1px solid #6d6afe;
  background: #fff;
}
.linkInputDiv {
  display: flex;
  gap: 12px;

  width: 80%;

}
.folderHeaderImg {
  width: 20px;
  height: 20px;
}

.folderInput {
  border: none;
 width: 100%;
  font-size: 16px;
}
.folderInput:focus {
  border: none;
  outline: none;

}
.folderButton {
  padding: 10px 16px;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  cursor: pointer;

}
