* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --gray0: #f0f6ff;
  --gray1: #e7effb;
  --gray2: #ccd5e3;
  --gray3: #9fa6b2;
  --gray4: #3e3e43;
  --linkbrary-bg: #F0F6FF;
}