main {
  width: 1060px;
  margin: 0 auto;
  padding: 40px 0px;
  @media (max-width: 1124px) {
    padding: 40px 32px;
    width: 100%;
  }
}
form {
  position: relative;
  text-align: center;
  margin: 0px 0px 40px 0px;
}
.searchInput {
  width: 1060px;

  color: var(--Text, #666);
  text-align: left;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 15px 16px;
  border-radius: 10px;
  background: #f5f5f5;
  border: none;

  @media (max-width: 1124px) {
    width: 100%;
  }
}
.sharePenDeleteContent {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.sharePenDeleteDiv {
  display: flex;
  gap: 12px;
}
.sharePenDeleteDiv div {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #9fa6b2;

  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sharePenDeleteDiv button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.sharePenDeleteDiv div img {
  width: 18px;
  height: 18px;
}

.sharePenDeleteContent > div:first-child {
  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}
.noLink {
  text-align: center;
}
