.header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--light-blue);
  z-index: 2;
}

.header__navi {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__navi-frame {
  width: 100%;
  padding: 1.25rem 12.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navi--login {
  width: 8rem;
  padding: 1rem 1.25rem;
  background: linear-gradient(to right, var(--purple), var(--sky-blue));
  font-size: 1rem;
  color: var(--gray-20);
  text-align: center;
  font-size: 1.2rem;
}
