@import url(global.css);
* {
  margin: 0;
  box-sizing: border-box;
  font-family: Pretendard;
}

html,
body {
  font-size: 62.5%;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

label {
  color: var(--Black-normal-1);
  font-size: 1.4rem;
  font-weight: 400;
}

button {
  border: none;
  padding: unset;
  background-color: unset;
  cursor: pointer;
  /* outline: none; */
}
