footer {
  height: 7.75rem;
  margin-top: 7.5rem;
  display: flex;
  justify-content: center;
  background: #111322;
  align-self: stretch;
  padding-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
#underbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  margin: 0 6.5rem 4rem;
  width: 100%;
  max-width: 95rem;
}

#small_logo {
  color: #676767;
  text-align: center;
}

.next_site {
  color: #cfcfcf;
  text-decoration: none;
  cursor: pointer;
  padding-right: 1.875rem;
}

.sns {
  margin-right: 0.75rem;
}

@media (max-width: 767px) {
  footer {
    position: relative;
    margin-top: 5rem;
    padding: 2rem;
    height: 10rem;
  }

  #underbar {
    margin: 0;
    padding: 0;
    align-items: flex-start;
  }

  #small_logo {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
  }
}
