nav {
  background-color: var(--linkbrary-bg);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 95rem;
  align-items: center;
  margin: 1.25rem auto;
  padding: 0 12.5rem;
}

#logo {
  cursor: pointer;
}

.use_site {
  text-align: center;
  border: none;
  padding: 1rem 1.25rem;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  cursor: pointer;
  color: #f5f5f5;
  text-decoration: none;
  margin: 0;
}

.profile {
  display: flex;

  align-items: center;
  gap: 0.35rem;
  font-size: 14px;
}

.profileImg {
  width: 1.75rem;
  height: auto;
  border-radius: 999px;
}

#signin {
  width: 8rem;
}

@media (max-width: 1199px) {
  .nav-bar {
    padding: 0 2rem;
    max-width: 50rem;
  }
}

@media (max-width: 767px) {
  .nav-bar {
    padding: 0 2rem;
  }
}
