.footer-wrapper {
  height: 10rem;
  padding: 2rem 6.5rem 4rem 6.5rem;
  background: #111322;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrapper > span {
  color: #676767;
  text-align: center;
  font-family: Arial;
  font-size: 1rem;
  font-weight: 400;
}

.footer-privacy {
  display: flex;
  width: 11.31944rem;
  align-items: flex-start;
  gap: 1.875rem;
}

span > a {
  color: #676767;
  font-family: Arial;
  font-size: 1rem;
  font-weight: 400;
}

.footer-sns {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.footer-sns img {
  width: 20px;
  height: 20px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .footer-wrapper {
    width: 100%;
    /* height: auto; */
    padding: 2rem;
  }

  .footer-wrapper {
    position: relative;
  }

  .codeit {
    position: absolute;
    top: 8rem;
  }
}
