.navContainer {
  z-index: 1;
  justify-content: center;
  max-width: 100vw;
  height: 94px;
  padding: 0 200px;
  background-color: #edf7ff;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 94px;
  background-color: #edf7ff;
  position: sticky;
  top: 0;
}
