.SearchBarContainer {
  @media (max-width: 767px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  width: 100%;
  max-width: 1080px;
  margin: 40px auto;
}

.SearchBar {
  border-radius: 10px;
  background: #f5f5f5;
  gap: 6px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding: 13px 16px;
}

.SearchBarIcon {
  position: relative;
}

.SearchBarInput {
  border: none;
  width: 100%;
  background: #f5f5f5;
}

.SearchBarResetIcon {
  width: 24px;
  height: 24px;
}
