.SearchBarContainer {
  display: flex;
  gap: 6px;
  width: 1060px;
  margin: 40px auto;
  padding: 13px 16px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  background: #f5f5f5;
}

.SearchBarIcon {
  position: relative;
}

.SearchBarInput {
  border: none;
  background: #f5f5f5;
}

@media (max-width: 1199px) {
  .SearchBarContainer {
    width: 704px;
  }
}

@media (max-width: 767px) {
  .SearchBarContainer {
    width: 340px;
  }
}
