.nav-bar {
  background-color: #f0f6ff;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 99;
}

.noFixed {
  position: static;
  transform: none;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  padding: 3.2rem 20rem;
}

.nav-item-logo {
  width: 13rem;
}

.nav-item-profile {
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-item-profile-img {
  width: 2.8rem;
  border-radius: 50%;
}

.nav-item-profile-email {
  font-size: 14px;
}

.nav-login-btn {
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border: none;
  color: white;
  padding: 1.6rem 2rem;
  width: 12.8rem;
  font-size: 1.8rem;
  font-weight: 600;
}

@media all and (min-width: 768px) and (max-width: 1124px) {
  .nav-item {
    max-width: 710px;
    padding: 3.2rem 3.2rem;
  }
}

@media all and (max-width: 768px) {
  .nav-item {
    padding: 1.8rem 3.2rem;
  }
}
