/* 반응형 */

/* PC */
@media all and (min-width: 1200px) {
  .min1200px-display-none {
    display: none;
  }
}

/* Tablet */
@media all and (min-width: 768px) and (max-width: 1199px) {
  .nav-bar {
    padding: 2rem 0;
  }
  .nav-item a:nth-child(1) {
    padding-left: 3.2rem;
  }
  .nav-item a:nth-child(2) {
    padding-right: 3.2rem;
  }

  .nav-item {
    max-width: 840px;
  }
}

/* Mobile */
@media all and (min-width: 375px) and (max-width: 767px) {
  * {
    white-space: normal;
  }

  .min375px-max767px-display-none {
    display: none;
  }

  .background {
    background-color: white;
  }

  .header-section {
    padding: 0 32px;
    flex-wrap: wrap;
  }

  .header-section img {
    width: 100%;
  }

  .header-font {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  .header-button {
    width: 20rem;
  }

  .nav-bar {
    padding: 2rem 32px;
  }

  .nav-bar img {
    width: 8.8rem;
    height: 1.6rem;
  }

  .nav-button {
    width: 8rem;
  }

  .button-style {
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
  }

  .main-container {
    padding: 0 32px;
  }

  .main-container section {
    display: grid;
    grid-template-areas:
      "h2"
      "img"
      "p";
    margin: 4rem 0;
    row-gap: 2rem;
  }

  .main-container section img {
    width: 100%;
  }

  .main-container section h2 {
    font-size: 2.4rem;
  }

  .main-container section p {
    font-size: 1.4rem;
  }

  .footer-container {
    margin-top: 80px;
  }

  .footer-section {
    padding: 3.2rem;
    flex-wrap: wrap;
  }

  footer > section > p {
    order: 1;
  }

  .footer-middle {
    width: 70%;
    margin-bottom: 20%;
  }

  .footer-middle > a > p {
    white-space: nowrap;
  }

  .footer-icon {
    width: 30%;
    gap: unset;
    justify-content: space-between;
  }
}
