.container {
  padding-top: 4.1rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.message {
  font-size: 1.6rem;
}

@media (max-width: 767px) {
  .container {
    padding-top: 3.4rem;
  }
  .message {
    font-size: 1.4rem;
  }
}
