/* common */
.button-style {
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border: none;
  border-radius: 8px;
  font-family: "Pretendard Variable";
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  padding: 1.6rem 2rem;
}

/* header */

.header-container {
  width: 100%;
  background-color: var(--gray-100);
}
.nav-bar {
  background: var(--gray-100);
  padding: 2rem 20rem;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.nav-bar img {
  width: 13rem;
  height: 2.4rem;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}

.nav-button {
  width: 12.8rem;
}

.header-section {
  background: var(--gray-100);
  padding: 7rem 36rem 0 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1920px;
  margin: 9.3rem auto 0;
}

.header-font {
  color: var(--black);
  font-family: "Pretendard Variable";
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 8rem;
}

.header-font-gradation {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-button {
  width: 31rem;
  margin: 4rem auto;
}

.header-card {
  width: 1200px;
}
