/* main */

.main-container {
  padding: 12rem 46.1rem;
  background-color: var(--white);
  max-width: 1920px;
  margin: 0 auto;
}

.main-container section {
  display: flex;
  justify-content: center;
  gap: 15.7rem;
  align-items: center;
  margin: 5rem 0;
}

.main-container section div {
  display: flex;
  flex-direction: column;
}

.main-container h2 {
  font-family: "Pretendard Variable";
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.3px;
  margin-bottom: 1rem;
}

.main-container p {
  color: #6b6b6b;
  font-family: "Pretendard Variable";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.main-container img {
  width: 550px;
}

.main-container-section1 {
  margin-top: 0;
}

.main-container > section h2 span {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container section:nth-child(2) h2 span {
  background: linear-gradient(277deg, #6fbaff 5%, #ffd88b 95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container section:nth-child(3) h2 span {
  background: linear-gradient(
    103deg,
    #6d7ccd 50%,
    rgba(82, 136, 133, 0.22) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container section:nth-child(4) h2 span {
  background: linear-gradient(271deg, #fe578f -75%, #68e8f9 25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
