/* main */

.main-container {
  padding: 12rem 46.1rem;
  background-color: var(--white);
  max-width: 1920px;
  margin: 0 auto;
}

.main-container-section1,
.main-container-section3 {
  display: grid;
  grid-template-areas:
    "h2 img"
    "p img";
  row-gap: 1rem;
  column-gap: 15.7rem;
  justify-content: center;
  margin: 5rem 0;
}

.main-container-section2,
.main-container-section4 {
  display: grid;
  grid-template-areas:
    "img h2"
    "img p";
  row-gap: 1rem;
  column-gap: 15.7rem;
  justify-content: center;
  margin: 5rem 0;
}

.main-container h2 {
  font-family: "Pretendard Variable";
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.3px;
  grid-area: h2;
  align-self: end;
}

.main-container p {
  color: #6b6b6b;
  font-family: "Pretendard Variable";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; /* 24px */
  grid-area: p;
}

.main-container img {
  width: 550px;
  grid-area: img;
}

.main-container-section1 {
  margin-top: 0;
}

.main-container-section1 h2 span {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container-section2 h2 span {
  background: linear-gradient(277deg, #6fbaff 5%, #ffd88b 95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container-section3 h2 span {
  background: linear-gradient(
    103deg,
    #6d7ccd 50%,
    rgba(82, 136, 133, 0.22) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container-section4 h2 span {
  background: linear-gradient(271deg, #fe578f -75%, #68e8f9 25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
