* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
}

html,
body {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

button {
  border: none;
  padding: unset;
  background-color: unset;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  /* position: sticky; */
  top: 0;
  width: 100%;
  background-color: #edf7ff;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 9.4rem;
  max-width: 192rem;
  padding: 0 20rem;
}

:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --purple-70: #8f00ff;

  --gray100: #373740;
  --gray60: #9fa6b2;
  --gray20: #ccd5e3;
  --gray10: #e7effb;

  --background: #f0f6ff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #edf7ff;
}

.profileBox {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.profileImg {
  display: inline-block;
  border-radius: 47px;
  padding: 9px 9px;
  text-align: center;
  border: 2px solid var(--primary, #6d6afe);
  flex-shrink: 0;
  background-color: var(--primary, #6d6afe);
  line-height: 10px;
}

.userprofileimg {
  width: 50px;
}
.profileImg img {
  vertical-align: middle;
}

.profileText {
  margin-left: 6px;
  color: var(--gray100, #373740);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  padding-top: 7rem;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.4rem;
  cursor: pointer;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
}

.cta-short {
  width: 12.8rem;
}

.cta-long {
  width: 35rem;
}

.sectionContainer {
  display: flex;
  width: 1440px;
  padding: 20px 624px 60px 624px;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--background, #f0f6ff);
}

.sectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.userImg {
  display: inline-block;
  padding: 16px 17px;
  border: 2px solid var(--purple-70, #8f00ff);
  border-radius: 47px;
  background: var(--purple-70, #8f00ff);
  text-align: center;
  line-height: 28px;
  flex-shrink: 0;
}

.userImg img {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

.userName {
  color: var(--text-color-light-mode, #000);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.favorite {
  margin-top: 20px;
  color: #000;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

article {
  padding-top: 7rem;
  padding-bottom: 12rem;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  width: 1060px;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  gap: 40px;
}

.searchBar {
  display: flex;
  margin: 0 auto 40px;
  width: 1028px;
  max-width: 106rem;
  padding: 15px 16px;
  justify-content: flex-start;
  border-radius: 10px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
}

.searchBar input {
  margin-left: 10px;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  border: none;
}

.articleContent {
  /* display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 20px; */
  display: grid;
  width: 1028px;
  grid-template-columns: repeat(3, 1fr); /* 3열로 설정 */
  gap: 25px 20px; /* 아이템 간 여백 조절 */
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16rem;
  padding-top: 3.2rem;
  background-color: var(--black);
}

.footer-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 192rem;
  height: fit-content;
  padding: 0 10.4rem;
}

.copyright {
  color: #676767;
  font-family: Arial;
  font-size: 1.6rem;
}

.footer-links {
  display: flex;
  column-gap: 3rem;
  padding-right: 1.8rem;
}

.footer-link {
  color: #cfcfcf;
  font-family: Arial;
  font-size: 1.6rem;
}

.sns {
  display: flex;
  column-gap: 1.2rem;
  height: 2rem;
}

.cardBox {
  max-width: 106rem;
  margin: 0 auto 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0 3.2rem;
}

.card {
  width: 100%;
  max-width: 34rem;
  height: 33.4rem;
  border-radius: 1rem;
  border: 2px solid rgba(0, 0, 0, 0);
  overflow: hidden;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
}

.card:hover {
  border: 2px solid var(--primary);
}

.card:hover a .cardImgWrap {
  transition: all 1s;
  transform: scale(1.3);
}

.card:not(hover) a .cardImgWrap {
  transition: all 1s;
}

.card .cardImgWrap {
  width: 100%;
  height: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100%;
}

.card .nullImg {
  position: absolute;
  width: 13rem;
  opacity: 0.5;
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 2rem 1rem;
  gap: 1rem;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.cardText .ago {
  font-size: 1.3rem;
}

.cardText .des {
  font-size: 1.6rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.cardText .cardDate {
  font-size: 1.4rem;
}

@media (max-width: 1124px) {
  .cardBox {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 화면 너비가 1124px 이하일 때 2열로 설정 */
  }

  .searchBar {
    /* width: 672px; */
    margin-left: 32px;
    margin-right: 32px;
  }

  div.gnb {
    padding: 20px 32px;
    width: 800px;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 400px;
  }

  div.gnb {
    padding: 13px 32px;
  }

  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }

  /* .hero-header img {
    width: 302px;
    height: 178px;
    object-fit: cover;
    padding: 0 32px;
  } */

  /* .content-image {
    width: 325px;
    height: 265px;
    object-fit: cover;
    padding: 0 32px;
  } */

  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 32px;
  }
}

@media (max-width: 375px) {
}
