@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 62.5%;
  }

  #root {
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@layer components {
  .service-intro {
    @apply grid h-[var(--image-width-size)] w-full justify-center gap-x-[var(--col-gap-size)] gap-y-4;
    --text-size: 29.1rem;
    --image-width-size: 55rem;
    --image-height-size: 45rem;
    --col-gap-size: 15.7rem;
    padding-block: 5rem;
  }
  .service-intro:nth-of-type(odd) {
    grid-template:
      ". image"
      "title image"
      "description image"
      ". image"
      / var(--text-size) var(--image-width-size);
  }
  .service-intro:nth-of-type(even) {
    grid-template:
      "image ."
      "image title"
      "image description"
      "image ."
      / var(--image-width-size) var(--text-size);
  }
  .service-intro-title {
    @apply text-[4.8rem] font-bold leading-[5.8rem] tracking-[-0.03rem];
    grid-area: title;
  }
  .service-intro-description {
    @apply text-[1.6rem] font-medium leading-[150%] text-[#6b6b6b];
    grid-area: description;
  }
  .service-intro-content-image {
    @apply h-[var(--image-height-size)] w-[var(--image-width-size)];
    grid-area: image;
  }
  @media screen and (max-width: 1199px) {
    .service-intro {
      --text-size: 26.2rem;
      --image-width-size: 38.5rem;
      --image-height-size: 31.5rem;
      --col-gap-size: 5.1rem;
    }
    .service-intro br {
      @apply hidden;
    }
  }
  @media screen and (max-width: 767px) {
    .service-intro {
      @apply flex h-max flex-col gap-8;
      padding-inline: var(--safe-zone-size);
      padding-block: 4rem;
    }
    .service-intro-title {
      @apply order-none text-[2.4rem] leading-[1.3];
    }
    .service-intro-description {
      @apply order-2;
    }
    .service-intro-content-image {
      @apply order-1 h-auto w-full;
    }
  }
}
