@import "./global.css";

header {
  background-color: var(--background);
}

nav {
  background: var(--background);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.gnb {
  width: 100%;
  max-width: 192rem;
  padding: 2rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta.login,
.cta.add {
  border-radius: 0.8rem;
  background-image: linear-gradient(
    91deg,
    var(--primary) 0.12%,
    #6ae3fe 101.84%
  );
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  padding: 1.6rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta.login {
  width: 12.8rem;
  flex-shrink: 0;
}

.cta.add {
  width: 35rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-header {
  height: 95.3rem;
  padding: 7rem 36rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.title {
  color: #000000;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
}

.title b {
  background-image: linear-gradient(
    91deg,
    var(--primary) 17.28%,
    #ff9f9f 74.98%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-img {
  width: 111.8rem;
  height: 65.9rem;
  margin: 5rem 4.1rem;
  flex-shrink: 0;
  background-image: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 67.68%,
      var(--background) 94.76%
    ),
    url(../images/landing/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2.5rem;
  box-shadow: 0rem 0.4rem 2.5rem 0rem rgba(0, 0, 0, 0.08);
}

main {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.main-content {
  padding: 5rem 46.1rem;
  display: grid;
  justify-content: center;
  column-gap: 15.7rem;
  row-gap: 1rem;
}

.main-content:nth-of-type(odd) {
  grid-template-areas:
    ". image"
    "phrase image"
    "description image"
    ". image";
  grid-template-columns: 29.1rem 55rem;
}

.main-content:nth-of-type(even) {
  grid-template-areas:
    "image ."
    "image phrase"
    "image description"
    "image .";
  grid-template-columns: 55rem 29.1rem;
}

.phrase {
  grid-area: phrase;
  color: #000000;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
}

.description {
  grid-area: description;
  color: #6b6b6b;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 2.4rem */
}

.main-content img {
  grid-area: image;
}

.save .phrase {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
}

.admin .phrase {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
}

.share .phrase {
  background: linear-gradient(
    99deg,
    #6d7ccd 19.76%,
    rgba(82, 136, 133, 0.22) 52.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.search .phrase {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
  background-clip: text;
  -webkit-background-clip: text;
}

.phrase > span {
  color: transparent;
}

.line-break-tablet {
  display: none;
}

footer {
  background-color: var(--black);
  font-family: Arial;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-notice {
  height: 16rem;
  max-width: 192rem;
  padding: 3.2rem 10.4rem 6.4rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.copyright {
  color: #676767;
}

.footer-link {
  color: #cfcfcf;
}

.footer-links {
  display: flex;
  gap: 3rem;
}

.footer-sns {
  display: flex;
  gap: 1.2rem;
}

.footer-sns img {
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
}

/* tablet */
@media (max-width: 1199px) {
  nav {
    display: flex;
    justify-content: center;
  }

  .gnb {
    justify-content: space-between;
    padding: 2rem 3.2rem;
    max-width: 79.9rem;
  }

  .hero-header {
    height: 75.6rem;
    padding: 3.9rem 0;
    gap: 4rem;
  }

  .title {
    height: auto;
  }

  .title span {
    display: block;
  }

  .hero-img {
    width: 65rem;
    height: 38.3rem;
    margin: 2.91rem 2.38rem -6.9rem;
  }

  main {
    padding-top: 3rem;
  }

  .main-content {
    column-gap: 5.1rem;
    padding: 5rem 25rem;
  }

  .main-content:nth-of-type(odd) {
    grid-template-columns: 26.2rem 38.5rem;
  }

  .main-content:nth-of-type(even) {
    grid-template-columns: 38.5rem 26.2rem;
  }

  .main-content img {
    width: 38.5rem;
    height: 31.5rem;
  }

  .share br {
    display: none;
  }

  .description .line-break-tablet {
    display: block;
  }
}

/* mobile */
@media (max-width: 767px) {
  .gnb {
    padding: 1.3rem 3.2rem;
  }

  .cta.login {
    font-size: 1.4rem;
    width: 8rem;
    height: 3.7rem;
  }

  .cta.add {
    font-size: min(3.59vw, 1.8rem);
    width: 51.28vw;
    height: 9.49vw;
  }

  .title {
    font-size: 8.2vw;
    line-height: 10.76vw;
  }

  .hero-header {
    width: 100vw;
    height: 102vw;
    padding: 7.18vw 0;
    gap: 6.15vw;
    align-items: center;
  }

  .hero-img {
    width: 77.7vw;
    height: 45.9vw;
    margin: 3.49vw 2.85vw -8.21vw;
  }

  main {
    padding: 0 3.2rem 4rem;
  }

  .main-content {
    row-gap: 1.6rem;
    padding: 4rem 0;
  }

  .main-content:nth-of-type(odd) {
    grid-template-areas:
      "phrase"
      "image"
      "description";
    grid-template-columns: auto;
  }

  .main-content:nth-of-type(even) {
    grid-template-areas:
      "phrase"
      "image"
      "description";
    grid-template-columns: auto;
  }

  .phrase {
    font-size: 6vw;
    padding-bottom: 0.4rem;
  }

  .main-content img {
    width: 100%;
    height: auto;
  }

  .description {
    font-size: 3.8vw;
  }

  .main-content br,
  .description .line-break-tablet {
    display: none;
  }

  .save .phrase {
    background: linear-gradient(97deg, #fe8a8a 1.73%, #a4ceff 33.89%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .admin .phrase {
    background: linear-gradient(276deg, #6fbaff 44.56%, #ffd88b 60.93%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .share .phrase {
    background: linear-gradient(
      181deg,
      #6d7ccd 53.86%,
      rgba(82, 136, 133, 0.22) 99.4%
    );
    background-clip: text;
    -webkit-background-clip: text;
  }

  .search .phrase {
    background: linear-gradient(275deg, #fe578f 27.48%, #68e8f9 59.2%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .footer-notice {
    width: 100%;
    padding: 3.2rem 3.2rem;
    margin: 0;
    display: grid;
    grid-template-areas:
      "footer-links sns"
      "copyright .";
    row-gap: 6rem;
  }

  .copyright {
    grid-area: copyright;
  }

  .footer-links {
    grid-area: footer-links;
  }

  .footer-sns {
    grid-area: sns;
  }
}
