@import "./global.css";

body {
  padding-top: 238px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.sign-header {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.logo-link {
  display: flex;
  justify-content: center;
}

.header-logo {
  height: 38px;
}

.header-message {
  display: flex;
  column-gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.header-link {
  height: fit-content;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: var(--primary);
  border-bottom: 0.1rem solid var(--primary);
}

.sign-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  width: 400px;
}

.sign-form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
}

.sign-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.sign-input-box {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.sign-password {
  position: relative;
}

.sign-input-label {
  font-size: 14px;
  font-weight: 400;
}

.sign-input {
  padding: 18px 15px;
  border-radius: 8px;
  border: 1px solid var(--gray20);
  font-size: 16px;
  line-height: 150%;
}

.sign-input:focus {
  border-color: var(--primary);
}

.eye-button {
  position: absolute;
  bottom: 22px;
  right: 15px;
  width: 16px;
  height: 16px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 8px;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 600;
}

.sns-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid var(--gray20);
  background-color: var(--gray10);
}

.sns-links {
  display: flex;
  column-gap: 16px;
}

.sns-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.sns-text {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray100);
}

.google-link {
  background-color: var(--white);
  border: 1px solid #d3d4dd;
}

.kakao-link {
  padding-top: 2px;
  background-color: #f5e14b;
}

@media(max-width:767px){
  .sign-box{
    max-width: 464px;
    width: 100vw;
    padding: 0 32px 119px 33px;
  }
}