
@import "./global.css";

/* desktop and tablet */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--background);
  padding-top: 238px;
  padding-bottom: 252px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 400px;
  height: 492px;
}

.sign-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  height: 38px;
  width: 210.5834px;
}

.sign {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.sign-link {
  text-decoration: underline;
  color: var(--primary);
  font-weight: 600;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 400px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  align-self: baseline;
  font-size: 14px;
  font-weight: 400;
}

input {
  border: 1px solid var(--gray20);
  border-radius: 8px;
  background-color: var(--white);
  padding: 18px;
}

input:focus {
  border: 1px solid var(--primary);
  outline: none;
}

.input-password {
  background-image: url("../images/eye-off.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 18px;
}

input::placeholder {
  color: var(--gray100);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 20px;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 600;
  background-image: linear-gradient(
    91deg,
    var(--primary) 0.12%,
    #6ae3fe 101.84%
  );
  border-radius: 8px;
}

.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid var(--gray20);
  border-radius: 8px;
  background-color: var(--gray10);
}

.social-logos {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-logo {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
}

/* mobile */
@media screen and (max-width: 767px) {
  body {
    padding-left: 32px;
    padding-right: 32px;
  }

  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .inputs {
    width: 100%;
  }
}