body {
  background-color: var(--linkbrary-bg);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 25rem;
  margin: 14.88rem auto;
}

.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.88rem;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header-logo img {
  width: 13.16144rem;
  height: 2.375rem;
}

.header-signup {
  font-size: 1rem;
  line-height: 1.5rem;
}

.signup-link {
  color: var(--linkbrary-primary-color);
  font-weight: 600;
  text-decoration: underline;
  text-underline-position: under;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.login-button {
  width: 100%;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  text-align: center;
  background-image: linear-gradient(135deg, var(--linkbrary-primary-color) 0%, #6ae3fe 100%);
  color: #F5F5F5;
  font-size: 1.125rem;
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
}

.input-container {
  position: relative;
}

input {
  display: block;
  padding: 1.12rem 0.94rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--linkbrary-gray-20);
  outline: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

input:focus {
  border-radius: 0.5rem;
  border: 1px solid var(--linkbrary-primary-color);
}

.eyeoff-icon {
  position: absolute;
  top: 1.375rem;
  right: 0.94rem;
  width: 1rem;
  height: 1rem;
}

.social {
  display: flex;
  padding: 0.75rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-gray-10);
}

.social-text {
  color: var(--linkbrary-gray-100);
  font-size: 0.875rem;
}

.social-logo img {
  width: 2.625rem;
  height: 2.625rem;
}
