@import url(reset.css);
@import url(normalize.css);

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 23.8rem;
  padding-bottom: 25.2rem;
  background-color: var(--gray1);
}

header {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  margin-bottom: 3rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 144rem;
  height: 98.2rem;
  background-color: var(--gray1);
}

input {
  width: 100%;
  border: 0.1rem solid var(--Gray3);
  line-height: 150%;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
}

/* section */
.header__sign-text-form {
  display: flex;
  column-gap: 0.8rem;
  font-size: 1.6rem;
}
.header__sign-text {
  color: var(--Black);

  font-weight: 400;
  line-height: 2.4rem;
}
.header__login-link {
  color: var(--Primary);
  font-weight: 600;
}
.header__login-hr {
  border: 0.1rem solid var(--Primary);
}
.header__logo {
  width: 21rem;
  height: 3.8rem;
}

input:focus {
  outline: none;
  border: 0.1rem solid var(--Primary);
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
}

.section__input-check-form {
  margin-top: 0.6rem;
}

.section__input-check-text {
  color: var(--Red);
}
.section__input {
  position: relative;
}

.password-toggled {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 35%;
  right: 5%;
}

.sign-btn {
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  color: var(--White3);
  font-size: 1.8rem;
  font-weight: 600;
  border: 0;
  margin-top: 0.6rem;
  margin-bottom: 3.2rem;
}

/* social */
.social-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Gray2);
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
}

.social-sns-text {
  color: var(--Gray6);
}

.social-link-form {
  display: flex;
  column-gap: 1.6rem;
}

.social-link-background {
  background-repeat: no-repeat;
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sns-bg1 {
  background-image: url("../images/googlebg.svg");
}
.sns-bg2 {
  background-image: url("../images/kakaobg.svg");
}

/* tablet */
@media (max-width: 1199px) {
  body {
    padding-top: 20rem;
    padding-bottom: 29rem;
  }
}
/* mobile */
@media (max-width: 767px) {
  body {
    padding: 12rem 3.2rem 23.2rem 3.3rem;
  }
  .social-form {
    margin-top: 0.2rem;
  }
}
