body {
  background-color: var(--linkbrary-bg);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
  width: 40rem;
  margin: 23.8rem auto;
}

.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.header-logo img {
  width: 21.06rem;
  height: 3.8rem;
}

.header-signin {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.signin-link {
  color: var(--linkbrary-primary-color);
  font-weight: 600;
  text-decoration: underline;
  text-underline-position: under;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
}

.signup-button {
  width: 100%;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  text-align: center;
  background-image: linear-gradient(135deg, var(--linkbrary-primary-color) 0%, #6ae3fe 100%);
  color: #F5F5F5;
  font-size: 1.8rem;
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}

.input-container {
  position: relative;
}

input {
  display: block;
  padding: 1.79rem 1.5rem;
  width: 100%;
  border-radius: 0.8rem;
  border: 1px solid var(--linkbrary-gray-20);
  outline: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

input:focus {
  border: 1px solid var(--linkbrary-primary-color);
}

.input-error {
  border-color: var(--linkbrary-red);
}

.error-massage {
  display: block;
  margin-top: 0.6rem;
  font-size: 1.4rem;
  color: var(--linkbrary-red);
}

.eye-icon {
  position: absolute;
  top: 2.2rem;
  right: 1.8rem;
  width: 1.6rem;
  height: 1.6rem;
}

.social {
  display: flex;
  padding: 1.2rem 2.4rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 0.8rem;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-gray-10);
}

.social-text {
  color: var(--linkbrary-gray-100);
  font-size: 1.4rem;
}

.social-logo-container {
  display: flex;
  gap: 1.6rem;
}

.social-logo-container img {
  width: 4.2rem;
  height: 4.2rem;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    margin-top: 20rem;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .container {
    margin-top: 12rem;
    padding: 0 3.2rem;
    width: 100%;
    max-width: 46.4rem;
  }
}
