.signin-main {
  display: flex;
  width: 1440px;
  padding: 238px 0px 252px 0px;
  justify-content: center;
  align-items: center;
  background: #f0f6ff;
}

.signin-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.signin-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

span {
  color: var(--black);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.href-signup {
  color: var(--linkbrary-primary-color);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.signin-btn {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
}

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.email-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pw-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.eye_off-img {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.input-label {
  color: var(--black);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-white);
}

#password {
  display: flex;
  background-image: url(/images/eye-off.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
}

input:hover {
  border-radius: 8px;
  border: 1px solid var(--linkbrary-primary-color);
  background: var(--linkbrary-white);
}

.snslogin-box {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20);
  background: var(--linkbrary-gray-10);
}

.login-btn {
  color: var(--grey-light);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.sns-text {
  color: var(--linkbrary-gray-100);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sns-icoBox {
  display: flex;
  gap: 16px;
}
.google-ico {
  width: 42px;
  height: 42px;
}

.kakao-ico {
  width: 42px;
  height: 42px;
}
.ico-bg {
  position: absolute;
}

.ico {
  position: relative;
  display: flex;
  width: 23px;
  height: 23px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  left: 10px;
  top: 11px;
}
