@import "./global.css";
body {
  margin: 23.8rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  background-color: var(--gray-00-color);
}
.logo-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.logo {
  width: 210.5834px;
  height: 3.8rem;
}

.link-container {
  font-size: 1.6rem;
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
}

.link-text {
  font-weight: 400;
  color: var;
  line-height: 150%;
}

.link-connect {
  color: var(--primary-color);
  font-weight: 600;
  border-bottom: 1px solid;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label-textfield {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin: 3rem 0;
}
.label {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000000;
  gap: 1.2rem;
}

input {
  width: 100%;
  height: 6rem;
  padding: 1.8rem 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--gray-20-color);
  background: var(--white-color);
  position: relative;
}

input:focus {
  outline: 1px solid var(--primary-color);
}
input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #373740;
}

input:focus::placeholder {
  color: transparent;
}

.check .diff {
  display: inline-block;
  padding-top: 0.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--red-color);
}

.input-wrapper {
  position: relative;
  width: 100%;
  height: 6rem;
}

.input-wrapper .eye {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 1.5rem;
  width: 1.6rem;
  height: 1.6rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  color: #f5f5f5;
  height: 5.4rem;
  border-radius: 8px;
  border: 0;
  background-image: var(--gra-purpleblue-to-skyblue);
  font-size: 1.8rem;
  font-weight: 600;
}

.social-link-container {
  width: 100%;
  height: 6.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.4rem;
  margin-top: 3.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #373740;
  background-color: var(--gray-10-color);
  border-radius: 8px;
  border: 1px solid var(--gray-20-color);
}

.social {
  display: flex;
  column-gap: 1.6rem;
  height: 4.2rem;
}

.social img {
  width: 4.2rem;
}
