body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bgGray);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 144rem;
  height: 98.2rem;
  background-color: var(--bgGray);
}

/* article */
article:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin-bottom: 3.2rem;
}

/* section1 : 회원가입  */
section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.6rem;
}

.sign-div {
  display: flex;
  column-gap: 0.8rem;
  font-size: 1.6rem;
}
.sign-span {
  color: var(--Black);

  font-weight: 400;
  line-height: 2.4rem;
}
.sign-link {
  color: var(--Primary);
  font-weight: 600;
}
.sign-hr {
  border: 0.1rem solid var(--Primary);
}

/* section2 : input */
input {
  border: 0.1rem solid var(--SnsText);
}

input:focus {
  outline: none;
  border: 0.1rem solid var(--Primary);
}

.sign-input {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  width: 40rem;
}

.sign-input input {
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
}
.sign-input-type {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.sign-input-items {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}
.sign-input-span-pw {
  color: var(--Red);
}

.need-eyes {
  background-image: url(../images/eye-off.svg);
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
  background-position-x: 95%;
  background-position-y: 50%;
}

.sign-btn {
  width: 40rem;
  padding: 1.6rem 2rem;
  border-radius: 0.8rem;
  background-image: linear-gradient(135deg, #6d6afe 0%, #6ae3fe 100%);
  color: var(--BtnColor);
  font-size: 1.8rem;
  font-weight: 600;
  border: 0;
}

/* section3 : sns */
.sign-sns {
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--SnsLoginBg);
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
}

.sign-sns-text {
  color: var(--SnsText);
}

.sns-item-div {
  display: flex;
  column-gap: 1.6rem;
}

.sign-sns-bg {
  background-repeat: no-repeat;
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sns-bg1 {
  background-image: url("../images/googlebg.svg");
}
.sns-bg2 {
  background-image: url("../images/kakaobg.svg");
}
