* {
  Box-sizing:border-box
}

:root {
  --linkbrary-primary-color : #6d6afe;
  --linkbrary-red : #ff5b56;
  --linkbrary-black : #111322;
  --linkbrary-white : #ffffff;
  --linkbrary-gray-1 : #3e3e43;
  --lingkbrary-gray-2 : #9fa6b2;
  --linkbrary-gray-20 : #ccd5e3;
  --linkbrary-gray-104 : #e7effb;
  --linkbrary-bg : #f0f6ff;
}

body {
  display: flex;
  width: auto;
  padding: 238px 0px 252px 0px;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: var(--linkbrary-bg, #F0F6FF);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 250px;
  height: 50px;
}

.login-signup {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  color: var(--black, #000);
  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.login-signup-link {
  color: var(--linkbrary-primary-color, #6D6AFE);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.login-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.user-email,
.user-password,
.user-password-again {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

label {
  color: var(--black, #000);
  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
  background: var(--linkbrary-white, #FFF);
}

input:focus {
  outline: 1px solid #6D6AFE;
}

.eye-icon {
  position: relative;
}

.eye-icon > img {
  position: absolute;
  right: 17px;
  top: 18px;
}

button {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-style: none;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue,
      linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  color: var(--grey-light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.social-login {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
  background: var(--linkbrary-gray-10, #E7EFFB);
}

.social-login > a {
  color: var(--linkbrary-gray-100, #373740);
  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-icon {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.kakaotalk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  /* flex-shrink: 0; */
  background-color: #F5E14B;
  border-radius: 50%;
}

.google {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #ffffff;
  border: 1px solid #D3D4DD;
  border-radius: 50%;
}