body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.wrap {
  width: 400px;
  height: 628px;
  margin: 238px auto 116px;
}
.header {
  width: 211px;
  height: 108px;
  margin: 0 auto;
}

.header1-text {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.text1 {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: black;
}
.text2 {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #6d6afe;
  text-decoration: underline;
  text-decoration-color: #6d6afe;
  text-decoration-thickness: 1px;
}
.email-text {
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}
.email-input {
  padding: 18px 15px;
  margin: 12px 0 24px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  background: #fff;
}
.password-text {
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}
.password-input {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  background: #fff;
  padding: 18px 15px;
  margin: 12px 0 24px;
}
.check-password {
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}
.check-password-input {
  display: flex;
  padding: 18px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  background: #fff;
  width: 400px;
  margin-top: 12px;
}
.login-btn {
  display: flex;
  width: 400px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  margin: 62px 0 32px;
  border: none;
}

.login-btn-text {
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #f5f5f5;
}

.footer {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  background-color: #e7effb;
}

.footer-text {
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #373740;
}

.footer-logo {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

input:focus {
  border-color: blue;
  outline: none;
}
