/* header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: #edf7ff;
}

.hero {
  width: 120rem;
  height: 59rem;
}

/* nav */
nav {
  width: 100%;
  height: 9.4rem;
  max-width: 192rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 20rem;
  position: fixed;
}

.nav-next-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  row-gap: 4rem;

  /* nav fixed로 인한 margin 설정*/
  margin-top: 9.4rem;
}

.nav-next-div h1 {
  color: black;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 8rem;
  word-wrap: break-word;
  text-align: center;
}

.alink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.8rem;
  height: 5.4rem;
  /* background-color: yellow; */
  border-radius: 0.8rem;
}

.alink span {
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
  word-wrap: break-word;
}

.a-gradation {
  background-image: linear-gradient(135deg, #6d6afe 0%, #6ae3fe 100%);
}

.signup {
  width: 35rem;
}

.background-clip-text {
  -webkit-background-clip: text;
  color: transparent;
}

.text-gradation {
  background-image: linear-gradient(119deg, #6d6afe 0%, #ff9f9f 100%);
}

/* article */
article {
  padding-top: 7rem;
  padding-bottom: 12rem;
}
/* section */
section {
  display: grid;
  justify-content: center;
  column-gap: 15.7rem;
  row-gap: 1rem;
  padding: 5rem 0;
}

section:nth-of-type(odd) {
  grid-template:
    ". sec-img"
    "sec-h1 sec-img"
    "sec-description sec-img"
    ". sec-img " /29.1rem 55rem;
}

section:nth-of-type(even) {
  grid-template:
    "sec-img ."
    "sec-img sec-h1"
    "sec-img sec-description"
    "sec-img . " /55rem 29.1rem;
}

section img {
  width: 55rem;
  height: 45rm;
}

.sec-h1 {
  grid-area: sec-h1;
  color: black;
  font-size: 4.8rem;
  font-weight: 700;
  word-wrap: break-word;
}
.sec-description {
  grid-area: sec-description;
  color: #6b6b6b;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}
.sec-img {
  grid-area: sec-img;
}

.sec1-span {
  background-image: linear-gradient(119deg, #6d6afe 0%, #ff9f9f 100%);
}
.sec2-span {
  background-image: linear-gradient(119deg, #6fbaff 0%, #ffd88b 100%);
}

.sec3-span {
  background-image: linear-gradient(119deg, #6d7ccd 0%, #52888538 100%);
}
.sec4-span {
  background-image: linear-gradient(119deg, #fe5785 0%, #68e8f9 100%);
}

/* footer */
footer {
  width: 100%;
  background-color: #111322;
  font-size: 1.6rem;
  font-family: Arial;
  font-weight: 400;
  word-wrap: break-word;
  height: 16rem;
}

.ft-div-wrap {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  max-width: 192rem;
  padding: 3.2rem 10.4rem 6.4rem;
}

.ft-compony {
  color: #676767;
}

.ft-etc {
  display: flex;
  column-gap: 30px;
  color: #ffffff;
}
