@charset "utf-8";
:root {
  /* Color */
  --linkbrary-primary-color: #6D6AFE; 
  --linkbrary-red: #FF5B56;
  --the-julge-black: #111322;
  --linkbrary-white: #FFF;
  --linkbrary-gray-100: #373740;
  --linkbrary-gray-60: #9FA6B2;
  --linkbrary-gray-20: #CCD5E3;
  --linkbrary-gray-10: #E7EFFB;
  --grey-light: #F5F5F5;
  --linkbrary-bg: #F0F6FF;
}

/* common */
.btn {
  border-radius: 0.5rem;
  background: linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%);
  font-family: 'Pretendard';
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: center;
  color:#F5F5F5;  
  font-size: 1.125rem;
  font-weight: 600;
}

h1{
  font-weight: 700; 
  letter-spacing: -0.01875rem;
  font-size: 4rem;
  line-height: 5rem; /* 125% */
}

h2{
  font-family: Pretendard;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01875rem;
}

p.des{
  color: #6B6B6B;
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%; /* 1.5rem */
}

.text{
  display: flex;
  width: 18.1875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}

section:not(#home){
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9.8125rem;
}



#link-search{
  padding: 3.125rem, 7.5rem;
}

.wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.375rem;
  height: 28.125rem;
  border-radius: 15px;
  background-color: #F0F6FF;
  overflow: hidden;
  position: relative;
}


/* header */
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--linkbrary-bg);
  margin: 0 auto;
  z-index: 9999;
}

.gnb{
  padding: 1.25rem 12.5rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1920px;
}

.login{
  width: 8rem;
}


/* home */
#home{
  background: #F0F6FF;
  text-align: center;
  padding: 4.375rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
}

#home .decocolor{
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tablet-size{
  display: none;
}

#home .btn{
  width: 21.875rem;
}

#home img{
  width: 69.875rem;
  height: auto;
}

/* save-link */
#save-link{
  padding: 7.5rem 0 3.125rem;
}

#save-link .decocolor{
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card:nth-child(2){
  position: relative;
}

.card-select{
  position: absolute;
  top: 13px;
  left: 16px;
}
.card img{
  width: 100%;
}

.card-select img{
  width: 93%;
}
.card-ico-save{
  position: absolute;
  bottom: 0.29rem;
  right: 0.38rem;
}
.card-ico-save img{
  width: 2.875rem;
  height: 2.875rem;
}


/* link-management */
#link-management{
  padding: 3.125rem 0 ;
}

#link-management img{
  width: 25.875rem;
  margin-top:2rem;
  
}

#link-management .decocolor{
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* link-share */
#link-share {
  padding: 3.125rem 0 ;
}
#link-share .decocolor{
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#link-share img{
  width: 26rem;
  padding: 7.125rem 4.25rem 4.125rem 4.25rem;
  box-sizing: content-box;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),
  url(/imgs/main/link-share02.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}


/* link-search */
#link-search {
  padding: 3.125rem 0 7.5rem; 
  }
#link-search img{
  width: 32.6875rem;
  position: absolute;
  top: 1.44rem;
  left: 1.75rem;
}

#link-search .decocolor{
  background: var(linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* footer */
footer{
  display: flex;
  background: var(--the-julge-black);
  color:#CFCFCF;
  padding: 2rem 6.5rem 4rem;
  align-items: center;
  justify-content: space-between;
}
.copyright{
  color: #676767;
  flex-basis: 7.25rem;
}
.footer-links a{
  color: #CFCFCF;
}

.footer-links-privacy{
  margin-right: 1.88rem;
}
.footer-snss{
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

@media screen and (max-width: 1199px) {
    /* common */
  section:not(#home) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.19rem;
  }

  .wrap{
    width: 24.0625rem;
    height: 19.6875rem;
  }

  /* header */
  .gnb{
    padding: 1.25rem 2rem;
    max-width: 1199px;
    width: 768px;
  }

  /* home */
  #home{
    padding: 2.44rem 0 0;
    gap : 2.5rem;
  }

  .tablet-size{
    display: block;
  }

  #home img{
    width: 40.64394rem;
  }

  /* save-link */
  #save-link{
    padding: 5rem 0 3.12rem;
  }

  .card-select {
    position: absolute;
    top: 9px;
    left: 12px;
  }

  .card-ico-save{
    right: 0.29rem;
  }

  .card-ico-save img{
    width: 2rem;
    height: 2rem;
  }
  /* link-management */
  #link-management img {
    width: 17.875rem;
  }

  /* link-share */
  #link-share img{
    width: 18rem;
  }
}

@media screen and (max-width: 767px) {
  .btn {
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
  }

  h1{
    font-size: 2rem;
    line-height: 2.625rem; /* 131.25% */
  }
  
  section:not(#home) {
    flex-direction: column;
    gap: 3.19rem;
}

  /* header */
  .gnb{
    padding: 0.81rem 2rem;
    width: auto;
  }

  .logo{
    width: 5.54169rem;
  }

  .login{
    width: 5rem;
  } 

  /* home */
  #home {
    padding: 1.75rem 0 0;
    gap: 1.5rem;
  }

  #home .btn{
    width: 12.5rem;
  }

  #home img{
    width: 18.9245rem;
  }
 
}