.Selector {
  background: var(--gray-light-gray-00, #fff);
  box-shadow: 0px 2px 8px 0px rgba(51, 50, 54, 0.1);
  position: absolute;
  width: 100px;
}
.Sector__option {
  width: 100%;
  height: 30px;
  display: flex;
  padding: 7px 12px;
  justify-content: center;
  align-items: center;

  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-shadow: 0px 2px 8px 0px rgba(51, 50, 54, 0.1);

  color: var(--gray-light-gray-100, #333236);
  background: var(--gray-light-gray-00, #fff);
}

:hover.Sector__option {
  background: var(--linkbrary-gray-10, #e7effb);
  color: var(--linkbrary-primary-color, #6d6afe);
}
