html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  font-family: "Pretendard";
}

body {
  margin: 16px auto;
  width: 360px;
  background-color: #f0f6ff;
}

form {
  margin: 150px auto 16px;
  width: 360px;
}

label {
  color: #111322;
  display: block;
  margin: 16px 0 8px;
}

input {
  border: 1px solid #9fa6b2;
  border-radius: 10px;
  color: #111322;
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0;
  padding: 16px 24px;
  width: 100%;
}

.login-button {
  background: linear-gradient(to right,#6d6afe,#6ADFFE);
  border: none;
  border-radius: 10px;
  color: #ffffff;
  display: block;
  font-size: 18px;
  margin: 24px 0;
  padding: 16px;
  width: 100%;
}

.login-title {
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.logo {
  height: auto;
  width: 200px;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  width: 200px;
}

.signup-link {
  color: #6d6afe;
  text-decoration: underline
}


.social {
  border: #2c2c2c;
  width: 360px;
  height: 60px;
  background-color: #e7effb;
  border: solid 1px #ccd5e3;
  border-radius: 10px;
  color: #111322;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 15px;
}

.sns {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}

.goggle { 
  background-color: #ffffff;
  border: 0.1rem solid #d3d4dd;
  border-radius: 50%;
}

.kakao {
  border: solid 1px #d3d4dd;
  border-radius: 50%;
}

/* mobile size */
@media screen and (max-width: 768px) {
  body {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
  }

  
}
