@media (max-width: 767px) {
  .FloatingActionButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .FloatingActionButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    z-index: 1; /*Star 컴포넌트 z-index : 0*/
    border-radius: 20px;
    padding: 8px 24px;
    border: 1px solid var(--linkbrary-white, #fff);
    background: var(--linkbrary-primary-color, #6d6afe);
    position: fixed;
    bottom: 101px;

    color: var(--linkbrary-gray-10, #e7effb);
    text-align: center;
    font-family: Abel;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
  }

  .FloatingActionButtonIcon {
    width: 16px;
    height: 16px;
  }
}
