$primary: #6d6afe;
$red: #ff5b56;

$dark-blue: #111322;
$light-blue: #f0f6ff;

$blue-gray-100: #373740;
$blue-gray-80: #9fa6b2;
$blue-gray-60: #ccd5e3;
$blue-gray-40: #e7effb;

$black: #000000;
$white: #ffffff;

$gray-90: #333333;
$gray-80: #666666;
$gray-70: #676767;
$gray-60: #6b6b6b;
$gray-40: #cfcfcf;
$gray-20: #f5f5f5;

$gradation: linear-gradient(to right, #6d6afe, #6ae3fe, #6d6afe);
