:root {
  --color-primary: #6d6afe;
  --color-red: #ff5b56;
  --color-black: #111322;
  --color-white: #ffffff;
  --color-gray1: #e7effb;
  --color-gray2: #f0f6ff;
  --color-gray3: #ccd5e3;
  --color-gray4: #9fa6b2;
  --color-gray5: #3e3e43;

  --color-gray6: #373740;
}

html {
  font-family: Pretendard, sans-serif;
  font-size: 62.5%;
}

@media screen and (min-width: 0\0) {
  /* IE 9, IE 10, IE 11 */
  :root,
  html {
    font-size: 10px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE 10, IE 11 */
  :root,
  html {
    font-size: 10px;
  }
}

button {
  cursor: pointer;
}

a:focus {
  outline: 0.2rem solid var(--color-gray4);
}

button:focus {
  outline: 0.2rem solid var(--color-gray4);
}

.cta {
  padding: 1.6rem 2rem;
  border-radius: 8px;
  background: linear-gradient(
    91deg,
    var(--color-primary) 0.12%,
    #6ae3fe 101.84%
  );
  color: #f5f5f5;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.cta:focus {
  outline: 0.2rem solid var(--color-gray4);
}

.background-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.wrap {
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
}

.bgc-blue {
  background: var(--color-gray2);
}
