.container {
  display: flex;
  justify-content: space-between;
  max-width: 192rem;
  width: 100%;
  margin: 0 auto;
}

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.4rem;
  border-radius: 0.8rem;
  background-image: linear-gradient(91deg, var(--primary-color) 0.12%, #6AE3FE 101.84%);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white-color);
  text-align: center;
  cursor: pointer;
}

.link-home {
  display: inline-block;
}

:root {
  --primary-color: #6D6AFE;
  --red-color: #FF5B56;
  --white-color: #FFFFFF;
  --gray-color-100: #373740;
  --gray-color-60: #9FA6B2;
  --gray-color-20: #CCD5E3;
  --gray-color-10: #E7EFFB;
  --gray-color-bg: #F0F6FF;
  --blue-color-bg: #EDF7FF;
}

