/* Reset CSS */
* {
    margin: 0;
    word-break: keep-all;
    box-sizing: border-box;
}

html, body {
  font-family: 'Pretendard', sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;   
}

button,
input,
select,
textarea {
  border: 0;
  background-color: transparent;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}