* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
}

html,
body {
  font-size: 62.5%;
}

body {
  background-color: #edf7ff;
}

header {
  position: absolute;
  text-align: center;
  width: 400px;
  height: 394px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 150px;
}

.logo {
  color: inherit;
  text-decoration: none;
}

.not-member {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.signup {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6D6AFE;
}

.how-are-you {
  margin: 16px 0 30px 0;
}

label {
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  margin: 24px 0 12px 0;
  position: relative;
}

input {
  padding: 18px 15px;
  width: 400px;
  height: 60px;
  border: 1px solid #CCD5E3;
  border-radius: 8px;
}

.password-form {
  position: relative;
}

.password-check-form {
  position: relative;
}

button.eye-off {
  background-image: url('/images/eye-off.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 55%;
  right: 5%;
  transform: (-50%, -50%);
}

button.eye-on {
  background-image: url('/images/eye-on.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 55%;
  right: 5%;
  transform: (-50%, -50%);
}

button.check-off {
  background-image: url('/images/eye-off.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 55%;
  right: 5%;
  transform: (-50%, -50%);
}

button.check-on {
  background-image: url('/images/eye-on.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 55%;
  right: 5%;
  transform: (-50%, -50%);
}

button.login {
  background: #2c2c2c;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-image: linear-gradient(135deg, #6d6afe 0%, #6ae3fe 100%);
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0 32px 0;
  padding: 16px 20px;
  width: 400px;
}

button.signup-button {
  background: #2c2c2c;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-image: linear-gradient(135deg, #6d6afe 0%, #6ae3fe 100%);
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0 32px 0;
  padding: 16px 20px;
  width: 400px;
}

.logo-image {
  width: 210.58px;
  height: 38px;
}

input:focus {
  outline: none;
  border: 1px solid #6D6AFE;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  width: 400px;
  height: 60px;
  background-color: #E7EFFB;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
}

.social_img {
  width: 42px;
  height: 42px;
}

.social_images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media(max-width: 767px) {
  body {
    padding: 238px 32px 252px 32px;
  }
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  text-align: left;
  margin-top: 6px;
  font-size: 14px;
  display: none;
}