.container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: 23.8rem auto 0;
  gap: 3rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.logo__img {
  width: 21.058rem;
  height: 3.8rem;
}

.logo__signup {
  font-size: 1.6rem;
}

.logo__signup--link {
  display: inline-block;
  margin-left: 0.8rem;
  color: var(--color-primary);
  font-weight: 600;
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.form__label {
  display: inline-block;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 1.8rem 1.5rem;
  border: 0.1rem solid var(--color-gray3);
  border-radius: 8px;
  background: var(--color-white);
  color: var(--color-gray6);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.form__input::placeholder {
  color: var(--color-gray4);
}

.form__password {
  position: relative;
}

.form__password-chk {
  position: relative;
}

#input-password-chk {
  /* border: 1px solid var(--color-red); */
}

.form__password-chk--error {
  margin-top: -1.6rem;
  color: var(--color-red);
  font-size: 1.4rem;
}

.form__input:focus {
  border: 0.1rem solid var(--color-primary);
}

.eye-icon {
  position: absolute;
  right: 2.2rem;
  bottom: 2.3rem;
  width: 1.6rem;
  height: 1.6rem;
  background-size: 1.6rem;
  cursor: pointer;
}

.form__input--eye-off {
  background-image: url("/images/icons/eye-off.svg");
}

.form__input--eye-on {
  background-image: url("/images/icons/eye-on.svg");
}

.form__submit {
  width: 100%;
  margin-top: 0.6rem;
}

.sns-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.2rem;
  padding: 1.2rem 2.4rem;
  border: 0.1rem solid var(--color-gray3);
  border-radius: 0.8rem;
  background: var(--color-gray1);
}

.sns-login__text {
  color: var(--color-gray6);
  font-size: 1.4rem;
}

.sns-login__link {
  display: inline-block;
  width: 4.2rem;
}

.sns-login__link:nth-child(odd) {
  margin-right: 1.6rem;
}
