body {
  background-color: var(--gray-color-bg);
}

.sign {
  width: 40rem;
  margin: 23.8rem auto 0;
}

.sign-header {
  margin-bottom: 3rem;
  text-align: center;
}

.sign-header .image-logo {
  width: 21.2rem;
  height: 3.8rem;
}

.sign-header .logo {
  margin-bottom: 1.6rem;
  font-size: 0;
}

.sign-header .text {
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
}

.link-signup, 
.link-signin {
  margin-left: 0.8rem;
  color: var(--primary-color);
  text-decoration: underline;
}

.sign-body {
  margin-bottom: 3.2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  margin-bottom: 30px;
}

.sign-form label {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}

.sign-form input {
  width: 100%;
  height: 6rem;
  padding: 0 1.5rem;
  border-radius: 0.8rem;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color-20)
}

.sign-form input:focus {
  border: 1px solid var(--primary-color);
}

.sign-form input#password,
.sign-form input#password-repeat {
  padding-right: 4.6rem;
}

.sign-form input,
.sign-form input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--gray-color-100);
}

.button-primary {
  width: 100%;
}

.sign-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.4rem;
  border: 1px solid #CCD5E3;
  border-radius: 0.8rem;
  background-color: var(--gray-color-10);
}

.sign-footer label {
  font-size: 1.4rem;
  font-weight: 400;
}

.social-login {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
  height: 4.2rem;
}

.social-login .image {
  width: 4.2rem;
  height: 4.2rem;
}

.input-wrap {
  position: relative;
}

.button-show {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
  background: url('/images/sign/icon_eye_on.png') no-repeat center/ 1.6rem 1.6rem;
  cursor: pointer;
}

.button-show.hide {
    background: url('/images/sign/icon_eye_off.png') no-repeat center/ 1.6rem 1.6rem;
}


