.banner {
  background-color: var(--gray-bg);
  padding: 60px 32px 90px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .wrapper {
    max-width: 704px;
  }
}

@media only screen and (max-width: 767px) {
  .banner {
    padding: 24px 32px 40px;
  }
}
