@import url(../../styles/Globals.css);
@import url(../../styles/HomeStyles.css);
.gnb {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.gnb-img {
  border-radius: 9999px;
  width: 2.8rem;
  height: 2.8rem;
}

.email {
  font-size: 1.4rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 6rem;
  gap: 2rem;
}

.profile-img {
  width: 6rem;
  height: 6rem;
}

.profile-name {
  font-size: 16px;
}
.add-link-bar {
  background-color: var(--gray-bg-color);
  padding: 6rem 32rem 9rem;
}
.add-link-container {
  position: relative;
  width: 80rem;
}

.addLink {
  width: 100%;
  padding-left: 5rem;
  height: 6.9rem;
  border-radius: 1.5rem;
  border: 1px solid var(--primary-color);
  color: var(--gray-60-color);
  font-size: 1.6rem;
}

.add {
  width: 8.1rem;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 1.6rem;
}

.add-link-container > button {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.add-link-container > img {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}

folder {
  background-color: var(--white-color);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.folder {
  max-width: 106rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (max-width: 1200px) {
    padding: 0 3.2rem;
  }
}

.search-bar-container {
  position: relative;
}

.search-bar-container > img {
  position: absolute;
  top: 50%;
  left: 1.6rem;
  transform: translateY(-50%);
}

.searchBar {
  background-color: #f5f5f5;
  width: 100%;
  height: 5.4rem;
  border: none;
  border-radius: 1rem;
  padding-left: 4rem;
  margin: 4rem auto;
}

.img-container {
  overflow: hidden;
}

.noLink {
  color: #000;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
  padding-top: 4.1rem;
  padding-bottom: 3.5rem;
}

.cards {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2.5rem;
}

.card:hover .card-img {
  transform: scale(1.3);
  transition: all 1s;
}

.card {
  background-color: var(--white-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 34rem;
  height: 33.4rem;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.card-img {
  width: 34rem;
  height: 20rem;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem 2rem;
}

.time-ago {
  color: #666;
  font-size: 13px;
  font-weight: 400;
}

.links-description {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 4.9rem;
  width: 100%;
}

.createdAt {
  color: #333;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
}
