.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.folderButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem 0.8rem;
}

.folderButton {
  padding: 0.8rem 1.2rem;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  background: var(--color-white);
  font-size: 1.6rem;
  cursor: pointer;
}

.addButton {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  background: center / contain no-repeat url('/images/icons/add.svg');
}

.currentFolder {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.folderTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -0.2px;
}

.options {
  display: flex;
  gap: 1.2rem;
}

.option {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  color: var(--color-gray4);
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  gap: 0.4rem;
}

.hide {
  display: none;
}

/* Mobile */
@media only screen and (max-width: 767px) and (min-width: 375px) {
  .folderButton {
    padding: 0.6rem 1rem;
    font-size: 1.4rem;
  }

  .addButton {
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 101px;
    left: 0;
    width: 13.5rem;
    height: 3.6rem;
    margin: 0 auto;
    border: 0.1rem solid var(--color-white);
    border-radius: 20px;
    background-color: var(--color-primary);
    background-image: url('/images/icons/add_white.svg');
    background-size: 1.6rem;
    background-position: right 2.4rem center;
  }
}
