.addlink-section {
  width: 100%;
  padding: 60px 320px 90px;
  background: var(--linkbrary-bg, #f0f6ff);

  @media screen and (min-width: 768px) {
    padding: 60px 32px 90px;
  }

  @media screen and (max-width: 767px) {
    padding: 24px 32px 40px;
  }
}

.addlink {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.addlink-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 20px;
  width: 800px;
  height: 55px;
  gap: 8px;

  border-radius: 15px;
  border: 1px solid var(--linkbrary-primary-color, #6d6afe);
  background: var(--linkbrary-white, #fff);

  @media screen and (min-width: 768px) {
    width: 704px;
  }

  @media screen and (max-width: 767px) {
    width: 325px;
  }
}

.addlink-input::placeholder {
  padding-left: 25px;
  width: fit-content;
  background-size: 20px;
  background: url("../assets/link.svg") no-repeat left;
  color: var(--linkbrary-gray-60, #9fa6b2);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.addlink-button {
  position: absolute;
  top: 8px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  cursor: pointer;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
}
