.ReactModal__Content {
  position: relative;
  display: flex;
  inset: auto !important;
  padding: 32px 40px !important;
  border-radius: 15px !important;
  border: 1px solid var(--Stroke-light, #dee2e6) !important;
  background: var(---Gray-White, #fff) !important;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addlinkmodal-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.addlinkmodal-title-section {
  display: flex;
  width: 280px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.addlinkmodal-maintitle {
  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.addlinkmodal-subtitle {
  color: var(--Linkbrary-gray60, #9fa6b2);
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.addlinkmodal-folder-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.addlinkmodal-folder-list-btns {
  position: relative;
  display: flex !important;
  padding: 8px;
  width: 264px;
  gap: 8px;
  align-items: center;
}

.addlinkmodal-folder-list-btns.selected {
  border-radius: 8px;
  color: var(--Linkbrary-primary-color, #6d6afe);
  background: var(--Linkbrary-bg, #f0f6ff);
}

.addlinkmodal-folder-list-btn-name {
  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.addlinkmodal-folder-list-btn-name.selected {
  color: var(--Linkbrary-primary-color, #6d6afe);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.addlinkmodal-folder-list-btn-check {
  display: none;
}

.addlinkmodal-folder-list-btn-check.selected {
  display: block;
  position: absolute;
  right: 10px;
}

.addlinkmodal-folder-list-btn-count {
  color: var(--Linkbrary-gray60, #9fa6b2);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.addlinkmodal-folder-addbtn {
  display: flex;
  width: 280px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(
    --gra-purpleblue-to-skyblue,
    linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
  );
  color: var(--Grey-Light, #f5f5f5);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.addlinkmodal-folder-closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
}
