.cardlist-section {
  margin-top: 4rem;
  margin-bottom: 60px;

  @media (max-width: 1199px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.cardlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2.5rem;
  column-gap: 2rem;
  width: fit-content;
  margin: 0 auto;

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
    column-gap: 2rem;
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card-section {
  display: flex;
  flex-direction: column;
  width: 340px;
  box-shadow: 0 0.5rem 2.5rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem;
  overflow: hidden;
  border: 3px solid var(--color-blue);

  &:hover {
    .star-btn-img {
      transform: scale(1);
    }
    .kebab-btn-img {
      transform: scale(1);
    }
  }
  
  @media screen and (min-width: 375px) and (max-width: 767px) {
    width: 325px;
    height: 327px;
  }
}

.card-section:hover {
  border: 3px solid var(--linkbrary-primary-color, #6d6afe);
  background: var(--linkbrary-bg, #f0f6ff);
}

.card-section:hover img {
  transform: scale(1.3);
  transition: all 0.5s;
  background-color: var(--light-blue);
}

.card-img-section {
  position: relative;
  width: 340px;
  height: 200px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
  background-position: center;
  background-size: 100%;

  @media screen and (min-width: 375px) and (max-width: 767px) {
    width: 325px;
    height: 192px;
  }
}

.star-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 34px;
  height: 34px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 340px;
  padding: 15px 20px;
}

.card-kebab-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.card-timeAgo {
  color: #666;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-description {
  width: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  line-height: 150%;
  overflow: hidden;
}

.card-createdAt {
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.no-links-message {
  display: flex;
  width: 1060px;
  height: 100px;
  padding: 41px 0px 35px 0px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.no-cardlist-message-section {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.no-cardlist-message {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
}

