.ReactModal__Content {
  position: relative;
  display: flex;
  inset: auto !important;
  padding: 32px 40px !important;
  border-radius: 15px !important;
  border: 1px solid var(--Stroke-light, #dee2e6) !important;
  background: var(---Gray-White, #fff) !important;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deletefoldermenumodal-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.deletefoldermenumodal-title {
  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.deletefoldermenumodal-foldername {
  color: var(--Linkbrary-gray60, #9fa6b2);
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.deletefoldermenumodal-deletebtn {
  display: flex;
  width: 280px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Linkbrary-red, #ff5b56);
  color: var(--Grey-Light, #f5f5f5);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.deletefoldermenumodal-closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
}
